Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

fixed doc mismatch
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

changes in workflow manager
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

review comments fixed
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Added two bug fix
  .coverage
  dnac.log
  plugins/modules/wireless_design_workflow_manager.py
  tests/unit/modules/dnac/test_wireless_design_module_workflow_manager.py
Due: run-setup=false, continued, run-any

Added two bug fix
  .coverage
  dnac.log
Due: run-setup=false, continued

Addressed review comment
  plugins/modules/wireless_design_workflow_manager.py
  tests/unit/modules/dnac/test_wireless_design_module_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP Workflow - Code review docstring changes
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

CSCws93890 fix
  plugins/modules/template_workflow_manager.py
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

2 bugs fixed
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Wireless profile - Feature template document update
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Inventory workflow - Documentation update on the schedule description
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Accesspoint Config - Controller field comparision corrected
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

sda_host_port_onboarding_workflow_manager documentation fix
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

3 bugs fixed
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Workflow - Sanity issue
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Add required field validation for SDA fabric device parameters
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

update default Cisco DNA Center version to 3.1.6.0 in documentation fragments
  plugins/doc_fragments/intent_params.py
  plugins/doc_fragments/module.py
  plugins/doc_fragments/module_info.py
Due: run-setup=false, continued, run-any

ensure swap space is only added if not already active in CI workflow
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

update default DNAC version to 3.1.6.0 in argument specification
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any

add /scripts/ to .gitignore to exclude script files from version control
  .gitignore
Due: run-setup=false, continued

add release 6.46.0 for compatibility with Cisco Catalyst Center version 3.1.6.0 and introduce new modules for access groups, compliance, devices, and more
  changelogs/changelog.yaml
Due: run-setup=false, continued

update README to reflect support for Cisco DNA Center version 3.1.6.0
  README.md
Due: run-setup=false, continued

update version to 6.46.0 and correct author email addresses in galaxy.yml
  galaxy.yml
Due: run-setup=false, continued

refactor: remove deprecated action modules and add new delete modules for network profiles and access point positions
  plugins/action/floors_floor_id_planned_access_point_positions.py
  plugins/action/floors_floor_id_planned_access_point_positions_id.py
  plugins/action/images_site_wise_product_names.py
  plugins/action/network_devices_network_profiles_for_sites.py
  plugins/action/network_devices_network_profiles_for_sites_delete.py
  plugins/modules/floors_floor_id_planned_access_point_positions_id.py
  plugins/modules/network_devices_network_profiles_for_sites_delete.py
Due: run-setup=false, continued, run-any

fix: update version_added in sites_info.py to reflect accurate version
  plugins/modules/sites_info.py
Due: run-setup=false, continued, run-any

feat: add upgrade_software_release_create module for managing software upgrades
  plugins/action/upgrade_software_release_create.py
  plugins/modules/upgrade_software_release_create.py
Due: run-setup=false, continued, run-any

fix: update default version in intent_params.py to 2.2.3.3
  plugins/doc_fragments/intent_params.py
Due: run-setup=false, continued, run-any

feat: add connection_mode_setting and connection_mode_setting_info modules for managing CSSM connection modes
  plugins/action/connection_mode_setting.py
  plugins/action/connection_mode_setting_info.py
  plugins/modules/connection_mode_setting.py
  plugins/modules/connection_mode_setting_info.py
Due: run-setup=false, continued, run-any
