Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

User and role comments fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Modifications for site_enhancement_module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

bug fixed testing need to be done
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

minoe fix in inventory
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Add the note of adding virtual network in possible combination, also remove the commented code
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

addressed the review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

review comments compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

change camelCase to snake_case
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

review comments compleated
  plugins/modules/swim_workflow_manager.py
  tests/output/bot/ansible-test-sanity-ansible-doc.json
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-validate-modules.json
  tests/output/bot/ansible-test-sanity-yamllint.json
Due: run-setup=false, run-any, run-swim

review comments compleated
  tests/output/bot/ansible-test-sanity-ansible-doc.json
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-validate-modules.json
  tests/output/bot/ansible-test-sanity-yamllint.json
Due: run-setup=false

network compliance, device config backups bug fixes and dnac.py update
  plugins/module_utils/dnac.py
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  tests/integration/ccc_device_configs_backup_management/tests/test_device_configs_backup_management.yml
Due: run-setup=false, run-any, run-all

network compliance, device config backups bug fixes and dnac.py update
  plugins/module_utils/dnac.py
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any, run-all

tests compleated for the wireless reprovision
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

small fix
  playbooks/inventory_workflow_manager.yml
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

testing compleated
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

addressed PR review comments
  plugins/module_utils/dnac.py
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any, run-all

addressed PR review comments
  plugins/module_utils/dnac.py
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any, run-all

addressed PR review comments
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

bug fixed
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

sanity fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

spelling mistake fix for sda_host_port_onboarding module
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

RMA bugs fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

RMA bugs fixed
  playbooks/user_role_workflow_manager.yml
Due: run-setup=false

Tested the L2 Handoff and L3 Handoff with SDA Transit
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

camelCase to snake_case
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

bug fix
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

AP bulk updated functionality enabled
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

coding for 2 bugs in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any
