Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

addressed review comments and fix the examples parameter 'resync_interval' to 'resync_retry_interval' match with parameter given in documentation
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

change versions for actions, python, ubuntu on workflows
  .github/workflows/docs.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

update log message
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

add stable-2.17 because of expected date
  .github/workflows/sanity_tests.yml
Due: run-setup=false

update requires_ansible; Ansible Core 2.14 is EoL on May 31, 2024
  meta/runtime.yml
Due: run-setup=false

fix ansible compile issues on python 2.7
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Fix the issue of API timeout while fetching devices associated to site resulting into failure of Distribution/Activation swim image task.
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

update the condition for checking interface needs update or not and log the corresponding message.
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

remove serial_number from the device params dict
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Adding fix for ipAddressList field length should not exceed 255
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, run-any, run-discovery

Adding fix for ipAddressList field length should not exceed 255
  plugins/modules/discovery_intent.py
Due: run-setup=false, run-any

Adding fix for Infinite Loop Issue while aborting a discovery
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, run-any, run-discovery

changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

reduced the number of ip range to 7 in discovery IT
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
Due: run-setup=false, run-any, run-discovery

Enhance log messages for device validation, interface details
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Added a new feature on reserved pool (Accessing using the name of the global pool)
  playbooks/network_settings_workflow_manager.yml
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

network compliance module
  .circleci/config.yml
  playbooks/network_compliance_workflow_manager.yml
  plugins/modules/network_compliance_workflow_manager.py
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_network_compliance_management/defaults/main.yml
  tests/integration/ccc_network_compliance_management/meta/main.yml
  tests/integration/ccc_network_compliance_management/tasks/main.yml
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-setup=false, run-any, run-discovery, run-swim

Used offset to find the global pool details
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Resolved the sanity errors
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Enhanced log result messaged for updating role of multiple devices
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Changed the playbook and documentation order as per GUI
  playbooks/network_settings_workflow_manager.yml
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Eliminated the useless and redundant variables and optimised the code, made some changes in the logs
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

network compliance module
  plugins/modules/network_compliance_workflow_manager.py
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
Due: run-setup=false, run-any

Update device credentials giving error because API is taking empty string for http credentials from exported csv file
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Resolved the problem with the snmp and syslog servers updation.
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Adding try and error exception for provision module
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Fix the issue of Wired Device Provisioning when running second time by handling the exception
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Add the log message for device prov status flag
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Added a check for the global device credentials while verifying the config
  playbooks/device_credential_workflow_manager.yml
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

While checking snmp dest needs update, mistakenly call 'email_dest_needs_update'
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential
