Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Coding started
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Minor fix in inventory workflow manager
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Minor fix in inventory workflow manager sanity compleated
  plugins/modules/inventory_workflow_manager.py
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, run-any, run-inventory

Refactor
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Minor fix in inventory workflow manager sanity compleated
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

BUG fix: CSCwm70601 NW Settings - Error message is unclear when multiple invalid input is passed in a single list
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

added parameters for new wireless provision
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Tested basic cases and the SDKs other than fabric devices
  plugins/modules/fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Removed the useless logs
  plugins/modules/fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

New LAN Automation Module
  playbooks/lan_automation_workflow_manager.yml
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, run-any

re-provision pending for version 2.3.7.6
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

addressed PR review comments for extranet policies module
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

changes Site_enhancement_module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

addressed PR review comments for sda host port module
  playbooks/sda_host_port_onboarding_workflow_manager.yml
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

New changes Site_enhancement_module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

addressed PR review comments for sda host port module
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

SWIM Bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

New changes for site_enhancement_module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

provision code compleated
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Enhancement for provision workflow module is done
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, run-any

Addressed PR review comments by updating the log messages and spliting larger functions into smaller ones.
  playbooks/fabric_sites_zones_workflow_manager.yml
  playbooks/fabric_virtual_networks_workflow_manager.yml
  plugins/modules/fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

addressed more review comments
  playbooks/fabric_sites_zones_workflow_manager.yml
  playbooks/fabric_virtual_networks_workflow_manager.yml
  plugins/modules/fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

Enhancement for provision workflow module is done
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Rename the playbook and module name from fabric_virtual_networks_workflow_manager --> sda_fabric_virtual_networks_workflow_manager and update the examples and documentation as well
  playbooks/sda_fabric_virtual_networks_workflow_manager.yml
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

Bug Fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Enhancement for provision workflow module
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

User and Role bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

updation done
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Add the exception block in the dnac.py file to get the API failure message instead of generic Exception message.
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Add family and function name in the exception msg
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

3 bug fixed in this pull req
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

User and Role bug fixed
  plugins/module_utils/dnac.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any, run-all
