Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Changes from Intg and updated path
  .github/workflows/unit_tests.yml
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Corrected indentation
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

PYTHONPATH at the CWD
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Simplifying paths
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

cisco.dnac
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

ansible collection build
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Using default cisco-dnac.tar.gz
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

install cisco-dnac*
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Set ANSIBLE_COLLECTIONS_PATH
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

ANSIBLE_COLLECTIONS_PATH
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

ubuntu-24.04
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Setup Ansible Environment
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Checkout to default location
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Use default checkout location
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

env.ANSIBLE_COLLECTIONS_PATH
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Cleanup
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Simplified paths
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Python 3.12
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

ANSIBLE_COLLECTIONS_PATH
  .github/workflows/unit_tests.yml
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Unittests
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

ubuntu-22.04
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Missing quotes
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

More python-version
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Requirements file
  test-requirements.txt
Due: run-setup=false, continued

distribution code compleated
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

distribution code compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Sanity for Yaml file
  playbooks/path_trace_workflow_manager.yml
Due: run-setup=false, continued

Inconsistent Edit Permissions for Syslog Detail fields between UI & Playbook
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Add the validation check for the events subscription notification for Syslog, Email and Webhook and also correct the typo in the validate input for webhook destination.
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, continued, run-any, run-eventsandnotif

Update the parameter 'name' description in the documentation as well.
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, continued, run-any, run-eventsandnotif

Invalid KPI Fabric Control Plane Reachability for switch_and_hub
  plugins/modules/assurance_device_health_score_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/assurance_device_health_score_settings_workflow_manager.json
  tests/unit/modules/dnac/fixtures/assurance_health_score_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_device_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, continued, run-any, run-eventsandnotif

remame IT files
  tests/integration/ccc_assurance_device_health_score_settings_management/defaults/main.yml
  tests/integration/ccc_assurance_device_health_score_settings_management/meta/main.yml
  tests/integration/ccc_assurance_device_health_score_settings_management/tasks/main.yml
  tests/integration/ccc_assurance_device_health_score_settings_management/tests/test_assurance_device_health_score_settings_management.yml
  tests/integration/ccc_assurance_device_health_score_settings_management/vars/vars_assurance_device_health_score_settings_management.yml
Due: run-setup=false, continued, run-any

add CatC version validation & supported states
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

code in progress
  playbooks/swim_workflow_manager.yml
Due: run-setup=false, continued

cosmetic changes to wireless design module and added unit tests
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
  tests/unit/modules/dnac/fixtures/wireless_design_workflow_manager_intent.json
  tests/unit/modules/dnac/test_wireless_design_module_workflow_manager.py
Due: run-setup=false, continued, run-any
