Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

update the docstring for the method update_destination_notification_messages
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

addressed reveiw comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

ITs, bug fix in dnac.py and UTs dnac_module.py
  plugins/module_utils/dnac.py
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
  tests/unit/modules/dnac/dnac_module.py
Due: run-setup=false, run-any, run-all

Update the documentation for the updation of device, it must be present in Catalyst Center.
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

update the docstring for the module result if device is missing while updating the device credentials/details.
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Update the review comments
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Updated code with sanity
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

UTs & minor changes - Network Compliance module
  plugins/modules/network_compliance_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_compliance_workflow_manager.json
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
Due: run-setup=false, run-any

UTs & minor changes - Network Compliance module
  plugins/modules/network_compliance_workflow_manager.py
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
Due: run-setup=false, run-any

UTs & minor changes - Network Compliance module
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
Due: run-setup=false

UTs & minor changes - Network Compliance module
  tests/unit/modules/dnac/fixtures/network_compliance_workflow_manager.json
Due: run-setup=false

Update the log message by including device ips in the failure message while adding the device in inventory.
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

accesspoint_update_feature covered around 52
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

integration test cases added
  tests/integration/ccc_user_role_workflow_manager/defaults/main.yml
  tests/integration/ccc_user_role_workflow_manager/meta/main.yml
  tests/integration/ccc_user_role_workflow_manager/tasks/main.yml
  tests/integration/ccc_user_role_workflow_manager/tests/test_user_role_workflow_manager.yml
  tests/integration/ccc_user_role_workflow_manager/vars/vars_user_role_workflow_manager.yml
Due: run-setup=false, run-any

Completed unit, integration, and sanity testing, and initial code review.
  playbooks/user_role_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/user_role_workflow_manager.py
  tests/integration/ccc_user_role_workflow_manager/tests/test_user_role_workflow_manager.yml
  tests/integration/ccc_user_role_workflow_manager/vars/vars_user_role_workflow_manager.yml
  tests/unit/modules/dnac/dnac_module.py
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, run-any, run-all

Fix the issue of exporting more than 800 devices in a batch of 500 at a time while updating devices, also fix the issue of creating email destination in fresh set up by handling the exception.
  plugins/modules/events_and_notifications_workflow_manager.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

accesspoint_update_feature_all_fields covered 69
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

take export_device_details_limit parameter from the playbook and given the default value as 500.
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

update the default value in the validate_input API as well
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

accesspoint_update_feature UT completed with 81%
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature some spelling mistake
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Updated the code for user_role_workflow_manager.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Modified code according to review comments and Unit testing code
  tests/unit/modules/dnac/fixtures/rma_workflow_manager.json
  tests/unit/modules/dnac/test_rma_workflow_manager.py
Due: run-setup=false

Modified code according to review comments
  playbooks/rma_workflow_manager.yml
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

Removed extra line in the end
  tests/unit/modules/dnac/fixtures/rma_workflow_manager.json
  tests/unit/modules/dnac/test_rma_workflow_manager.py
Due: run-setup=false

Updated the user_role_workflow_manager.py file
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Updated the Unit Testing Files
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false

Updated the Unit Testing File
  dnac.log
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
Due: run-setup=false

Update the notes in the documentation stating that module expects valid input for successful execution.
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Fix for prefix length check
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, run-any, run-discovery

Update the notes in documentation
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Fixed the problem with the shared_secret updation
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Changes in the error message
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Changes in changelog and galaxy
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
