Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

disable StrictHostKeyCheck
  .circleci/config.yml
Due: run-setup=false

check vars
  .circleci/config.yml
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

Don't run everytime
  .circleci/config.yml
Due: run-setup=false

Fix shellcheck
  run_tests.sh
Due: run-setup=false

RMA bugs fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

Correction from userand_roles to user_and_roles and from a_a_a to aaa
  plugins/action/sites_aaa_settings.py
  plugins/action/sites_aaa_settings_info.py
  plugins/action/users_external_authentication.py
  plugins/action/users_external_servers_aaa_attribute.py
  plugins/modules/role_permissions_info.py
  plugins/modules/roles.py
  plugins/modules/roles_info.py
  plugins/modules/sites_aaa_settings.py
  plugins/modules/sites_aaa_settings_info.py
  plugins/modules/user.py
  plugins/modules/user_info.py
  plugins/modules/users_external_authentication.py
  plugins/modules/users_external_authentication_info.py
  plugins/modules/users_external_servers_aaa_attribute.py
  plugins/modules/users_external_servers_aaa_attribute_info.py
  plugins/modules/users_external_servers_info.py
Due: run-setup=false, run-any

user_role_workflow_manager bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Address the review comments of previous PR for the new module fabric_sites_zones_workflow_manager.
  plugins/modules/fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

user and roles comments fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

fabric sites zones review comments addressed
  playbooks/fabric_sites_zones_workflow_manager.yml
  plugins/modules/fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

Address the review comment of previous PR for the bug fix of resync device in inventory
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

RMA comments fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

User and Roles comments fixed
  plugins/module_utils/dnac.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any, run-all

add permissions
  .github/workflows/main.yml
Due: run-setup=false

Move automerge to seperate workflow
  .github/workflows/automerge.yml
  .github/workflows/main.yml
Due: run-setup=false

User and Roles comments fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Swim enhansment compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

changes in workflow manager module
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Update dnac.py
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Update accesspoint_workflow_manager.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Addressed all code review comment
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Sanity issue fixed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

UT test case error fixed
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false

updated compatibility matrix
  README.md
Due: run-setup=false

Code review comments fixed
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Sanity check space issue
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Sanity check space issue
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false
