Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Added the version check for the new parameters added in fabric vlan and anycast gateways.
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

added the 3.1.3.0 in the version check for the new parameters
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

update validation
  playbooks/flexible_reports_workflow_manager.yml
  plugins/modules/flexible_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Added the new parameters support message in the notes of the workflow manager module.
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated python version to 3.12 for devel testing. current devel version: ansible-core-2.20.0.dev0 requires python>=3.12
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false, continued

Updated python version to 3.12 for devel testing.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

reports creation
  playbooks/reports_workflow_manager.yml
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

reports creation
  playbooks/flexible_reports_workflow_manager.yml
  plugins/modules/flexible_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint workflow - Yaml Document updates
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Address the review comments
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Version changes in galaxy
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Changing Python version in running sanities
  .github/workflows/sanity_tests.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false, continued

Template workflow - Example document update.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Sanity fixed
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fixed
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

bug compleated
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Access point workflow - Document update for Channel width
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Version change
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

sanity fix
  playbooks/reports_workflow_manager.yml
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  playbooks/reports_workflow_manager.yml
Due: run-setup=false, continued

Streamlined the None and "" description. Both are handelled the same way in UI and are considered blank description.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Fix
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments compleated
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

review code compleated
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Update .gitignore to include .github/copilot-instructions.md and fix release date in changelog.yaml
  .gitignore
  changelogs/changelog.yaml
Due: run-setup=false, continued

fix sanity errors
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
