Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Wireless Profile - Addressed Review comments
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fix: Idempotency shouldn't apply for report generation
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Code completed
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

param confirmation is pending, testing is pending
  plugins/modules/swim_workflow_manager.py
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
  tests/output/bot/ansible-test-sanity-validate-modules.json
Due: run-setup=false, continued, run-any, run-swim

review completed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

addressed review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

sanity fixed
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
  tests/output/bot/ansible-test-sanity-validate-modules.json
Due: run-setup=false, continued

UT completed & yaml fixed
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

IT Completed
  tests/integration/ccc_fabric_devices_info_workflow_manager/tests/test_fabric_devices_info_workflow_manager.yml
  tests/integration/ccc_fabric_devices_info_workflow_manager/vars/vars_fabric_devices_info_workflow_manager.yml
Due: run-setup=false, continued, run-any

PNP Workflow - UT Negative case added
  tests/unit/modules/dnac/fixtures/pnp_workflow_manager.json
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued

PNP Workflow manager - Updated some UT cases
  tests/unit/modules/dnac/fixtures/pnp_workflow_manager.json
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued

Addressed review comments & Bugs fixed
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/integration/ccc_backup_and_restore_workflow_manager/vars/vars_backup_and_restore_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Template workflow - Removed to check latest template version id
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

AND OR logic implemetation
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Few bug Fixes:
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

fix: Type Mismatch in reserve ip pool
  plugins/action/reserve_ip_subpool_info.py
  plugins/modules/reserve_ip_subpool_info.py
Due: run-setup=false, continued, run-any

test in progress
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix the issue of support bulk creation of port channels — more than 20 ports per device in a single operation.
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Unit Tests
  tests/unit/modules/dnac/fixtures/lan_automation_workflow_manager.json
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued

Sanity Fix
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued

updated float to int to fix mismatch
  playbooks/reserve_ip_subpool.yml
Due: run-setup=false, continued

updated float to int to fix mismatch
  plugins/action/client_health_info.py
  plugins/action/clients_count_info.py
  plugins/action/diagnostic_validation_workflows_count_info.py
  plugins/action/energy_network_devices_info.py
Due: run-setup=false, continued, run-any

brownfield WCA
  playbooks/brownfield_wired_campus_automation_playbook_generator.yml
  plugins/modules/brownfield_wired_campus_automation_playbook_generator.py
Due: run-setup=false, continued, run-any

helper file for brownfield playbook gen
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

bug completed
  playbooks/wireless_design_workflow_manager.yml
Due: run-setup=false, continued

bug completed
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

updated float to int to fix mismatch
  plugins/action/field_notices_results_trend_info.py
  plugins/action/floors_floor_id_access_point_positions_info.py
  plugins/action/floors_floor_id_planned_access_point_positions_info.py
  plugins/action/health_score_definitions_info.py
  plugins/action/icap_capture_files_info.py
  plugins/action/icap_settings_device_deployments_info.py
  plugins/action/icap_settings_info.py
  plugins/action/icap_spectrum_interference_device_reports_info.py
  plugins/action/icap_spectrum_sensor_reports_info.py
  plugins/action/images_info.py
  plugins/action/images_site_wise_product_names_info.py
  plugins/action/interfaces_info.py
  plugins/action/iot_network_devices_network_device_id_mrp_rings_id_members_info.py
  plugins/action/iot_network_devices_network_device_id_mrp_rings_info.py
  plugins/action/ipam_global_ip_address_pools_global_ip_address_pool_id_subpools_info.py
  plugins/action/ipam_global_ip_address_pools_info.py
  plugins/action/ipam_site_ip_address_pools_info.py
  plugins/action/lan_automation_log_info.py
  plugins/action/lan_automation_status_info.py
  plugins/action/network_applications_info.py
  plugins/action/network_bugs_results_bugs_id_network_devices_info.py
  plugins/action/network_bugs_results_bugs_info.py
  plugins/action/network_bugs_results_network_devices_info.py
  plugins/action/network_bugs_results_network_devices_network_device_id_bugs_info.py
  plugins/action/network_bugs_results_trend_info.py
  plugins/action/network_device_config_files_info.py
  plugins/action/network_device_image_updates_info.py
  plugins/action/network_device_images_info.py
  plugins/action/network_device_images_validation_results_info.py
  plugins/action/network_device_images_validations_info.py
  plugins/action/network_device_replacements_info.py
Due: run-setup=false, continued, run-any

updated float to int to fix mismatch
  plugins/modules/sda_anycast_gateways_info.py
Due: run-setup=false, continued, run-any

sanity fix
  playbooks/reserve_ip_subpool.yml
  playbooks/sda_anycast_gateways.yml
Due: run-setup=false, continued

sanity fix
  playbooks/sda_anycast_gateways.yml
Due: run-setup=false, continued

Accesspoint Location workflow - Addressed code review comments
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any
