Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Resolved the problem after bringing the ISE server to 'Failed' state
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Address review comments and added email validation check while creating email events subscription notification.
  playbooks/events_and_notifications_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any, run-all

Rename input parameter like events_name -> events, site_names->sites, destination_name->destination etc. and updated the documentation and examples as well rename in the playbook.
  playbooks/events_and_notifications_workflow_manager.yml
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Added the maximum timeout for checking the execution of task id and execution id
  plugins/module_utils/dnac.py
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any, run-all

Addressed the review comments
  plugins/module_utils/dnac.py
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any, run-all

Added the API name in check_task_response_status and check_execution_response_status
  plugins/module_utils/dnac.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-devicecredential

Addressed the review comments
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Added changes in galaxy.yml and updated new version
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Added provision attribute
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Enhancement get compliance details of device api
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Addresed sanity issues
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Addressed PR review comments
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Fix the issue of typo error in email notification, parameter 'trust_cert' and 'is_proxy_route' was not updating in webhook destination
  playbooks/events_and_notifications_workflow_manager.yml
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Rename the variable from 'fromEmailAddress' --> sender_email and 'toEmailAddresses' --> recipient_emails
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Adding circleci
  .circleci/config.yml
Due: run-setup=false

Adding config in circleci
  .circleci/config.yml
Due: run-setup=false

Addressed review comments
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Gave different error message for 'INPROGRESS' and 'FAILED' state
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Changed the ise_integration_wait_time maximum limit from 60 to 120
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Improved the error message for 'INPROGRESS' state
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Changing the name from desc to description
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, run-any, run-discovery

Minor Bug - network_compliance module:
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Added a maximum timeout for running a infinite loop
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Resolved the sanity errors
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Resolved the problem with the reservation of pool when passing the ipv6_address_space as false
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Create accesspoint_workflow_manager.yml
  playbooks/accesspoint_workflow_manager.yml
Due: run-setup=false

Create accesspoint_workflow_manager.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

address review comment
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Addjust circleci config and add integration tests (#285)
  .circleci/config.yml
  test-requirements.txt
  tests/integration/ccc_device_credential_management/defaults/main.yml
  tests/integration/ccc_device_credential_management/meta/main.yml
  tests/integration/ccc_device_credential_management/tasks/main.yml
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_device_credential_management/vars/vars_credential_management.yml
  tests/integration/ccc_discovery_management/defaults/main.yml
  tests/integration/ccc_discovery_management/meta/main.yml
  tests/integration/ccc_discovery_management/tasks/main.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_discovery_management/vars/vars_misc.yml
  tests/integration/ccc_inventory_management/defaults/main.yml
  tests/integration/ccc_inventory_management/meta/main.yml
  tests/integration/ccc_inventory_management/tasks/main.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_network_compliance_management/defaults/main.yml
  tests/integration/ccc_network_compliance_management/meta/main.yml
  tests/integration/ccc_network_compliance_management/tasks/main.yml
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
  tests/integration/ccc_pnp_management/defaults/main.yml
  tests/integration/ccc_pnp_management/meta/main.yml
  tests/integration/ccc_pnp_management/tasks/main.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
  tests/integration/ccc_site_management/defaults/main.yml
  tests/integration/ccc_site_management/meta/main.yml
  tests/integration/ccc_site_management/tasks/main.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
  tests/integration/ccc_swim_management/defaults/main.yml
  tests/integration/ccc_swim_management/meta/main.yml
  tests/integration/ccc_swim_management/tasks/main.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-setup=false, run-any, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Return a failure message when the task or execution is not compeleted within the given time
  plugins/module_utils/dnac.py
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any, run-all

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
