Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

updated the required_update obj param
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Fix timezone-aware epoch conversion for scheduled operations
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

bugs completed
  plugins/modules/wireless_design_workflow_manager.py
  tests/unit/modules/dnac/fixtures/wireless_design_workflow_manager_intent.json
  tests/unit/modules/dnac/test_wireless_design_module_workflow_manager.py
Due: run-setup=false, continued, run-any

bugs completed
  playbooks/wireless_design_workflow_manager.yml
Due: run-setup=false, continued

bugs completed
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Inventory workflow - Not validated IP exist bug fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Bug fixed
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Bugs fixed
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Inventory Workflow - Updated type param in payload
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Inventory Workflow - Updated the Documentation and Start/end time validation
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

bugs completed
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Bug fixed
  plugins/modules/swim_workflow_manager.py
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued, run-any, run-swim

Bug fixed
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued

Bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Accesspoint Configuration - Docs string correction
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed documentation
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

documentation fix
  plugins/modules/assurance_device_health_score_settings_workflow_manager.py
  plugins/modules/assurance_icap_settings_workflow_manager.py
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

reports response update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Site workflow - Doument fix for site_type to type
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

Enhance site ID mapping logic for CCC version compatibility
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Formatted with black formatter
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix documentation for SDA fabric multicast module: update parameter types and mark required options
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Add elements type to options in SDA fabric multicast module documentation
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

code in progress
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

removed op_modify
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Documentaion Fix
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

updated 6 report template info in doc
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

bug completed
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

documentation update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

API testing in progress
  playbooks/wireless_design_workflow_manager.yml
Due: run-setup=false, continued

Site Brown field
  playbooks/brownfield_site_config_generator.yaml
  plugins/modules/brownfield_site_workflow_manager.py
  tests/unit/modules/dnac/fixtures/brownfield_site_workflow_manager.json
  tests/unit/modules/dnac/test_brownfield_site_workflow_manager.py
Due: run-setup=false, continued, run-any

device_configs_backup_workflow_manager: fixed the documentation
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

added code for skipping APs
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

PNP workflow - Changed the description to detailed
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp
