Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Wireless profile local to Vlan issue fixed
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

api uplift for global pool
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

corrected example for assurance_icap_settings example
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

7 bug fixes for wireless design workflow manager module
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

incorrect parameter reference
  tests/integration/ccc_wireless_design_management/vars/vars_wireless_design_management.yml
  tests/unit/modules/dnac/fixtures/wireless_design_workflow_manager_intent.json
Due: run-setup=false, continued, run-any

addressing sanity issues
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

documentation for system define issue name list
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Wireless profile addressed code review comments
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed code review comments for switch profile
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Updated the typo mistake on wireless profile.
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

adding unit test file
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Addressed code review comments for PNP
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Updated the output msg to UT also
  plugins/modules/pnp_workflow_manager.py
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

state based changes for lan module
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile UT based updated
  playbooks/network_profile_wireless_workflow_manager.yml
  plugins/modules/network_profile_wireless_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile UT based updated
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Update main.yml
  .github/workflows/main.yml
Due: run-setup=false, continued

addressed review comments and added 2 bug fixes
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Template UT Testcases
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

Adding a dot to trigger unit tests in github actions.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Wireless bugs are fixed
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Wireless bugs are fixed
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile UT base corrected
  plugins/modules/network_profile_wireless_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Enhance network_settings_workflow_manager module to support device controllability configuration
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Addressing grammer mistakes.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Return type change to make it consistent.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Add the UT for the new feature of device maintenance mode in inventory and also address the review comments.
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

fixed sanity and a bug
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed switch profile syntax for 2.7
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

fix lint errors
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

fixed lint errors
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

fix more lint errors
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory
