Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

bulk provision code compleated
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued, run-any, run-provision

sub image packages in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Wireless profile for sanity update yml docs
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

version added for 2.3.7.9
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

version added for 2.3.7.9
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued

version added for 2.3.7.9
  playbooks/provision_workflow_manager.yml
Due: run-setup=false, continued

Internal bug raised for Switch profile also sanity fix
  plugins/module_utils/network_profiles.py
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

code in progress
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

bulk provision compleated
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Tags Workflow Manager Code, with UT and IT.
  playbooks/tags_workflow_manager.yml
  plugins/modules/tags_workflow_manager.py
  tests/integration/ccc_tags_workflow_management/defaults/main.yml
  tests/integration/ccc_tags_workflow_management/meta/main.yml
  tests/integration/ccc_tags_workflow_management/tasks/main.yml
  tests/integration/ccc_tags_workflow_management/tests/test_tags_workflow_management.yml
  tests/integration/ccc_tags_workflow_management/vars/vars_tags_workflow_management.yml
  tests/unit/modules/dnac/fixtures/tags_workflow_manager.json
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed sanity
  playbooks/tags_workflow_manager.yml
Due: run-setup=false, continued

addressed sanity
  tests/unit/modules/dnac/fixtures/tags_workflow_manager.json
Due: run-setup=false, continued

addressed sanity
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued

Switch profile minor bug fixed
  plugins/module_utils/network_profiles.py
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Address Code review
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

rename module
  playbooks/assurance_device_health_score_settings_workflow_manager.yml
  plugins/modules/assurance_device_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

rename module
  playbooks/assurance_issue_workflow_manager.yml
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

rename module
  playbooks/assurance_issue_workflow_manager.yml
Due: run-setup=false, continued

added new param in playbook
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

fixed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Wireless profile code review comments addressed
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed code review comments
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Unittest
  .github/workflows/unit_tests.yml
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, continued

Simplify searching for the workflows
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Path improvements
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Path & filtering improvements
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Update path
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Update paths
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Added missing checkout step
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Changed working dir
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Fetching remote
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Improve the copy & git ops
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Testing with one specific file
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Updated collection path
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

addressed review comments
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Python path
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Collection path
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
