Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Site module delete floor address comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

code is done testing is progress
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Changes in workflow manager modules
  changelogs/changelog.yaml
Due: run-setup=false, continued

addressed review comments
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

addressed review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

update tag_member_v1_info
  changelogs/changelog.yaml
  playbooks/event_webhook_create.yml
  playbooks/get_tag_members_by_id.yml
  plugins/action/tag_member_v1_info.py
Due: run-setup=false, continued, run-any

devel error
  changelogs/changelog.yaml
Due: run-setup=false, continued

Path trace Addressed the review comments
  playbooks/pathtrace_settings_workflow_manager.yml
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace workflow Addressed all code review comments
  playbooks/pathtrace_settings_workflow_manager.yml
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comments
  plugins/modules/assurance_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch profile changes in dnac move to network_profiles
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

Network Switch profile Addressed code review Comments
  playbooks/network_switch_profile_workflow_manager.yml
  plugins/module_utils/network_profiles.py
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

fixed sanity
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Minor correction on Path trace
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

add log
  plugins/modules/assurance_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

doc updation
  plugins/modules/assurance_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace code reveiw comments addressed
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch profile addressed code review and bug fixed
  plugins/module_utils/network_profiles.py
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

1st review compleated
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

doc update
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Doc string changed in path trace have function
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  playbooks/assurance_health_score_settings_workflow_manager.yml
  plugins/modules/assurance_health_score_settings_workflow_manager.py
  tests/integration/ccc_assurance_healthscore_settings_management/tests/test_assurance_health_score_settings_management.yml
  tests/integration/ccc_assurance_healthscore_settings_management/vars/vars_assurance_health_score_settings_management.yml
  tests/unit/modules/dnac/fixtures/assurance_health_score_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

minor change
  tests/integration/ccc_assurance_healthscore_settings_management/tests/test_assurance_healthscore_settings_management.yml
  tests/integration/ccc_assurance_healthscore_settings_management/vars/vars_assurance_healthscore_settings_management.yml
  tests/unit/modules/dnac/fixtures/assurance_healthscore_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_healthscore_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Added example to support list of CCO images to import
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Address review comments and done sanity test
  plugins/modules/assurance_health_score_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/assurance_health_score_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Changes in swim workflow manager module
  README.md
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Addressed all 45 code review comments
  playbooks/pathtrace_settings_workflow_manager.yml
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

fixing the review comments
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

updated doc
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Switch profile some common changes for code quality
  playbooks/network_switch_profile_workflow_manager.yml
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any
