Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Wireless profile type and other 3 list completed
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile updated get wireless profile function name change
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

removing duplicate values in playbook
  playbooks/device_provision_workflow.yml
Due: run-setup=false, continued

Switch profile changes updated
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch profile changes updated
  plugins/module_utils/network_profiles.py
Due: run-setup=false, continued, run-any, run-all

Added logs and addressed review comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

add example
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comments
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Added versioning to delete_template_or_project function.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressed Sanity Issues
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressed Sanity issues
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Updated the docs string on Switch profile
  playbooks/network_profile_switching_workflow_manager.yml
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated the docs string on Switch profile
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed the issue with 'is_default_exit' while re-running the playbook
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed Review Comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

description field update in doc
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

code is in progress
  playbooks/application_policy_workflow_manager.yml
  playbooks/dnac.log
  plugins/module_utils/validation.py
  plugins/modules/application_policy_workflow_manager.py
  plugins/modules/tag_count_info.py
Due: run-setup=false, continued, run-any, run-all

PNP Workflow UT udpated
  plugins/modules/pnp_workflow_manager.py
  tests/unit/modules/dnac/fixtures/pnp_workflow_manager.json
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP Workflow UT udpated
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued

Path trace bug and document fixes done
  playbooks/path_trace_workflow_manager.yml
  plugins/modules/path_trace_workflow_manager.py
  tests/unit/modules/dnac/fixtures/path_trace_workflow_manager.json
  tests/unit/modules/dnac/test_path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace bug and document fixes done
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance Issue name lenth removed
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

testing is in progress
  playbooks/application_policy_workflow_manager.yml
  playbooks/dnac.log
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated UT for Switch profile
  plugins/modules/network_profile_switching_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_profile_switching_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated code review comments
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

device cntrlability
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

addressed review comments
  playbooks/application_policy_workflow_manager.yml
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/module_utils/validation.py
Due: run-setup=false, continued, run-any, run-all

addressed review comments
  playbooks/application_policy_workflow_manager.yml
Due: run-setup=false, continued

addressed review comments
  plugins/modules/tag_count_info.py
Due: run-setup=false, continued, run-any

PNP workflow data validation added
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

code fix for UT
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile OB template None type error fixed
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile local to Vlan issue fixed
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any
