Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

code compleated
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

started coding
  playbooks/dnac.log
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

59798 - Antenna gain issue fixed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

UT test case adjusted according to Antenna Gain
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false

Addressed one comments
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Addressed host name and mgmt ip address one comments
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

updated the code
  playbooks/dnac.log
  plugins/module_utils/dnac.py
  plugins/modules/inventory_workflow_manager.py
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-inventory

test circleci
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

Addressed host name in document removed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

only UT is pending
  plugins/modules/inventory_workflow_manager.py
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

new changes for the site workflow module
  plugins/modules/site_workflow_manager.py
  tests/integration/ccc_site_workflow_manager/defaults/main.yml
  tests/integration/ccc_site_workflow_manager/meta/main.yml
  tests/integration/ccc_site_workflow_manager/tasks/main.yml
  tests/integration/ccc_site_workflow_manager/tests/test_site_workflow_manager.yml
  tests/integration/ccc_site_workflow_manager/vars/vars_site_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/site_workflow_manager.json
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Reg bug for Cable lass has been updated
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
Due: run-setup=false, run-any

Changes for the Network_compliance_workflow_manager
  plugins/modules/network_compliance_workflow_manager.py
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Access point Cable lass has been updated
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Access point Cable lass has been updated code review addressed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

added new funtion in dnac get_site_id
  plugins/module_utils/dnac.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-swim

User and Role comments fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Modifications for the network_compliance_workflow_manager
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Update site_workflow_manager.py
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Access point hostname order addressed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

coding done
  playbooks/dnac.log
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

comments fixed
  plugins/module_utils/dnac.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-swim

comments fixed
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Site related changes for the network_compliance_workflow_manager
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

coding is done
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

added log
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

API changes for device_configs_backup_workflow_manager module
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

coding is done
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

dnac.py updated
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Addressed PR review comments
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all
