Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Modified the sanity_tests_devel file to run sanity tests only on the PR changes
  .github/workflows/sanity_tests.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

updated the sanity_tests_devel file
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

assign device to site function common changes done
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

removed the assign device to site common code removed
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Modifications for Site creation broken
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Modifications for Site creation broken and upload floor map
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Bug fixed realted to the site
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

Fixed the issue with tcp_mss_adjustment, update issue with localAutonomousSystemNumber, import_external_routes and is_default_exit and L2 handoff for a BN
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Addressed all 37 comments
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Sanity error fixed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

code is in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Changes for unit test
  tests/unit/modules/dnac/fixtures/site_workflow_manager.json
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false

Changes for unit test
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false

bug fixed - dev testing done QA testing starting
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Addressed the review comments
  plugins/modules/diff.txt
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Removed the diff.txt file
  plugins/modules/diff.txt
Due: run-setup=false, run-any

coding is in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Changes to resolve issues #200 'Sanity errors in discovery and event subscription modules.'
  plugins/action/event_subscription.py
  plugins/modules/discovery.py
Due: run-setup=false, run-any

Modifications of the changelog
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Update sanity_tests.yml
  .github/workflows/sanity_tests.yml
Due: run-setup=false

Spelling error in docstring
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Modified changes for single playbook
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Added a function to remove the duplicates of control plane node ips
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

bug fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

sanity tests only on modified files
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
