Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

instead of Unicode quotes
  plugins/modules/sites_wireless_settings_ssids.py
  plugins/modules/sites_wireless_settings_ssids_v1.py
  plugins/modules/wireless_profiles.py
  plugins/modules/wireless_profiles_v1.py
Due: run-setup=false, continued, run-any

Fix the issue of workflow shall not exit with failure if the targeted l3 gateway is already removed from fab and reserved pool
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comments
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch profile - None type when day n template
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

update modules
  plugins/modules/wired_network_devices_id_config_features_intended_layer2_feature.py
  plugins/modules/wired_network_devices_id_config_features_intended_layer2_feature_v1.py
Due: run-setup=false, continued, run-any

update the log message
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch Profile - Onboarding template validation message corrected
  plugins/modules/network_profile_switching_workflow_manager.py
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Addressed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

update wired_network_devices_id_config_features_intended_layer2_feature module
  plugins/modules/wired_network_devices_id_config_features_intended_layer2_feature.py
  plugins/modules/wired_network_devices_id_config_features_intended_layer2_feature_v1.py
Due: run-setup=false, continued, run-any

Time Zone in Maintenance is not showing correct in the galaxy
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

revert back to before enhacement changes
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Revert enhancement changes
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

UT fix
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

Adding multicast manager module
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Template workflow Manger - Enhancement projects feature implemented
  playbooks/template_workflow_manager.yml
  plugins/modules/template_workflow_manager.py
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Template workflow Manger - Enhancement projects feature implemented
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Code review comments updated
  plugins/modules/network_profile_switching_workflow_manager.py
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated the UT for the Site Workflow manager
  tests/unit/modules/dnac/fixtures/site_workflow_manager.json
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false, continued

Sanity issue fixed
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false, continued

CatC version validation Changes
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, continued, run-any

update change for invalid pattern validation
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

SDA Fabric Wireless Controller Capabilities Enhancement
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

update docs for main
  main/_sources/plugins/application_policy_workflow_manager_module.rst.txt
  main/_sources/plugins/assurance_issue_workflow_manager_module.rst.txt
  main/_sources/plugins/inventory_workflow_manager_module.rst.txt
  main/_sources/plugins/network_profile_switching_workflow_manager_module.rst.txt
  main/_sources/plugins/network_settings_workflow_manager_module.rst.txt
  main/_sources/plugins/provision_workflow_manager_module.rst.txt
  main/_sources/plugins/tags_workflow_manager_module.rst.txt
  main/objects.inv
  main/plugins/application_policy_workflow_manager_module.html
  main/plugins/assurance_issue_workflow_manager_module.html
  main/plugins/inventory_workflow_manager_module.html
  main/plugins/network_profile_switching_workflow_manager_module.html
  main/plugins/network_settings_workflow_manager_module.html
  main/plugins/provision_workflow_manager_module.html
  main/plugins/tags_workflow_manager_module.html
  main/searchindex.js
Due: run-setup=false, continued

Addressed review comments
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

updated doc for new param - device_collection_status_check
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Adding SDA Multicast workflow manager module
  changelogs/changelog.yaml
Due: run-setup=false, continued

Sanity Fix
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Small Change, Removing debugging code.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Update changelog.yaml
  changelogs/changelog.yaml
Due: run-setup=false, continued
