Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

added get_want for device cntrlability
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

merge conflict fix
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

updation
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Switching profile addressed code review comments
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Updated PNP for added and claim part
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP UT added to reach 76%
  tests/unit/modules/dnac/fixtures/pnp_workflow_manager.json
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued

PNP UT added to reach 76%
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued

PNP UT added to reach 76%
  plugins/modules/pnp_workflow_manager.py
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP UT added to reach 76%
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Switch profile addressed code review comments
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Switch profile Updated code review comments
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Includes 6 wireless design workflow manager bug fixes
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed sanity issues
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

test ci pipeline
  tests/integration/ccc_site_workflow_manager/vars/vars_site_workflow_manager.yml
Due: run-setup=false, continued, run-any

Switch profile 4 bug fixed
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

addresses review comments
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed github lint fail issue.
  playbooks/tags_workflow_manager.yml
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Removed blank line.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Export Project SDK issue fixed. Added versioning.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Validate and handle anchored VN deletion across main and subscriber sites
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Add validation error msg for Invalid threshold value for issue update
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comments
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

updated paramter mispelling in uts and its
  tests/integration/ccc_wireless_design_management/vars/vars_wireless_design_management.yml
  tests/unit/modules/dnac/fixtures/wireless_design_workflow_manager_intent.json
Due: run-setup=false, continued, run-any

PNP workflow failed list checked
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Wireless profile ansible lint fixed.
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Minor change in authors.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

review comments fixed
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review commentsz
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP added the Error reset code
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP workdflow sanity issue
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
