Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

docstring changes in notes section
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

range is not valid ansible doc
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

no_log is not part of Ansible doc
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

code for deletion
  playbooks/flexible_reports_workflow_manager.yml
  plugins/modules/flexible_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

code for deletion
  playbooks/flexible_reports_workflow_manager.yml
Due: run-setup=false, continued

changes in docstring
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

updating docstring in site manager module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

Adding references in site module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

updated retrieves_global_ip_address_pools_v1 to retrieves_global_ip_address_pools
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

PNP Workflow - Set authorization code updated
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

addressed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

updation done for all _v1 api names
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

synchronize_to_health_threshold and threshold_value in System Defined Issues shouldn't be mandatory
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

includes 2 bug fixes for the sda host port onboarding module
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Enhancement completed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

inventory workflow - fixed the third party device added in example
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

enhancement changes for Device configs Backup
  plugins/modules/device_configs_backup_workflow_manager.py
  tests/unit/modules/dnac/fixtures/device_configs_backup_workflow_manager_intent.json
  tests/unit/modules/dnac/test_device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

inventory workflow - fixed the compute device added in example
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

download feature
  playbooks/flexible_reports_workflow_manager.yml
  plugins/modules/flexible_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

fix(sda_multicast): support partial deletion of ipv4_asm_ranges and ipv6_asm_ranges in FABRIC RP config
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Addressed.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

fix(sda_device): handle NoneType when adding 'WC' role to ECA device
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  playbooks/network_devices_info_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Addressing review comments
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/output/bot/ansible-test-sanity-import-python-3.11.json
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Access Point Workflow - 6Ghz Raido Band added
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile workflow - Updated code review comments
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

IT fixed
  tests/integration/ccc_fabric_devices_info_workflow_manager/vars/vars_fabric_devices_info_workflow_manager.yml
Due: run-setup=false, continued, run-any

Update the documentation for the parameter is_pub_sub_enable
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

updated the sda host port onboarding bug for the fabric zones error
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed pr review comments
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments, Removed redundant code and refined variable naming.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed issue when more than one external RP can't be set as default.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

When 2 External RPs are passed, both should be marked as default. Added check for ensuring is_default_v4_rp and is_default_v6_rp are set.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

replaced == to is, for resolving sanity errors.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

fix(sda-multicast): handle API limitation when creating multicast across multiple sites
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any
