Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

sanity lint error fix
  plugins/modules/assurance_device_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Removing self.status = exited. exited is not required if we are processing multiple template creation/updation at one time.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

PNP Cat9k device mode issue manually assigned
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

version based changes
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Icap UT
  plugins/modules/assurance_icap_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/assurance_icap_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Fix
  playbooks/tags_workflow_manager.yml
Due: run-setup=false, continued

Multiple field error fixed for assurance issues
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

catC version added and one bug fixed invalid clause
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed the issue with the verify_diff_merged
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Adding versioning for get_project_details function. get_projects sdk function was removed from 2.3.7.9 SDK. Using get_projects_details_v2 to fetch the required details.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressing sanity
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Switch profie -Error message clarity changed the exception message
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Switch profie -Error message clarity changed the exception message
  plugins/module_utils/network_profiles.py
Due: run-setup=false, continued, run-any, run-all

Add changed check while deleting fabric zone
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed the profile switch comments
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Added fix for the bug: [TEMPLATE_COMPOSITE]: Add Template Compose fails with templates having empty configurations.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

PNP idempotent for check only device added
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP idempotent for check only device added fixed
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

sanity fix
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

version based changes for provision
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Add the examples for the delete device with clean up configuration, provide possible timezones in the documentation, also add the notes for the device deletion and device maintenance.
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Addressed sanity
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressing review comments.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Issue ignore not working. fixed.
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Plabook sanity
  playbooks/assurance_issue_workflow_manager.yml
Due: run-setup=false, continued

sanity fix
  tests/integration/ccc_assurance_icap_settings_management/defaults/main.yml
  tests/integration/ccc_assurance_icap_settings_management/meta/main.yml
  tests/integration/ccc_assurance_icap_settings_management/tasks/main.yml
  tests/integration/ccc_assurance_icap_settings_management/tests/test_assurance_icap_management.yml
  tests/integration/ccc_assurance_icap_settings_management/vars/vars_assurance_icap_management.yml
Due: run-setup=false, continued, run-any

issue ignored Minor changes
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

resolve conflict
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix for path trace module
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix for path trace
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Invalid threshold value for issue update causes unhandled exception instead of validation error
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
