Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Addressed PR review comments
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

new changes for network_config
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

Routes for the ise integration message in DNAC versions 2.3.7.6 and 2.3.7.9
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

4 major bugs fixed
  playbooks/dnac.log
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

testing compleated
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

testing compleated for 4 bugs
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/module_utils/dnac.py
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any, run-all

modified dnac.py
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

UT tests compleated
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false

UT tests compleated
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Bug fix: CSCwm60967 and Updated APIs for version based routing
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Sanity completed
  plugins/modules/inventory_workflow_manager.py
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Sanity completed
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
Due: run-setup=false

bugs fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

bugs fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

fix conflict and re-add network_settings_workflow_manager
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

AP provisoin and AP reboot code added
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Changes in SDA workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Latest changes for the device_configs_backup_workflow_manager
  plugins/module_utils/dnac.py
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any, run-all

Latest changes for the device_configs_backup_workflow_manager
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Added the try except block, get the failure reason and set it to msg, remove the task_params to have the precise failure reason
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

AP reboot and provision code modified as per dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

AP reboot and provision code modified as per dnac.py sanity
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

address the review comment
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

fix the task_details position
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Latest changes for the network_compliance_workflow_manager
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Modification for the network_compliance_workflow_manager
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

modifications for the network_compliance_workflow_manager
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

User and Role bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any
