Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Add examples for generating tag memberships using various device identifiers
  playbooks/tags_playbook_config_generator.yml
Due: run-setup=false, continued

Accesspoint config generator - Common changes of file mode yaml docs stirng fixed
  plugins/modules/accesspoint_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Accesspoint location CG - Common changes of file mode yaml docs stirng fixed
  plugins/modules/accesspoint_location_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Switch and wireless profile CG - File name added in the yaml docs string
  plugins/modules/network_profile_switching_playbook_config_generator.py
  plugins/modules/network_profile_wireless_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Wireless design config generator
  playbooks/wireless_design_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/wireless_design_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/wireless_design_playbook_config_generator.json
  tests/unit/modules/dnac/test_wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Enhanced _get_file_path logic
  playbooks/device_credential_playbook_config_generator.yml
  playbooks/sda_host_port_onboarding_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/device_credential_playbook_config_generator.py
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/device_credential_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_host_port_onboarding_playbook_config_generator.json
Due: run-setup=false, continued, run-any, run-all

Lint fix
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Added logs
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Wireless Design Workflow Manger Bug Fixes
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Added UT
  tests/unit/modules/dnac/fixtures/wireless_design_workflow_manager_intent.json
  tests/unit/modules/dnac/test_wireless_design_module_workflow_manager.py
Due: run-setup=false, continued

Bug fix for fixing idempotent issue
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location CG - Global filter duplicate value remove code added
  plugins/modules/accesspoint_location_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Template CG filters Bug Fix
  plugins/module_utils/brownfield_helper.py
  plugins/modules/template_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

sanity fix
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Refactor YAML configuration structure and update validation messages for tags playbook generator
  playbooks/tags_playbook_config_generator.yml
  plugins/module_utils/validation.py
  plugins/modules/tags_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/tags_playbook_config_generator.json
  tests/unit/modules/dnac/test_tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

fixed 2 bugs
  plugins/modules/inventory_workflow_manager.py
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Sanity Fix
  plugins/modules/tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any

fixed 2 bugs
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

fixed 2 bugs
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
Due: run-setup=false, continued

Config from list to dict
  playbooks/sda_fabric_sites_zones_playbook_config_generator.yml
  playbooks/sda_fabric_transits_playbook_config_generator.yml
  playbooks/sda_fabric_virtual_networks_playbook_config_generator.yml
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_fabric_sites_zones_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_transits_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_virtual_networks_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_fabric_transits_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_playbook_config_generator.py
Due: run-setup=false, continued, run-any

fixing lint issues
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
Due: run-setup=false, continued, run-any

lint issue fix
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Bug fixes:Site Config Generator
  playbooks/site_playbook_config_generator.yml
  plugins/modules/site_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/site_playbook_config_generator.json
  tests/unit/modules/dnac/test_site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Example update
  plugins/modules/site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Error fix
  playbooks/site_playbook_config_generator.yml
  plugins/modules/site_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/site_playbook_config_generator.json
  tests/unit/modules/dnac/test_site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

[Jeet] Added changes for file mode and config from list to dict
  playbooks/ise_radius_integration_playbook_config_generator.yml
  plugins/modules/ise_radius_integration_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/ise_radius_integration_playbook_config_generator.json
Due: run-setup=false, continued, run-any

[Jeet] Sanity fix
  plugins/modules/ise_radius_integration_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Update ise_radius_integration_playbook_config_generator.py
  plugins/modules/ise_radius_integration_playbook_config_generator.py
Due: run-setup=false, continued, run-any

changed config to dict in inventory playbook generator
  playbooks/inventory_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/inventory_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/inventory_playbook_config_generator_fixtures.json
Due: run-setup=false, continued, run-any, run-all

Adding Coding guidelines
  CONTRIBUTING.md
Due: run-setup=false, continued

Made stp_instance_vlan_id and igmp_snooping_vlan_id optional in wired_campus_automation_workflow_manager
  plugins/modules/template_workflow_manager.py
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Lint fix
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fix
  plugins/modules/events_and_notifications_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/events_and_notifications_playbook_config_generator.json
  tests/unit/modules/dnac/test_events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

fixed review comments
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Review comments addressing
  plugins/modules/site_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/site_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Site Brown field
  playbooks/brownfield_site_playbook_generator.yaml
  plugins/modules/brownfield_site_playbook_generator.py
  tests/unit/modules/dnac/fixtures/brownfield_site_playbook_generator.json
  tests/unit/modules/dnac/test_brownfield_site_playbook_generator.py
Due: run-setup=false, continued, run-any

Remove brownfield site playbook generator artifacts
  playbooks/brownfield_site_playbook_generator.yaml
  plugins/modules/brownfield_site_playbook_generator.py
  tests/unit/modules/dnac/fixtures/brownfield_site_playbook_generator.json
  tests/unit/modules/dnac/test_brownfield_site_playbook_generator.py
Due: run-setup=false, continued, run-any

Modified key name from temp_spec_function to reverse_mapping_function
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressed comments
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed Review Comments
  plugins/modules/wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
