Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Addressed review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, continued, run-any, run-eventsandnotif

Addressed review comments
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Add example for enable_bpu_guard param update
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

Lint issue fix
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

Duplicate words
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments fixed
  plugins/modules/pnp_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Validate null filters
  plugins/module_utils/brownfield_helper.py
  tests/unit/modules/dnac/fixtures/inventory_playbook_config_generator.json
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Addressed review comments
  plugins/modules/user_role_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Bugs fixed
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments fixed
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch profile CG - update overwrite code fixed
  plugins/modules/network_profile_switching_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Wireless profile CG - Overwrite code issue fixed
  plugins/modules/network_profile_wireless_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Integration Tests
  tests/integration/ccc_sda_fabric_devices_workflow_management/defaults/main.yml
  tests/integration/ccc_sda_fabric_devices_workflow_management/meta/main.yml
  tests/integration/ccc_sda_fabric_devices_workflow_management/tasks/main.yml
  tests/integration/ccc_sda_fabric_devices_workflow_management/tests/test_sda_fabric_devices_workflow_management.yml
  tests/integration/ccc_sda_fabric_devices_workflow_management/vars/vars_sda_fabric_devices_workflow_management.yml
Due: run-setup=false, continued, run-any

Unit tests
  tests/unit/modules/dnac/fixtures/sda_fabric_devices_workflow_manager.json
  tests/unit/modules/dnac/test_sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued

Indentation fixed
  playbooks/tags_workflow_manager.yml
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

added example
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

lint fix
  playbooks/tags_workflow_manager.yml
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Fix
  tests/unit/modules/dnac/test_sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued

Handelled missing child sites case.
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Added missing validations
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed sanity
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Modified param from enable_bpu_guard to enable_bpdu_guard
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

Aligning the playbook config generater with the recent changes in tags_workflow_manager
  playbooks/tags_playbook_config_generator.yml
  plugins/modules/tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Add documentation for parallel execution of LAN Automation sessions in playbooks using ansible internal functionalities.
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Fix
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed comments
  plugins/modules/template_workflow_manager.py
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Lint Fix
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Update changelog, djust release date for version 6.50.0
  changelogs/changelog.yaml
Due: run-setup=false, continued

fix(runtime): drop per-module deprecation from plugin_routing to satisfy validate-modules
  meta/runtime.yml
Due: run-setup=false, continued

fix(runtime): remove plugin_routing redirects from meta/runtime.yml
  meta/runtime.yml
Due: run-setup=false, continued

fix(runtime): ensure newline at end of file in meta/runtime.yml
  meta/runtime.yml
Due: run-setup=false, continued

bug fix
  plugins/modules/assurance_issue_playbook_config_generator.py
Due: run-setup=false, continued, run-any

update in changelog
  changelogs/changelog.yaml
Due: run-setup=false, continued

Removing Device Credentials Fetch
  playbooks/inventory_playbook_config_generator.yml
  plugins/modules/inventory_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/inventory_playbook_config_generator.json
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
