Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Assurance issue workflow - Fixed UT based on Code review
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued

addressed review comments
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

reviewed comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Fixed the issue where check_valid_reserved_pool was returning true if ip_pool_name is None.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Log Message Improvement
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Log Message Improvemts
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Improved Variable Naming
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

addressing review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Assurancd Issue - Ignored issue duration field ehancement Implemented
  playbooks/assurance_issue_workflow_manager.yml
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

fix the issue of template creation verification
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressed PR Review Comments
  plugins/module_utils/dnac.py
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Sanity Fix
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue - Updated Sanity issue
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue - Updated Sanity issue
  playbooks/assurance_issue_workflow_manager.yml
Due: run-setup=false, continued

fix the issue of removing anycast gateway of fabric site from a non-existing fabric zone
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

includes 8 wireless design module bug fixes
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed a typo
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

reversed changes
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Addressed review comments: Improved logging
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Log message improvement
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/module_utils/dnac.py
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all, run-networksettings

sanity fix
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Switch profile workflow - Output detailed message for creation updated
  playbooks/network_profile_switching_workflow_manager.yml
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Addressed review comments
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Code farmat and Documentation update based on Circuit
  plugins/modules/network_profile_switching_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_profile_switching_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue - ignore duration addressed code review
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch Profile - Addressed code review comments
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance Issue - Ignored issue addressed code reveiw
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

coding in progress
  playbooks/network_devices_info_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

coding in progress
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all
