Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Code reveiw comments for radio series validation
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

enhancement completed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

site workflow module enhancement completed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

comments addressed
  playbooks/swim_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-swim

sanity compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

sanity compleated
  playbooks/swim_workflow_manager.yml
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Rename the parameter name from 'site_type' to 'fabric_type' in fabric sites zones workflow manager module.
  plugins/modules/fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

CircleCI fix pipeline when there's no tests to execute for module (#367)
  .circleci/config.yml
Due: run-setup=false

Bulk update bug fixed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

RMA bug fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  playbooks/fabric_transits_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any, run-all

SWIM comments fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

SWIM comments fixed
  playbooks/swim_workflow_manager.yml
Due: run-setup=false

SWIM fixed V2
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Bug raised for the int handling error fixed in dnac.py
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Bug raised for the int sanity fixed in dnac.py
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Modified site workflow module enhancement code
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

RMA comments fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

Code review comment updated
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Started inventory Enhancement code
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

modified site workflow module enhancement code
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Addressed PR review comments
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

AP enhancement fir get sites
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Changes in documentation
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Modifications in site workflow module enhancement
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Extra documentation added for cco
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Apart from provision function all working
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Fix for the missing conditional check for network_aaa and client_and_endpoint_aaa
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

inventory provision task almost compleated
  plugins/module_utils/dnac.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-inventory

comments compleated and exhansments also done
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Addressed lint errors
  .circleci/config.yml
  playbooks/network_compliance_workflow_manager.yml
  playbooks/sda_extranet_policies_workflow_manager.yml
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

Addressed lint Errors
  tests/integration/ccc_network_compliance_management/defaults/main.yml
  tests/integration/ccc_network_compliance_management/meta/main.yml
  tests/integration/ccc_network_compliance_management/tasks/main.yml
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
Due: run-setup=false, run-any

Addressed Lint Errors
  tests/integration/ccc_device_configs_backup_management/defaults/main.yml
  tests/integration/ccc_device_configs_backup_management/meta/main.yml
  tests/integration/ccc_device_configs_backup_management/tasks/main.yml
  tests/integration/ccc_device_configs_backup_management/tests/test_device_configs_backup_management.yml
  tests/integration/ccc_device_configs_backup_management/vars/vars_device_configs_backup_management.yml
Due: run-setup=false, run-any

Ap provision bug tested.
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

swim comments started
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim
