Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

addressed sanity issues
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Network switch profile code review addressed
  playbooks/network_switch_profile_workflow_manager.yml
  plugins/module_utils/network_profiles.py
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Network switch profile code review addressed
  plugins/module_utils/network_profiles.py
Due: run-setup=false, continued, run-any, run-all

Network switch profile code review addressed
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Network switch profile code review addressed sanity issue
  tests/unit/modules/dnac/test_network_switch_profile_workflow_manager.py
Due: run-setup=false, continued

Network switch profile code review addressed sanity issue
  playbooks/network_switch_profile_workflow_manager.yml
Due: run-setup=false, continued

sample yaml file for the wireless design workflow module
  playbooks/wireless_design_workflow_manager.yml
Due: run-setup=false, continued

addressed sanity issues:
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch profile code review comment addressed
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity issue check
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile Sanity issue check
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile Sanity issue check
  tests/unit/modules/dnac/test_network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued

Wireless profile Sanity issue check
  playbooks/network_wireless_profile_workflow_manager.yml
Due: run-setup=false, continued

Fix the issue of Anchored vn
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
