Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Fixed author name.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Added authors to tags UT file.
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued

Added authors to template workflow UT
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

updated the conditions since UTs were failing
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Enhance the log message when ip pool is not reserve at this site.
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Changes in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: run-setup=false, continued

bug fix: Failure observed during assignment of device credentials to Global Site
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

sanity fix
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

update the log message.
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

modify problems in requests to the API #266
  README.md
  changelogs/changelog.yaml
  galaxy.yml
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any

whitespace
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any

updation
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

update code to resolve verification issue
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

UT fix
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued

updated doc string
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued

Fixed documentation issue. str -> list.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Setting default replication mode to HEADEND_REPLICATION
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed Sanity Issues.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fixed
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/fixtures/application_policy_workflow_manager.json
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed review comments
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

addressed review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

update module format
  .ansible-lint
  plugins/action/aaa_services_count_info.py
  plugins/action/aaa_services_id_info.py
  plugins/action/aaa_services_id_trend_analytics.py
  plugins/action/aaa_services_info.py
  plugins/modules/wired_network_devices_id_config_features_intended_layer2_feature.py
  plugins/modules/wired_network_devices_id_config_features_intended_layer2_feature_v1.py
  plugins/modules/wireless_profiles_id_site_tags_bulk.py
Due: run-setup=false, continued, run-any

address review comments
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Site Workflow Manager - Latitude, Longitude and Floor 0 fixed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

lines too long
  plugins/action/wired_network_devices_network_device_id_config_features_intended_configuration_models.py
  plugins/action/wired_network_devices_network_device_id_config_features_intended_configuration_models_preview_activity_id.py
  plugins/action/wired_network_devices_network_device_id_config_features_intended_configuration_models_preview_activity_id_config.py
  plugins/action/wired_network_devices_network_device_id_config_features_intended_configuration_models_preview_activity_id_config_info.py
  plugins/action/wired_network_devices_network_device_id_config_features_intended_configuration_models_preview_activity_id_deploy.py
  plugins/action/wired_network_devices_network_device_id_config_features_intended_device_deployments_info.py
  plugins/action/wired_network_devices_network_device_id_config_features_intended_service_deployments_info.py
  plugins/action/wireless_settings_network_device_id_assign_anchor_managed_ap_locations.py
Due: run-setup=false, continued, run-any

delete blank module
  plugins/action/event_snmp_config_v1_info.py
  plugins/modules/event_snmp_config_v1_info.py
Due: run-setup=false, continued, run-any

UT test case added
  tests/unit/modules/dnac/fixtures/assurance_issue_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued

sanity fix
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued

fixed the following github issue - module fails if devices with device family Wireless Sensor or Third Party Device are in inventory for device configs backup module
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

minor changes for aaa
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

sanity fix
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
Due: run-setup=false, continued

delete blank module
  plugins/action/event_snmp_config_info.py
  plugins/modules/event_snmp_config_info.py
Due: run-setup=false, continued, run-any
