Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Addressed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

User and Role bugs fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Code review for dnac.py addressed
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

review comments compleated
  plugins/modules/inventory_workflow_manager.py
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
Due: run-setup=false, run-any, run-inventory

code fix
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

review comments compleated
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Changes for 2nd Review comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Common function naming issue fixed
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

added dnac.py changes to sda_extranet_policies module
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

Changes for 3rd Review comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Changes for 3rd Review comments.
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

User and Role comments fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

review comments compleated
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

SDA fabric device with the border settings, L2 Handoff, L3 Handoff with IP Transit, L3 Handoff with SDA Transit
  playbooks/fabric_devices_workflow_manager.yml
  plugins/modules/fabric_devices_workflow_manager.py
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Resolved the sanity issue
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Changed the code for reuse common functions
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

changes in user role
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

updated changelogs
  changelogs/changelog.yaml
Due: run-setup=false

Code review comment addressed
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Bug Fix: CSCwm71693 [NW settings]: 'NoneType' error cause by 'aaa.network.server.2' not exist in first
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Add integration test files for network settings module
  tests/integration/ccc_network_settings_management/defaults/main.yml
  tests/integration/ccc_network_settings_management/meta/main.yml
  tests/integration/ccc_network_settings_management/tasks/main.yml
  tests/integration/ccc_network_settings_management/tests/test_network_settings_management.yml
  tests/integration/ccc_network_settings_management/vars/vars_network_settings_management.yml
Due: run-setup=false, run-any

PNP workflow enhancement changes
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

Refactor
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Updated version based to use by others
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Updated version based to use by others sanity
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

PNP workflow enhancement changes implemented
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

minor changes in the version if condition
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Code reveiw comment addressed
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Update release date in changelog.yaml to "2024-10-03"
  changelogs/changelog.yaml
Due: run-setup=false
