Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Addressed the review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Changed the log message while adding snmp destination in Catalyst Center
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Instead of raising exception failed the status and show corresponding message on the console and log it as well.
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Added a new playbook and module for ISE RADIUS Integration
  playbooks/ise_radius_integration_workflow_manager.yml
  plugins/modules/ise_radius_integration_workflow_manager.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.9.txt
Due: run-setup=false, run-any

Adding module for device config backup
  playbooks/configs_backup.yml
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

Adding module for device config backup
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

Yml play book changes
  playbooks/accesspoint_automation.yml
  playbooks/credentials.yml
  playbooks/input.yml
Due: run-setup=false

Python module changes
  plugins/modules/accesspoint_automation.py
Due: run-setup=false, run-any

Update requirements.txt
  requirements.txt
Due: run-setup=false

Update accesspoint_automation.py
  plugins/modules/accesspoint_automation.py
Due: run-setup=false, run-any

network compliance module
  plugins/modules/network_compliance_workflow_manager.py
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
Due: run-setup=false, run-any

network compliance module
  playbooks/network_compliance_workflow_manager.yml
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

network compliance module
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

removed .circleci and integration tests
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/defaults/main.yml
  tests/integration/ccc_device_credential_management/meta/main.yml
  tests/integration/ccc_device_credential_management/tasks/main.yml
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_device_credential_management/vars/vars_credential_management.yml
  tests/integration/ccc_discovery_management/defaults/main.yml
  tests/integration/ccc_discovery_management/meta/main.yml
  tests/integration/ccc_discovery_management/tasks/main.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_discovery_management/vars/vars_misc.yml
  tests/integration/ccc_inventory_management/defaults/main.yml
  tests/integration/ccc_inventory_management/meta/main.yml
  tests/integration/ccc_inventory_management/tasks/main.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_network_compliance_management/defaults/main.yml
  tests/integration/ccc_network_compliance_management/meta/main.yml
  tests/integration/ccc_network_compliance_management/tasks/main.yml
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
  tests/integration/ccc_site_management/defaults/main.yml
  tests/integration/ccc_site_management/meta/main.yml
  tests/integration/ccc_site_management/tasks/main.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
  tests/integration/ccc_swim_management/defaults/main.yml
  tests/integration/ccc_swim_management/meta/main.yml
  tests/integration/ccc_swim_management/tasks/main.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-setup=false, run-any, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

documentation changes
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

addressed code sanity issues
  playbooks/network_compliance_workflow_manager.yml
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

addressed code sanity issues
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

doc change
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

addressed PR review comments
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Pydentic custom validation added
  plugins/module_utils/pydentic_validation.py
Due: run-setup=false, run-any, run-all

Delete plugins/module_utils/pydentic_validation.py
  plugins/module_utils/pydentic_validation.py
Due: run-setup=false, run-any, run-all

combined both iplist and site
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

modification to support py2.7
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

code sanity issue fixed
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Resolving review comments for device configs backup
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

paramter change suggested by Madhan
  playbooks/network_compliance_workflow_manager.yml
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

paramter change suggested by Madhan
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any
