Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

bug fix
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Bug fix
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

addressed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Ordered the device_config details before removing the devices from the fabric
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

minor fix in inventory
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

rename the variable in inventory_intent module
  plugins/modules/inventory_intent.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

remove extra line
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Addressed the review commetns
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Code change
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Removed the check for the WLC, whether it is provisioned or not
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Resolved the sanity issues
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Bug Fix
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

PNP device claim bug fixed.'
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

coding in progress
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

One bug and enhancement bulk update AP completed
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Changes in assign device to site in danc.py
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Minor changes for the assign device to site
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

dnac.py changes updated in ap code
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

sanity issue changes updated in ap code
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Removing release yaml files
  .github/workflows/release-prep.yml
  .github/workflows/release.yml
Due: run-setup=false

Fetched the fabric zone ID when the given site_name is not a fabric site
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Typo error on docstring
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

fixing swim
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

sanity compleated
  playbooks/inventory_workflow_manager.yml
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

sanity compleated
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Used the API 'add_control_plane_device' to add the CONTROL_NODE with the distribution protocol
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any
