Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Added version validation. Least supported catc version: 2.3.5.3
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, continued, run-any, run-discovery

address review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

update playbooks
  .github/workflows/ansible-lint.yml
  playbooks/input_events_and_notification.yml
  playbooks/sda_fabric.yml
Due: run-setup=false, continued

UT failed fixed the one line code
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

update changelog and the version
  README.md
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

noqa all is used to ignore rules in some files.
  README.md
  changelogs/changelog.yaml
  galaxy.yml
  playbooks/image_details.yml
  playbooks/input_events_and_notification.yml
  playbooks/sda_fabric.yml
Due: run-setup=false, continued

Add .ansible-lint file.
  .ansible-lint
  README.md
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

update ansible-lint
  .github/workflows/ansible-lint.yml
Due: run-setup=false, continued

update ansible-lint
  .ansible-lint
Due: run-setup=false, continued

datatype changed from dict to list
  playbooks/application_policy_workflow_manager.yml
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/fixtures/application_policy_workflow_manager.json
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

datatype changed from dict to list
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fixed
  playbooks/application_policy_workflow_manager.yml
Due: run-setup=false, continued

addressed review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Updated the docs string
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments fixed
  playbooks/application_policy_workflow_manager.yml
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

UT fixed
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued

Address the issue of create large number of anycast gateways and update the params for the set_telemetry_settings_for_a_site api
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comments
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Supported states added in the init function
  plugins/modules/network_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Supported states added in the init function
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

SSID code in progress
  playbooks/application_policy_workflow_manager.yml
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

ssid_name added
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

ssid_name added
  playbooks/application_policy_workflow_manager.yml
Due: run-setup=false, continued

ansible-lint fixed for application_policy
  playbooks/application_policy_workflow_manager.yml
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

bug fix
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

UT updation
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, continued

review comments fixed
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Implemented idempotent for pnp devices
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

SDA fabric multicast workflow manager module
  playbooks/sda_fabric_multicast_workflow_manager.yml
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

updated code
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Password field renamed
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

Added more unit testcases.
  tests/unit/modules/dnac/fixtures/tags_workflow_manager.json
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
