Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

code completed
  playbooks/application_policy_playbook_config_generator.yml
Due: run-setup=false, continued

Phase2 common changes done
  plugins/modules/user_role_playbook_config_generator.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/discovery_playbook_config_generator.py
Due: run-setup=false, continued, run-any

code completed
  playbooks/application_policy_playbook_config_generator.yml
  plugins/modules/application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Aligning SDA CG Module with new design
  playbooks/sda_fabric_sites_zones_playbook_config_generator.yml
  playbooks/sda_fabric_transits_playbook_config_generator.yml
  playbooks/sda_fabric_virtual_networks_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_fabric_sites_zones_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_transits_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_virtual_networks_playbook_config_generator.json
Due: run-setup=false, continued, run-any, run-all

Wireless Design New Design Changes
  playbooks/wireless_design_playbook_config_generator.yml
  plugins/modules/wireless_design_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/wireless_design_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/user_role_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Bug fix
  plugins/modules/backup_and_restore_playbook_config_generator.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Aligning SDA Fabric devices with the new design
  playbooks/sda_fabric_devices_playbook_config_generator.yaml
  plugins/modules/sda_fabric_devices_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_fabric_devices_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_fabric_devices_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Aligning the sda multicast module with the new design.
  playbooks/sda_fabric_multicast_playbook_config_generator.yml
  plugins/modules/sda_fabric_multicast_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_fabric_multicast_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_fabric_multicast_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Resolved lint issues
  plugins/modules/sda_fabric_devices_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bug fixed
  plugins/modules/provision_playbook_config_generator.py
  tests/unit/modules/dnac/test_provision_playbook_config_generator.py
Due: run-setup=false, continued, run-any

New brownfield design changes for device credentials, sda host port onboarding modules
  playbooks/device_credential_playbook_config_generator.yml
  playbooks/sda_host_port_onboarding_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/device_credential_playbook_config_generator.py
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/device_credential_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_host_port_onboarding_playbook_config_generator.json
  tests/unit/modules/dnac/test_device_credential_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_host_port_onboarding_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Lint fix
  playbooks/device_credential_playbook_config_generator.yml
  plugins/modules/device_credential_playbook_config_generator.py
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bug fixed
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

provision bug fixed
  plugins/modules/provision_playbook_config_generator.py
  tests/unit/modules/dnac/test_provision_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Aligning SDA Extranet Policies module with the recent design changes.
  playbooks/sda_extranet_policies_playbook_config_generator.yml
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_extranet_policies_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Sanity Fix
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Publish workflow manager modules in main branch
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

bug fix
  plugins/modules/discovery_playbook_config_generator.py
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, continued, run-any, run-discovery

Bug Fix
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

bug fix
  plugins/modules/network_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bug fix
  plugins/modules/assurance_issue_playbook_config_generator.py
  tests/unit/modules/dnac/test_assurance_issue_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Aligning the site module with the new design
  playbooks/site_playbook_config_generator.yml
  plugins/modules/site_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/site_playbook_config_generator.json
  tests/unit/modules/dnac/test_site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Sanity Fix
  plugins/modules/site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Phase2 common changes done
  playbooks/inventory_playbook_config_generator.yml
  plugins/modules/inventory_playbook_config_generator.py
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Enhance validation logging and regex for serial numbers in Tags workflow manager
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated Unit tests for the multiple serial number case
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued

Sanity fix
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Improved Flag Behavior for CG Modules
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  plugins/modules/wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Sanity fix
  plugins/modules/template_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Improved Logging
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Improved logging
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

bug fixed
  playbooks/pnp_playbook_config_generator.yml
  plugins/modules/pnp_playbook_config_generator.py
  tests/unit/modules/dnac/test_pnp_playbook_config_generator.py
Due: run-setup=false, continued, run-any

added UT testcase
  playbooks/pnp_playbook_config_2026-03-24_12-24-41.yml
  tests/unit/modules/dnac/test_pnp_playbook_config_generator.py
Due: run-setup=false, continued
