Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Resolved the sanity issues
  playbooks/sda_fabric_devices_workflow_manager.yml
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

addressed sanity issues
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

Addded enhancement - Enhancement needed : Compliance status summary in the netowrk compliance module
  plugins/module_utils/dnac.py
  plugins/modules/network_compliance_workflow_manager.py
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
Due: run-setup=false, run-any, run-all

Addressed sanity issues
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
Due: run-setup=false, run-any

fixed integration test for device credential
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
Due: run-setup=false, run-any, run-devicecredential

Fix the issue of creating scaled fabric VLAN in chunk of 50 vlans at a time to match GUI
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

fix sanity errors
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

Changed the layer value of the handoff
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Take the 'sda_fabric_vlan_limit' parameter from the playbook and update the documentation as well
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

address review comments
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

Changed the minimum supported version from 2.3.5.3 to 2.3.7.6
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Changed the minimum supported version from 2.3.7.6 to 2.3.7.0
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Resolved the sanity issues
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

provision bugs fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

fixing inventory bugs
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

bug fix: Create a Global Pool with ip_address_space is 'ipv4' or 'IPV4'
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Modifications for deletion changes
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Modifications for update and deletion bugs
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Modifications for update and deletion bugs along with comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

sanity check
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

converted yaml syntax errors to warning
  .yamllint.yml
Due: run-setup=false

updated sanity tests to ignore yamllinting on plugins folder
  .yamllint.yml
Due: run-setup=false
