Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

doc review changes
  playbooks/network_compliance_workflow_manager.yml
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Address the review comments
  playbooks/events_and_notifications_workflow_manager.yml
  playbooks/input_events_and_notification.yml
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Enhanced log messages for site instead of showing last messages show all possible operation on each site and handle provision for wired device not present in Catalyst Center
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site, run-inventory

Write API for returning the status of site events including creation/deletion/updation
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

replaced fail_json with log in validate_params
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

changed if condition in validate_run_comp_params
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

modified dnacentersdk version
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

added statement in doc for run_compliance
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Added new features and resolved the bugs for the network settings and template workflow manager modules
  plugins/module_utils/dnac.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any, run-all

Addressed the review comments
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Update the cli_transport type in documentaion to ssh/telnet
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Addressed the review comments and added a log message for checking the existence of the file path
  playbooks/ise_radius_integration_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any, run-all

Changed the dnacentersdk version '==' to '>='
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Removed the unused failure_params parameter
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Prompts an error when the site_name is invalid under assign_credentials_to_site
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Addressed the review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Verified the config of containingTemplates under configuration_templates
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Adding workflow manager modules for IAC 2.0
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Fixed the issue with passing more than one element in containingTemplates
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

changes in workflow manager modules
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/events_and_notifications_workflow_manager.py
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Correcting the format
  changelogs/changelog.yaml
Due: run-setup=false

Removed the unused variables which shows no effect on the GUI
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Added the removed variables in the changelogs.yaml
  changelogs/changelog.yaml
Due: run-setup=false

Addressed the review comments
  changelogs/changelog.yaml
Due: run-setup=false

Fix the issue of validating Server_address of Syslog destination, update description, port validation in syslog, webhook headers update
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

updated review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Fixed the problem with the slaacSupport
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Resolved the sanity erros
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

address review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
