Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

2ed Review comments compleated
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

2ed Review comments compleated
  playbooks/dnac.log
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

2ed Review comments compleated
  playbooks/dnac.log
Due: run-setup=false

modification of documentation w.r.t playbook
  plugins/modules/network_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, run-any

3rd review comments comepleated have broke down the get diff merged funtion
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

3rd review comments comepleated have broke down the get diff merged funtion
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

change use of camelCase to snake_case
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Refactor: acc to review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Changes to the get_task_status_from_tasks_by_id function in the Network Compliance module
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

4th review comments compleated have added return properly for all the APIs
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Refactor: to address review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Code reveiw comment addressed
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Code reveiw comment addressed sanity
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Code reveiw comment addressed sanity on ut
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Added task related function inside dnac.py
  plugins/module_utils/dnac.py
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any, run-all

Refactor: split get_network_params into two member functions
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Modified changes for network_compliance_workflow module and removed function before adding it in dnac.py
  plugins/module_utils/dnac.py
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any, run-all

Code review comments fixed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

addressed review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

review comments compleated
  plugins/module_utils/dnac.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-inventory

review comments compleated
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Refactor: acc to comments given
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed 31 code review comments
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

review comments compleated
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Addressed 31 code review comments added dnac.py
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Correct the UT case
  plugins/module_utils/dnac.py
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

Minor correction in the function name
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Updated the 7 code review comments
  plugins/module_utils/dnac.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any, run-all

address review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Added SDA host onboarding module
  playbooks/sda_host_port_onboarding_workflow_manager.yml
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

Addressed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
