Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Accesspoint location workflow - UT fixed
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reserve_ip_subpool_info.py
Due: run-setup=false, continued, run-any

Changes in worflow manager modules
  changelogs/changelog.yaml
Due: run-setup=false, continued

Changes in changelog file
  changelogs/changelog.yaml
Due: run-setup=false, continued

Bug fix in documentation of the SDK API calls in the existing lan automation workflow.
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Bugs fixed
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

added MISSING: Check if we've reached the last page
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

updated value of offset to 1
  plugins/modules/reserve_ip_subpool_info.py
  plugins/modules/sda_anycast_gateways_info.py
Due: run-setup=false, continued, run-any

added new_report parameter in example playbook
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile workflow - Fixed bugs and added UT
  plugins/modules/network_profile_wireless_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile workflow - Sanity issue fixed
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

enhancement completed
  .coverage
  dnac.log
  plugins/modules/swim_workflow_manager.py
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued, run-any, run-swim

enhancement completed
  .coverage
  dnac.log
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued

Wireless profile workflow - Sanity issue fixed
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Wireless workflow Manager - UT Sanity fix
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Wireless Profile workflow - Fixed bug and UT cases
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Code completed
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Playbook changes done
  playbooks/network_devices_info_workflow_manager.yml
Due: run-setup=false, continued

Wireless profile workflow - removed unused code
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

bug fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

IT Completed
  tests/integration/ccc_network_devices_info_workflow_manager/tests/test_network_devices_info_workflow_manager.yml
  tests/integration/ccc_network_devices_info_workflow_manager/vars/vars_network_devices_info_workflow_manager.yml
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Workflow - Fixed the documentation changes for Cableloss and Antenna gain
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Restore Bug fixed
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

updated the version comparasion for the dnac api's
  plugins/modules/network_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

saniy fix
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

fix the email_attach and notify parameter
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

UT in progress
  playbooks/network_devices_info_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/network_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued

compleated review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Reports should be processed in parallel
  plugins/modules/reports_workflow_manager.py
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any
