Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

demo commit
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

demo commit
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

test commit
  plugins/modules/site_workflow_manager.py
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

chore: Update dnacentersdk requirement to version 2.7.2
  README.md
  galaxy.yml
Due: run-setup=false

Fix the issue of resyncing more than 400 devices in inventory.
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Fix the issue of swim tagging/untagging for Global site
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

swim UT 70% compleated
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false

Delete plugins/modules/fabric_sites_zones_workflow_manager.py
  plugins/modules/fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

Delete playbooks/fabric_sites_zones_workflow_manager.yml
  playbooks/fabric_sites_zones_workflow_manager.yml
Due: run-setup=false

Addressed the review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

SWIM UT compleated
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false

SWIM UT compleated
  playbooks/swim_workflow_manager.yml
Due: run-setup=false

SWIM playbook
  playbooks/swim_workflow_manager.yml
Due: run-setup=false

changes after sanity check
  tests/unit/modules/dnac/fixtures/site_workflow_manager.json
Due: run-setup=false

sanity done for JSON
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
Due: run-setup=false

changes done
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false

updated the code with version based routing and bug fixed
  playbooks/user_role_workflow_manager.yml
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, run-any

user_role_workflow_manager bugs fixed
  playbooks/user_role_workflow_manager.yml
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

updated user_role_workflow_feature
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

RMA bug fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

CI after approve
  .circleci/config.yml
  .github/workflows/main.yml
  .github/workflows/release-prep.yml
  .github/workflows/release.yml
Due: run-setup=false

fixes
  .circleci/config.yml
  .github/workflows/integration_tests.yml
Due: run-setup=false

add codeowners
  CODEOWNERS
Due: run-setup=false

Updated rma_workflow_manager.py file
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

user role workflow feature bugs fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

updated user_role_workflow_manager.py file
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

changelog
  README.md
  changelogs/changelog.yaml
  galaxy.yml
  plugins/modules/itsm_integration_events_retry.py
  plugins/modules/nfv_profile.py
  plugins/modules/nfv_profile_info.py
  plugins/modules/nfv_provision.py
  plugins/modules/nfv_provision_detail_info.py
  plugins/modules/nfv_provision_details.py
  plugins/modules/sda_count_info.py
  plugins/modules/sda_fabric.py
  plugins/modules/sda_fabric_info.py
  plugins/modules/site_assign_device.py
  plugins/modules/syslog_config_create.py
  plugins/modules/syslog_config_update.py
Due: run-setup=false, run-any

CSCwm06839
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

CSCwm06839 - RMA bug fixed
  playbooks/rma_workflow_manager.yml
Due: run-setup=false

user_role_workflow_feature enhancement done and bugs fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any
