Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Added the integration tests for the configurating templates, exporting the templates and importing the templates
  tests/integration/ccc_template_management/defaults/main.yml
  tests/integration/ccc_template_management/meta/main.yml
  tests/integration/ccc_template_management/tasks/main.yml
  tests/integration/ccc_template_management/tests/10.195.243.53_1.8.212_Tue Jul 02 2024_templates.json
  tests/integration/ccc_template_management/tests/test_export_template_and_project.yml
  tests/integration/ccc_template_management/tests/test_import_template_and_project.yml
  tests/integration/ccc_template_management/tests/test_template_management.yml
  tests/integration/ccc_template_management/vars/vars_export_template_and_project.yml
  tests/integration/ccc_template_management/vars/vars_import_template_and_project.yml
  tests/integration/ccc_template_management/vars/vars_template_management.yml
Due: run-setup=false, run-any

Fix duplication issue in LAN automation workflow manager
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, run-any

Address all code reveiw comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Address all code reveiw comments sanity fixed
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

addressed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Pool name change updated
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

fixed galaxy publishing error
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

Updated the code reveiw comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Changes in workflow manager module
  changelogs/changelog.yaml
Due: run-setup=false

Revert "workflow_manager module"
  plugins/modules/lan_automation_workflow_manager.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/provision_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Integration test cases for ISE integration workflow manager module
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/defaults/main.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/meta/main.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/tasks/main.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/tests/test_aaa_server.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/tests/test_ise_server.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/vars/vars_aaa_server.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/vars/vars_ise_server.yml
Due: run-setup=false, run-any

RMA Bug fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

RMA Comments Addressed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

changes in rma module
  changelogs/changelog.yaml
Due: run-setup=false

Update docs.yml
  .github/workflows/docs.yml
Due: run-setup=false

error sanity tests
  plugins/action/icap_settings_configuration_models_preview_activity_id_network_device_status_details_info.py
Due: run-setup=false, run-any

error sanity tests
  plugins/action/icap_settings_configuration_models_preview_activity_id_network_device_status_details_info.py
  plugins/modules/icap_settings_configuration_models_preview_activity_id_network_device_status_details_info.py
Due: run-setup=false, run-any

error sanity tests
  plugins/action/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config.py
  plugins/action/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config_info.py
  plugins/modules/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config.py
  plugins/modules/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config_info.py
  plugins/modules/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config_v1.py
  plugins/modules/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config_v1_info.py
Due: run-setup=false, run-any

error sanity tests
  plugins/action/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config.py
  plugins/action/icap_settings_configuration_models_preview_activity_id_network_devices_network_device_id_config_info.py
Due: run-setup=false, run-any

error sanity tests
  plugins/action/sda_authentication_profiles_v1.py
  plugins/action/sda_extranet_policies_v1.py
  plugins/action/sda_fabric_authentication_profile_v1.py
  plugins/action/sda_fabric_border_device_v1.py
  plugins/action/sda_fabric_control_plane_device_v1.py
  plugins/action/sda_fabric_devices_layer2_handoffs_ip_transits_v1.py
  plugins/action/sda_fabric_devices_layer2_handoffs_sda_transits_v1.py
  plugins/action/sda_fabric_devices_layer2_handoffs_v1.py
  plugins/action/sda_fabric_devices_v1.py
  plugins/action/sda_fabric_edge_device_v1.py
  plugins/action/sda_fabric_site_v1.py
  plugins/action/sda_fabric_sites_v1.py
  plugins/action/sda_fabric_zones_v1.py
  plugins/action/sda_fabrics_vlan_to_ssids_fabric_id_v1.py
  plugins/action/sda_layer2_virtual_networks_v1.py
  plugins/action/sda_layer3_virtual_networks_v1.py
  plugins/action/sda_multicast_v1.py
  plugins/action/sda_multicast_virtual_networks_v1.py
  plugins/action/sda_port_assignment_for_access_point_v1.py
  plugins/action/sda_port_assignment_for_user_device_v1.py
  plugins/action/sda_port_assignments_v1.py
Due: run-setup=false, run-any

error sanity tests
  plugins/modules/compliance_device_details_info.py
  plugins/modules/compliance_device_details_v1_info.py
  plugins/modules/compliance_device_info.py
  plugins/modules/compliance_device_v1_info.py
  plugins/modules/global_pool_info.py
  plugins/modules/global_pool_v1_info.py
  plugins/modules/maps_import_status_info.py
  plugins/modules/reserve_ip_subpool_info.py
  plugins/modules/reserve_ip_subpool_v1_info.py
  plugins/modules/sda_site_member_member_info.py
  plugins/modules/sda_site_member_member_v1_info.py
  plugins/modules/site_info.py
  plugins/modules/site_membership_info.py
  plugins/modules/site_membership_v1_info.py
  plugins/modules/site_v1_info.py
  plugins/modules/site_v2_info.py
Due: run-setup=false, run-any

error sanity tests
  plugins/modules/compliance_device_info.py
  plugins/modules/compliance_device_v1_info.py
Due: run-setup=false, run-any

error sanity tests
  plugins/modules/network_profiles_for_sites_site_assignments_bulk_create.py
  plugins/modules/network_profiles_for_sites_site_assignments_bulk_create_v1.py
Due: run-setup=false, run-any

examppple added for un-tag and tag a image
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

review comments compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

error sanity tests
  plugins/modules/templates_template_id_network_profiles_for_sites_bulk_create.py
  plugins/modules/templates_template_id_network_profiles_for_sites_bulk_create_v1.py
Due: run-setup=false, run-any

error sanity tests
  plugins/modules/transit_network_health_summaries_id_info.py
  plugins/modules/transit_network_health_summaries_id_trend_analytics_info.py
  plugins/modules/transit_network_health_summaries_id_trend_analytics_v1_info.py
  plugins/modules/transit_network_health_summaries_id_v1_info.py
  plugins/modules/virtual_network_health_summaries_count_v1_info.py
  plugins/modules/virtual_network_health_summaries_id_trend_analytics_v1_info.py
  plugins/modules/virtual_network_health_summaries_id_v1_info.py
  plugins/modules/virtual_network_health_summaries_v1_info.py
Due: run-setup=false, run-any

error sanity tests
  plugins/modules/wireless_profiles_id_policy_tags_bulk.py
  plugins/modules/wireless_profiles_id_policy_tags_bulk_v1.py
  plugins/modules/wireless_profiles_id_site_tags_bulk.py
  plugins/modules/wireless_profiles_id_site_tags_bulk_v1.py
Due: run-setup=false, run-any
