Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

CG Bug Fixes
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_fabric_sites_zones_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_transits_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_virtual_networks_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/template_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/wireless_design_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_fabric_transits_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_playbook_config_generator.py
  tests/unit/modules/dnac/test_template_playbook_config_generator.py
  tests/unit/modules/dnac/test_wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Addressed comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Added UT
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

addressed review comments
  plugins/modules/inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Documentation fix in wired campus automation
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Documenation fix in template workflow manager
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressing review comments
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Accesspoint location CG - Addressed code reveiw comments
  plugins/modules/accesspoint_location_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Accesspoint location CG - Addressed code review comments
  plugins/modules/accesspoint_location_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Accesspoint location - config verify false not showing correct message fixed
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Add validation for empty component_specific_filters in site playbook generator
  plugins/modules/site_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/site_playbook_config_generator.json
  tests/unit/modules/dnac/test_site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bug completed
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

code in progress
  playbooks/application_policy_playbook_config_generator.yml
  plugins/modules/application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

feat: add plugin_routing redirects to cisco.catalystcenter, declare collection dependency, and bump version to 6.50.0
  changelogs/changelog.yaml
  galaxy.yml
  meta/runtime.yml
Due: run-setup=false, continued

Bug fixed
  plugins/modules/wireless_design_workflow_manager.py
  tests/unit/modules/dnac/fixtures/wireless_design_workflow_manager_intent.json
Due: run-setup=false, continued, run-any

bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Refine site type filter behavior and remove unused global site type propagation method
  plugins/modules/site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Add deduplication of extranet policies in playbook config generator
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Update return values to None for empty fabric IDs and extranet policies; add test for non-existent policy filter
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_extranet_policies_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bugs completed
  playbooks/application_policy_playbook_config_generator.yml
  plugins/modules/application_policy_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/application_policy_playbook_config_generator.json
  tests/unit/modules/dnac/test_application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Site Workflow Manager - Idempotent message not shown when config_verify set to false
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

Site Workflow Manager - Idempotent message not shown when config_verify set to false
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false, continued

Sanity Fix
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Fix workflow manager references in sda_extranet_policies playbook
  playbooks/sda_extranet_policies_workflow_manager.yml
Due: run-setup=false, continued

Delete functionlity for app policy modified
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

bug fix
  playbooks/assurance_device_health_score_settings_playbook_config_generator.yml
  plugins/modules/assurance_device_health_score_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

improve flag behaviour
  tests/unit/modules/dnac/test_assurance_device_health_score_settings_playbook_config_generator.py
Due: run-setup=false, continued

Improved Module Flag behavior
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  plugins/modules/wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Sanity Fix
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Addressed review comments
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/assurance_device_health_score_settings_playbook_config_generator.py
  tests/unit/modules/dnac/test_assurance_device_health_score_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressing review comments
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressing Review Comments
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  plugins/modules/wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

[Jeet] fix for bug CSCwt75802 where removed all ref of generate_all_configurations
  plugins/modules/ise_radius_integration_playbook_config_generator.py
Due: run-setup=false, continued, run-any
