Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Accesspoint workflow - Fixed bug for Controller Name issue
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Access Point workflow - UT updated
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, continued

add example in documentation for filter parameters specified in the API documentation
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed bugs
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  plugins/module_utils/validation.py
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Added a new brownfield config generator module(brownfield_sda_fabric_virtual_networks_playbook_generator) with full unit tests, documentation, examples, and comprehensive playbooks.
  playbooks/brownfield_sda_fabric_virtual_networks_playbook_generator.yaml
  plugins/modules/brownfield_sda_fabric_virtual_networks_playbook_generator.py
  tests/unit/modules/dnac/fixtures/brownfield_sda_fabric_virtual_networks_playbook_generator.json
  tests/unit/modules/dnac/test_brownfield_sda_fabric_virtual_networks_playbook_generator.py
Due: run-setup=false, continued, run-any

Accesspoint Workflow - Radio Configuration Validation for 6G
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

updated review comments
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed bugs
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

changes in workflow modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Added UT
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued

Wireless Profile - Remove special case and load existing profile info
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

fix the sanity errors of blank spaces.
  tests/unit/modules/dnac/test_brownfield_sda_fabric_virtual_networks_playbook_generator.py
Due: run-setup=false, continued

bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Bug Fix in progress
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Bug Fix SDA Virtual Network
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed Review comments
  plugins/modules/backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

workaround for display_name value auto populate with the name value incase it's missing
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile - Addressed Code review
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Workflow - Updated the documentation for radio configuration
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fix
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

review comments done
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Bugs fixed
  plugins/modules/backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Added Author
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity fixed
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Enhance error handling for port channel updates when port channel number is passed and add negative test case for non-existent port channel
  plugins/modules/lan_automation_workflow_manager.py
  tests/unit/modules/dnac/fixtures/lan_automation_workflow_manager.json
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Inventory Workflow - Fixed In-progress maintenance update
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

filter validation
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP workflow - Re claim device with new site implemented
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Improved error message and resolved sanity errors.
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Updating UT with the improved error message and resolved sanity
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
