Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Switch profile some common changes for code quality
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

updated doc
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Modification
  tests/integration/ccc_assurance_health_score_settings_management/defaults/main.yml
  tests/integration/ccc_assurance_health_score_settings_management/meta/main.yml
  tests/integration/ccc_assurance_health_score_settings_management/tasks/main.yml
  tests/integration/ccc_assurance_health_score_settings_management/tests/test_assurance_health_score_settings_management.yml
  tests/integration/ccc_assurance_health_score_settings_management/vars/vars_assurance_health_score_settings_management.yml
Due: run-setup=false, continued, run-any

fix for global site cred assignment
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

modification
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

changes as per review
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed code review comments
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

New Wireless Design Module
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Address core review for path trace
  playbooks/pathtrace_settings_workflow_manager.yml
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Address core review for path trace
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Address core review for path trace
  tests/unit/modules/dnac/fixtures/pathtrace_settings_workflow_manager.json
  tests/unit/modules/dnac/test_pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued

Address core review for path trace
  tests/unit/modules/dnac/test_pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued

minor fix in activation
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

review comments fixed
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed review comments
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comment
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

update example playbook
  playbooks/assurance_issue_settings_workflow_manager.yml
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Code reveiw comment addressed for path trace
  plugins/modules/pathtrace_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/pathtrace_settings_workflow_manager.json
  tests/unit/modules/dnac/test_pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Code reveiw comment addressed for path trace
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Modified code for severity validation
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

update severity value in exmple
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

minor modification
  plugins/modules/assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

update ansible readme
  README.md
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

review comments in progress
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed bug in activation
  playbooks/swim_workflow_manager.yml
Due: run-setup=false, continued

log msg correction
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Create ansible-lint.yml
  .github/workflows/ansible-lint.yml
Due: run-setup=false, continued

Update ansible-lint.yml
  .github/workflows/ansible-lint.yml
Due: run-setup=false, continued

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
