Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

update
  plugins/modules/reports_workflow_manager.py
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
Due: run-setup=false, continued, run-any

update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless Profile workflow - Update Feature template field names
  playbooks/network_profile_wireless_workflow_manager.yml
  plugins/modules/network_profile_wireless_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
Due: run-setup=false, continued, run-any

Wireless Profile workflow - Update Feature template field names
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

fixed sanity issues
  tests/integration/ccc_wired_campus_automation_management/tests/test_wired_campus_automation_workflow_management.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_logical_ports.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_port_configuration.yml
Due: run-setup=false, continued, run-any

Network profile workflow - UT has been completed
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Network profile workflow - UT has been completed
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Accespoint Location Workflow - Sanity fix
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

documentation update for reserve pool
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Access Point Location Workflow - UT Added
  tests/unit/modules/dnac/fixtures/accesspoint_location_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued

Access Point Location Workflow - UT Added
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accespoint Location Workflow - IT cased added
  playbooks/accesspoint_location_workflow_manager.yml
  tests/integration/ccc_accesspoint_location_workflow_management/defaults/main.yml
  tests/integration/ccc_accesspoint_location_workflow_management/meta/main.yml
  tests/integration/ccc_accesspoint_location_workflow_management/tasks/main.yml
  tests/integration/ccc_accesspoint_location_workflow_management/tests/test_network_profile_switching_workflow_manager.yml
  tests/integration/ccc_accesspoint_location_workflow_management/vars/vars_network_profile_switching_workflow_manager.yml
Due: run-setup=false, continued, run-any

Accespoint Location Workflow - sanity issue fixed
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accespoint Location Workflow - sanity issue fixed
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued

Path Trace Workflow Manager - Added Description for Flow Analysis ID
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Path Trace Workflow - Changed the documentation.
  playbooks/pathtrace_settings_workflow_manager.yml
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

2 bugs fixed
  .coverage
  dnac.log
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

2 bugs fixed
  .coverage
  dnac.log
Due: run-setup=false, continued

sanity fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

doc update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Inventory Workflow - Validation on Schedule mantenance device fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Inventory Workflow - Improved code
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
