Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Update site_workflow_manager.py and addressed comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

Removed timers and accepting In Progress as a positive state in sda host onboarding module
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

site workflow_image_heirarcy issuefixed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

network_switch_profile_workflow_manager completed
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Add the new feature as part of enhancement - Apply all the pending fabric events and updating authentication profile for the profile Low Impact
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

bug fix
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Enter input empty but still assign any value to CLI credential
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

sanity fix
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

network_wireless_profile_workflow_manager minor fix
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Added a check to copy the layer3 settings of the device when the user updates the device without layer3 settings
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

get_site_function_error code reverted
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

swim_get_site_issue_on_offset bug fixed
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

fixed the device unreachable issue
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP Device Documentation related changes fixed
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Site Module delete floor regression issue fixed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

Add the example in the documentation for the new feature of applying pending fabric event
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP workflow manager ymal document changes done
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Site workflow delete floor bug fixed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

address review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

testing is in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Site module delete floor issue additional logs added
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

documentation update
  playbooks/assurance_health_score_settings_workflow_manager.yml
  plugins/modules/assurance_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Delete playbooks/assurance_healthscore_settings_workflow_manager.yml
  playbooks/assurance_healthscore_settings_workflow_manager.yml
Due: run-setup=false, continued

Yaml Document changed for switch profile
  playbooks/network_switch_profile_workflow_manager.yml
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Site module delete floor address comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site
