Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Sanity issue fixed for path trace
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

add log
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

network_setting index out of range bug fixed
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

correct log msg
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

inventory bug fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Changes in workflow manager module
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Sanity issue in yml file
  playbooks/pathtrace_settings_workflow_manager.yml
Due: run-setup=false, continued

Added the Logs
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Solved the issue which deletes the devices along with the transit when we try to delete only the transits
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments fixed and added backward compatibility
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Updation for upload floor image
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

updated the doc
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

code is in progress for the list method cco
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

minor change in the update cred
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

addressed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

review comments fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

fixed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Addressed Code reveiw comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

swim bugs fixed
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

minor change
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Updation for upload floor image and creation area changes
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

SDA host port onboarding enhancements ad bug fixes
  playbooks/sda_host_port_onboarding_workflow_manager.yml
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

SDA host port onboarding enhancements ad bug fixes
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Solved the issue when updating the handoffs of a device when multiple devices are passed
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Add assurance issue settings workflow manager
  playbooks/assurance_issue_settings_workflow_manager.yml
  plugins/modules/assurance_issue_settings_workflow_manager.py
  tests/integration/ccc_assurance_issue_settings_management/defaults/main.yml
  tests/integration/ccc_assurance_issue_settings_management/meta/main.yml
  tests/integration/ccc_assurance_issue_settings_management/tasks/main.yml
  tests/integration/ccc_assurance_issue_settings_management/tests/test_assurance_issue_settings_management.yml
  tests/integration/ccc_assurance_issue_settings_management/vars/vars_assurance_issue_settings_management.yml
  tests/unit/modules/dnac/fixtures/assurance_issue_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim
