Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

nested is better
  temp_site_workflow.yml
Due: run-setup=false

address Review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Added the intergration tests for Fabric Transit and Fabric Devices module.
  tests/integration/ccc_aaa_server_management/defaults/main.yml
  tests/integration/ccc_aaa_server_management/meta/main.yml
  tests/integration/ccc_aaa_server_management/tasks/main.yml
  tests/integration/ccc_aaa_server_management/tests/test_aaa_server.yml
  tests/integration/ccc_aaa_server_management/tests/test_ise_server.yml
  tests/integration/ccc_aaa_server_management/vars/vars_aaa_server.yml
  tests/integration/ccc_aaa_server_management/vars/vars_ise_server.yml
  tests/integration/ccc_fabric_devices_management/defaults/main.yml
  tests/integration/ccc_fabric_devices_management/meta/main.yml
  tests/integration/ccc_fabric_devices_management/tasks/main.yml
  tests/integration/ccc_fabric_devices_management/tests/test_fabric_devices.yml
  tests/integration/ccc_fabric_devices_management/vars/vars_fabric_devices.yml
  tests/integration/ccc_fabric_transit_management/defaults/main.yml
  tests/integration/ccc_fabric_transit_management/meta/main.yml
  tests/integration/ccc_fabric_transit_management/tasks/main.yml
  tests/integration/ccc_fabric_transit_management/tests/test_fabric_transit.yml
  tests/integration/ccc_fabric_transit_management/vars/vars_fabric_transit.yml
Due: run-setup=false, run-any

Bug Fix: should return the error attribute instead of an unknown error
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

changes in buildings file and temp_site_workflow (country should not be specified)
  buildings.yml
  temp_site_workflow.yml
Due: run-setup=false

bugs fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

sanity fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

deleted some image files
  image copy.png
  image.png
Due: run-setup=false

minor changes
  device_credential_workflow_manager.yml
Due: run-setup=false

Addition and deletion of creds
  temp_device_credential_workflow.yml
Due: run-setup=false

Removed the fabric devices and fabric transits
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/tasks/main.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/tests/test_aaa_server.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/tests/test_ise_server.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/vars/vars_aaa_server.yml
  tests/integration/ccc_aaa_server_management/ccc_aaa_server_management/vars/vars_ise_server.yml
  tests/integration/ccc_fabric_devices_management/defaults/main.yml
  tests/integration/ccc_fabric_devices_management/meta/main.yml
  tests/integration/ccc_fabric_devices_management/tasks/main.yml
  tests/integration/ccc_fabric_devices_management/tests/test_fabric_devices.yml
  tests/integration/ccc_fabric_devices_management/vars/vars_fabric_devices.yml
  tests/integration/ccc_fabric_transit_management/defaults/main.yml
  tests/integration/ccc_fabric_transit_management/meta/main.yml
  tests/integration/ccc_fabric_transit_management/tasks/main.yml
  tests/integration/ccc_fabric_transit_management/tests/test_fabric_transit.yml
  tests/integration/ccc_fabric_transit_management/vars/vars_fabric_transit.yml
Due: run-setup=false, run-any

addressed review comments
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

testing needed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

addition and deletion of creds
  temp_device_credential_workflow.yml
Due: run-setup=false

global/site specific_ip_pool creation and deletion
  temp_network_settings_workflow.yml
Due: run-setup=false

2 provision bugs fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Modification to create pool when global pools are >25
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

have some issues will fix it
  temp_server_details.yml
Due: run-setup=false

User and Role Bug Fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Path trace setting workflow manager created
  playbooks/pathtrace_settings_workflow_manager.yml
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, run-any

Path trace setting workflow manager created
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, run-any

created for site_creation
  buildings.yml
Due: run-setup=false

site creation with any number of floors and buildings
  temp_site_workflow.yml
Due: run-setup=false

Address the issue of creating the VN and anchored it to site and extend it to multiple fabric sites without changing the spec and schema and fix the documentation typo as well
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

Sanity issue fixed for path trace
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, run-any

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
