Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Inventory Workflow - Compute device related changes updated
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

icap bug inprogress
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

UT Formatted
  tests/unit/modules/dnac/fixtures/network_devices_info_workflow_manager.json
Due: run-setup=false, continued

Updated comments
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP workflow - updated version control
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Wireless profile - added the version control for feature template
  plugins/modules/network_profile_wireless_workflow_manager.py
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile - added the version control for feature template
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile - added the version control for feature template
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Sanity & UT fix
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments fix
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance Issue - Command Execution changes
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

UT
  plugins/modules/reports_workflow_manager.py
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

UT
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued

Addressed review comments & UT fixed
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments & UT fixed
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location workflow - Initial Changes
  playbooks/accesspoint_location_workflow_manager.yml
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

in progress
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Update
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued

UT fix
  plugins/modules/assurance_icap_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/assurance_icap_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Template Workflow - Assign Profile to template ehancement
  plugins/module_utils/network_profiles.py
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all, run-template

addressed review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Combine create and update of the IP pool in the one input returns a NoneType error
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Backup and restore files
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/integration/ccc_backup_and_restore_workflow_manager/defaults/main.yml
  tests/integration/ccc_backup_and_restore_workflow_manager/meta/main.yml
  tests/integration/ccc_backup_and_restore_workflow_manager/tasks/main.yml
  tests/integration/ccc_backup_and_restore_workflow_manager/tests/test_backup_and_restore_workflow_manager.yml
  tests/integration/ccc_backup_and_restore_workflow_manager/vars/vars_backup_and_restore_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Delete tests/output/bot/ansible-test-sanity-import-python-3.11.json
  tests/output/bot/ansible-test-sanity-import-python-3.11.json
Due: run-setup=false, continued

Sanity Fix
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

backup and restore files
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Inventry Workflow - addressed code review command
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

PNP Workflow - addressed code review comments
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP Workflow - addressed code review comments
  plugins/modules/pnp_workflow_manager.py
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

bug fix: Module should handle case-insensitive input for 'pool_type' in IP pool creation before API execution.
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

sanity test
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Inventory Workflow - addressed code review comments
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

bug fix: Do not validate invalid input before running
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
