Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

added UT testcase
  playbooks/pnp_playbook_config_generator.yml
Due: run-setup=false, continued

added UT testcase
  playbooks/pnp_playbook_config_2026-03-24_12-24-41.yml
Due: run-setup=false, continued

Remove Duplicate components from components_list
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

bug fix
  playbooks/provision_playbook_config_generator.yml
  plugins/modules/provision_playbook_config_generator.py
  tests/unit/modules/dnac/test_provision_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Renamed variable from file_changed to file_written
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

bug fix
  plugins/modules/provision_playbook_config_generator.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/assurance_issue_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Enhance validation for 'config' parameter in TagsPlaybookGenerator module
  plugins/modules/tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any

addressed review comment
  plugins/modules/discovery_playbook_config_generator.py
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, continued, run-any, run-discovery

added doc string
  plugins/modules/discovery_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Added member_template_deployment_info in template workflow manager
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

regex change
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Sanity fix
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

New brownfield design chnages for ise radius module
  playbooks/ise_radius_integration_playbook_config_generator.yml
  plugins/modules/ise_radius_integration_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/ise_radius_integration_playbook_config_generator.json
  tests/unit/modules/dnac/test_ise_radius_integration_playbook_config_generator.py
Due: run-setup=false, continued, run-any

addressed review comment
  plugins/modules/assurance_issue_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Remove unused global_filters from SdaFabricMulticastPlaybookConfigGenerator class
  plugins/modules/sda_fabric_multicast_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Validation for empty config and empty component_specific_filters
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  plugins/modules/wireless_design_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_fabric_sites_zones_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_transits_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_fabric_virtual_networks_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/template_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/wireless_design_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_fabric_transits_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_playbook_config_generator.py
  tests/unit/modules/dnac/test_template_playbook_config_generator.py
  tests/unit/modules/dnac/test_wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Added device_ips as filter in sda host onboarding brownfield module
  playbooks/sda_host_port_onboarding_playbook_config_generator.yml
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_host_port_onboarding_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Lint fix
  playbooks/sda_host_port_onboarding_playbook_config_generator.yml
Due: run-setup=false, continued

Deduplicate component filters
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_sites_zones_playbook_config_generator.py
  plugins/modules/sda_fabric_transits_playbook_config_generator.py
  plugins/modules/sda_fabric_virtual_networks_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  plugins/modules/wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Switch profile CG - Removed the duplicate config from config file
  plugins/modules/network_profile_switching_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Wireless profile CG - Duplicate config removal and config validation added
  plugins/modules/network_profile_wireless_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Added new filters
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressed comments
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressing Review Comments
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Addressed comments
  playbooks/sda_host_port_onboarding_playbook_config_generator.yml
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Add validation for empty config and component_specific_filters in SDA Extranet Policies module
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_extranet_policies_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Add validation for empty config and component_specific_filters in SDA Extranet Policies module
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

UT fix in template workflow manager
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

Bugs Fixed
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

UT fix
  tests/unit/modules/dnac/test_device_credential_workflow_manager.py
Due: run-setup=false, continued

Updating Galaxy version
  changelogs/changelog.yaml
  playbooks/dnac.log
Due: run-setup=false, continued

Updating version in galaxy
  galaxy.yml
Due: run-setup=false, continued

updating galaxy
  galaxy.yml
Due: run-setup=false, continued

UT fixed
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, continued

Wireless profile CG - Multiple global filter issue fixed
  plugins/modules/network_profile_wireless_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Accesspoint location CG - all key is not working is fixed
  plugins/modules/accesspoint_location_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Wireless profile CG - Addressed code review comments
  plugins/modules/network_profile_wireless_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
