Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Addressed review comment
  plugins/module_utils/dnac.py
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any, run-all

Sanity check
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Changes not applied
  .github/workflows/sanity_tests_devel.yml
  changelogs/changelog.yaml
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Changes done for bugs
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Modifications for params bugs
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Modifications for rf_model bug along with comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Site workflow module (#33)
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

sanity_test_devel
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Changes not applied
  .github/workflows/sanity_tests_devel.yml
  playbooks/sda_extranet_policies_workflow_manager.yml
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

testing the sanity test cases
  .github/workflows/sanity_tests_devel.yml
  playbooks/sda_extranet_policies_workflow_manager.yml
Due: run-setup=false

Changes not applied
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

testing the sanity test cases
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

address review comment
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

testing the sanity test cases (#35)
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

application of the changes made in pull request #207
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

update docs for main
  main/_sources/plugins/accesspoint_workflow_manager_module.rst.txt
  main/_sources/plugins/sda_fabric_devices_workflow_manager_module.rst.txt
  main/_sources/plugins/sda_fabric_virtual_networks_workflow_manager_module.rst.txt
  main/objects.inv
  main/plugins/accesspoint_workflow_manager_module.html
  main/plugins/sda_fabric_devices_workflow_manager_module.html
  main/plugins/sda_fabric_virtual_networks_workflow_manager_module.html
  main/searchindex.js
Due: run-setup=false

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

sanity check
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

working on provision bugs
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

update docs for main
  main/_sources/plugins/network_settings_workflow_manager_module.rst.txt
  main/plugins/network_settings_workflow_manager_module.html
Due: run-setup=false

update changelog
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

update changelog
  changelogs/changelog.yaml
Due: run-setup=false

Access point power lever name update
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

inventory bugs fixed
  playbooks/inventory_workflow_manager.yml
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

updated the IT tests
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
Due: run-setup=false, run-any, run-inventory

Working on the fix
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

code is in progress for the SWIM bugs
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Validated the invalid device roles and corrected the documentation issues
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Swim Bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

units of measure bug changes
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

bugs coding in progress
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

changes for integration test
  tests/integration/ccc_site_workflow_manager/vars/vars_site_workflow_manager.yml
Due: run-setup=false, run-any

swim 2 bugs fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

sanity fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
