Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Removing system_tag flag, as it is not supported by the module.
  playbooks/tags_workflow_manager.yml
Due: run-setup=false, continued

Copyright year change
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued

Updated the UT and IT for Path trace
  plugins/modules/path_trace_workflow_manager.py
  tests/integration/ccc_path_trace_workflow_manager/defaults/main.yml
  tests/integration/ccc_path_trace_workflow_manager/meta/main.yml
  tests/integration/ccc_path_trace_workflow_manager/tasks/main.yml
  tests/integration/ccc_path_trace_workflow_manager/tests/test_path_trace_workflow_manager.yml
  tests/integration/ccc_path_trace_workflow_manager/vars/vars_path_trace_workflow_manager.yml
  tests/integration/ccc_pathtrace_settings_workflow_manager/tests/test_pathtrace_settings_workflow_manager.yml
  tests/integration/ccc_pathtrace_settings_workflow_manager/vars/vars_pathtrace_settings_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/path_trace_workflow_manager.json
  tests/unit/modules/dnac/test_path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Download feature addition
  playbooks/assurance_icap_settings_workflow_manager.yml
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated the UT and IT for Path trace
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Download feature addition
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

doc updation
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  playbooks/assurance_icap_settings_workflow_manager.yml
Due: run-setup=false, continued

Updated the UT and IT sanity for Path trace
  tests/unit/modules/dnac/test_path_trace_workflow_manager.py
Due: run-setup=false, continued

Common changes for password encript
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

Created seperate function for masked password
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

bug fixes and unit tests
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/sda_extranet_policies_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
  tests/unit/modules/dnac/fixtures/device_configs_backup_workflow_manager_intent.json
  tests/unit/modules/dnac/fixtures/network_compliance_workflow_manager_intent.json
  tests/unit/modules/dnac/fixtures/sda_extranet_policies_workflow_manager_intent.json
  tests/unit/modules/dnac/fixtures/sda_host_onboarding_workflow_manager_intent.json
  tests/unit/modules/dnac/test_device_configs_backup_workflow_manager.py
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
  tests/unit/modules/dnac/test_sda_extranet_policies_workflow_manager.py
  tests/unit/modules/dnac/test_sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups, run-networkcompliance

addressed sanity issues
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/sda_extranet_policies_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups, run-networkcompliance

addressed sanity issues
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networkcompliance

addressed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed sanity issues
  tests/unit/modules/dnac/fixtures/device_configs_backup_workflow_manager_intent.json
  tests/unit/modules/dnac/fixtures/network_compliance_workflow_manager_intent.json
  tests/unit/modules/dnac/fixtures/sda_extranet_policies_workflow_manager_intent.json
  tests/unit/modules/dnac/fixtures/sda_host_onboarding_workflow_manager_intent.json
  tests/unit/modules/dnac/test_device_configs_backup_workflow_manager.py
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
  tests/unit/modules/dnac/test_sda_extranet_policies_workflow_manager.py
  tests/unit/modules/dnac/test_sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued

addressed sanity issues
  tests/unit/modules/dnac/test_device_configs_backup_workflow_manager.py
Due: run-setup=false, continued

addressed sanity issues
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
Due: run-setup=false, continued

addressed sanity issues
  tests/unit/modules/dnac/test_sda_extranet_policies_workflow_manager.py
Due: run-setup=false, continued

addressed sanity issues
  tests/unit/modules/dnac/test_sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued

PNP workflow removed the if condition for mode
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP workflow UT corrected.
  tests/unit/modules/dnac/fixtures/pnp_workflow_manager.json
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued

addressed PR review comments
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups, run-networkcompliance

addressed PR review comments
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

addressed pr review comments
  plugins/modules/network_compliance_workflow_manager.py
  tests/unit/modules/dnac/test_sda_extranet_policies_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networkcompliance

UT
  tests/unit/modules/dnac/fixtures/assurance_icap_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued

Removed Cat9k device claim
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

sanity lint error fix
  playbooks/assurance_device_health_score_settings_workflow_manager.yml
  playbooks/assurance_icap_settings_workflow_manager.yml
  playbooks/assurance_issue_workflow_manager.yml
Due: run-setup=false, continued

Addressed code review comments
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

sanity lint error fix
  playbooks/path_trace_workflow_manager.yml
Due: run-setup=false, continued

sanity lint error fix
  plugins/modules/assurance_device_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
