Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Failed if any test failed
  .github/workflows/unit_tests.yml
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Reverted tmp changes
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Ansible Lint Fix Wrong indentation
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

review comments fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Moving Validation functions from tags workflow managet to validation under module_utils
  plugins/module_utils/validation.py
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Addressing sanity
  plugins/module_utils/validation.py
Due: run-setup=false, continued, run-any, run-all

Removed get_site_id function, calling it from dnac.py
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

assurance icap settings workflow manager
  playbooks/assurance_icap_settings_workflow_manager.yml
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

assurance icap settings workflow manager
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Network setting delete all bug enhance bug completed
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

addressed pr review comments
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed pr review comments
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Added Unittest Github Actions workflow
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Global ip pool force delete output message changed
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Addressed review comments
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Fixed missing the run step
  .github/workflows/unit_tests.yml
Due: run-setup=false, continued

Temporary for Unittest trigger
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch Profile Inconsistent Network Profile Name Length Validation fix
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

activation is in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Added new line
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Removed new line
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace enhancement updated
  playbooks/path_trace_workflow_manager.yml
  plugins/modules/path_trace_workflow_manager.py
  tests/unit/modules/dnac/fixtures/path_trace_workflow_manager.json
  tests/unit/modules/dnac/test_path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace enhancement updated
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

update readme
  README.md
Due: run-setup=false, continued

Update ansible-lint.yml
  .github/workflows/ansible-lint.yml
Due: run-setup=false, continued

add validation for mandatory params
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed all review comments, Formatted, Addressed Sanity
  playbooks/tags_workflow_manager.yml
  plugins/module_utils/validation.py
  plugins/modules/tags_workflow_manager.py
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Copyright update
  plugins/module_utils/validation.py
Due: run-setup=false, continued, run-any, run-all

UT update for assurance issue
  tests/integration/ccc_assurance_issue_management/defaults/main.yml
  tests/integration/ccc_assurance_issue_management/meta/main.yml
  tests/integration/ccc_assurance_issue_management/tasks/main.yml
  tests/integration/ccc_assurance_issue_management/tests/test_assurance_issue_management.yml
  tests/integration/ccc_assurance_issue_management/vars/vars_assurance_issue_management.yml
  tests/unit/modules/dnac/fixtures/assurance_issue_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comment
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any
