Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

sanity fixed
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-setup=false, run-any, run-swim

sanity fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

changes for unit of measure bug
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

addressed pr review comments
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

addressed pr review comments
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

review comments compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

review comments compleated
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-setup=false, run-any, run-swim

review comments fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

addressed pr review comments
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

addressed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Network setting delete all enhancement
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Network setting delete all enhancement sanity
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

User and role bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

bugs fixed
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

bugs fixed
  playbooks/provision_workflow_manager.yml
Due: run-setup=false

bugs fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

sanity fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Corrected the documentation when the 'borders_settings' is not found in the playboo'
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Breaking existing create global fixed
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

minor change in log
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Add Document for Delete credentials
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Fix the parameter name 'site_name_hierarchy' in the failed log message
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

added new API to get the device site
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Negative reserve ip pool testing cleared
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

PNP workflow bulk issue import issue fixed with correct message
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

swim bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

fix the typo error in the documentation, update the function name for the new API for exporting template
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

update the documentation and validate input params
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any
