Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Modifications for params bugs
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

devel changes
  plugins/action/assurance_issues_top_n_analytics_v1.py
  plugins/action/assurance_issues_trend_analytics_v1.py
  plugins/action/assurance_issues_update_v1.py
  plugins/action/configuration_template_info.py
  plugins/action/discovery_summary_info.py
  plugins/action/health_score_definitions_bulk_update_v1.py
  plugins/action/interfaces_query_v1.py
  plugins/action/system_issue_definitions_v1_info.py
  plugins/modules/authentication_policy_servers_v1.py
  plugins/modules/integrate_ise_v1.py
Due: run-setup=false, run-any

devel changes 2
  plugins/action/configuration_template_info.py
  plugins/action/discovery_summary_info.py
  plugins/action/interfaces_count_info.py
  plugins/action/interfaces_count_v1_info.py
  plugins/action/network_devices_interfaces_query_v2.py
  plugins/action/network_devices_query_count_v1.py
  plugins/action/network_devices_query_v1.py
  plugins/action/network_devices_summary_analytics_v1.py
  plugins/action/network_devices_trend_analytics_v1.py
  plugins/action/system_issue_definitions_v1_info.py
  plugins/action/telemetry_settings_apply_v1.py
  plugins/modules/interfaces_count_info.py
  plugins/modules/interfaces_count_v1_info.py
  plugins/modules/system_issue_definitions_info.py
  plugins/modules/wireless_settings_dot11be_profiles_v1.py
  tests/unit/modules/dnac/test_discovery_intent.py
Due: run-setup=false, run-any

devel changes 3
  plugins/action/configuration_template_info.py
  plugins/action/discovery_summary_info.py
  plugins/action/interfaces_count_info.py
  plugins/action/interfaces_count_v1_info.py
  plugins/action/system_issue_definitions_v1_info.py
  tests/unit/modules/dnac/test_discovery_intent.py
Due: run-setup=false, run-any

Modifications for rf_model bug along with comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

devel changes in module system_issue_definitions_v1_info
  plugins/modules/system_issue_definitions_v1_info.py
Due: run-setup=false, run-any

devel changes in module system_issue_definitions_v1_info doc
  plugins/modules/authentication_import_certificate_v1.py
  plugins/modules/system_issue_definitions_v1_info.py
Due: run-setup=false, run-any

devel changes in module system_issue_definitions_v1_info doc 2
  plugins/modules/system_issue_definitions_info.py
  tests/unit/modules/dnac/test_discovery_intent.py
Due: run-setup=false, run-any

devel changes in module authentication_import_certificate_v1 doc
  plugins/modules/authentication_import_certificate.py
  plugins/modules/authentication_import_certificate_v1.py
Due: run-setup=false, run-any

devel changes in module error
  plugins/modules/accesspoint_configuration_details_by_task_id_info.py
  plugins/modules/authentication_import_certificate_p12.py
  plugins/modules/authentication_import_certificate_p12_v1.py
  plugins/modules/event_snmp_config_v1_info.py
  plugins/modules/license_device_deregistration.py
  plugins/modules/license_device_license_details_info.py
  plugins/modules/network_device_register_for_wsa_info.py
Due: run-setup=false, run-any

devel changes in module authentication_import_certificate_p12
  plugins/modules/authentication_import_certificate_p12.py
  plugins/modules/authentication_import_certificate_p12_v1.py
Due: run-setup=false, run-any

devel changes in module discovery
  plugins/modules/authentication_import_certificate_p12_v1.py
  plugins/modules/discovery.py
  plugins/modules/discovery_v1.py
  plugins/modules/event_snmp_config_v1_info.py
Due: run-setup=false, run-any

devel changes in module discovery_v1
  plugins/modules/discovery_v1.py
Due: run-setup=false, run-any

test sanity modification
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Due: run-setup=false

testing the sanity test cases
  .github/workflows/sanity_tests_devel.yml
  playbooks/sda_extranet_policies_workflow_manager.yml
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

testing the sanity test cases
  .github/workflows/sanity_tests_devel.yml
  playbooks/sda_extranet_policies_workflow_manager.yml
Due: run-setup=false

testing the sanity test cases
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Update galaxy file
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Add Documentation for delete global_pool
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Fix the issue of verifying the deletion of template or project
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

PNP workflow manager UT covered 70%
  tests/unit/modules/dnac/fixtures/pnp_workflow_manager.json
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false

PNP workflow manager UT covered sanity fixed
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false

address review comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

revert the version in galaxy.yml
  galaxy.yml
Due: run-setup=false

revert the import statements after documentation
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

updated branch
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Regression of Cisco proprietary modules
  plugins/action/assurance_issues_query_count_v1.py
  plugins/modules/accesspoint_workflow_manager.py
  plugins/modules/assurance_issues_query_count_v1.py
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
  plugins/modules/events_and_notifications_workflow_manager.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/lan_automation_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/network_settings_intent.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/pnp_intent.py
  plugins/modules/pnp_workflow_manager.py
  plugins/modules/provision_intent.py
  plugins/modules/provision_workflow_manager.py
  plugins/modules/rma_workflow_manager.py
  plugins/modules/sda_extranet_policies_workflow_manager.py
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_transits_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

wireless ssids feature added to sda host port onboarding module
  playbooks/sda_host_port_onboarding_workflow_manager.yml
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

fixed sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, run-any

Normalize IPv6 address & set slaacsupport as optional
  plugins/module_utils/dnac.py
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any, run-all

remove extra log
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

moved import to the top of the module
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

add new line after import statements
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

add quotes to the variable
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Revert "add new line after import statements"
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

revert 2 commits before
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any
