Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Addressed the review comments
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Changes made to make the module inline with the IT cases
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Added a function to check the task tree when the failure response asks to check the task tree
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Changed the formats of logs
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Handle invalid event types, severities and categories for creating/updating notification, add additional check while deleting the notification, update webhook url validation
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Update accesspoint_workflow_manager.py
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Addressed review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Update accesspoint_workflow_manager.yml
  playbooks/accesspoint_workflow_manager.yml
Due: run-setup=false

2 Bug Fixes: network compliance module
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

network compliance module - 2 bug foxes
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

adding alternative of get_memebership API
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Handle invalid site type given in playbook while creating/updating/deleting site
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

removed empty line
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

addressed review comments - network compliance module
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Fix the issue of removing header while configuring webhook destination
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

update the url regex to must start with https:// and addressed review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Fix the issue of getting devices using 'get_device_list' for scaled set up in inventory and swim workflow manager
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-inventory, run-swim

Write the API in dnac.py to fetch the limit of 'get_device_list' response and make it by default to 500
  plugins/module_utils/dnac.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-inventory, run-swim

Fixed the problem of not accepting the public IPs of the ISE server under network_aaa and client_and_endpoint_aaa
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

addressed review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

move initial_exec in else part and rename variable
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-inventory, run-swim

addressed reveiw comments
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory
