Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Addressed review comments
  plugins/modules/backup_and_restore_playbook_config_generator.py
  tests/unit/modules/dnac/test_backup_and_restore_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressing Review Comments
  playbooks/sda_fabric_virtual_networks_playbook_config_generator.yml
Due: run-setup=false, continued

Lint issue fix
  playbooks/sda_fabric_virtual_networks_playbook_config_generator.yml
Due: run-setup=false, continued

bug fix
  plugins/modules/network_settings_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/network_settings_playbook_config_generation.json
  tests/unit/modules/dnac/test_network_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressing review comments
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_devices_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/sda_fabric_devices_playbook_config_generator.json
  tests/unit/modules/dnac/test_sda_fabric_devices_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Inventory Module Fixes
  playbooks/inventory_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/module_utils/dnac.py
  plugins/modules/inventory_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/inventory_playbook_config_generator.json
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Update changelog.yaml
  changelogs/changelog.yaml
Due: run-setup=false, continued

changes in galaxy
  galaxy.yml
Due: run-setup=false, continued

New design changes for wired_campus_automation_playbook_config_generator
  playbooks/wired_campus_automation_playbook_config_generator.yml
  plugins/modules/device_credential_playbook_config_generator.py
  plugins/modules/wired_campus_automation_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Line Issue Fix
  plugins/modules/inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Sanity fix
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued

Refactor return type of get_fabric_devices_configuration method to a list of dicts for improved clarity and consistency
  plugins/modules/sda_fabric_devices_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Optimizing the get_fabric_site_name_to_id_mapping method in brownfield helper to not recreate the site_id mappings if passed as a functional parameter. Updated UTs to remove filepath.
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_devices_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_fabric_devices_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Sanity Fix
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Wireless Design Bug Fix
  plugins/modules/wireless_design_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bug fixed for pnp overwrite
  plugins/modules/pnp_playbook_config_generator.py
  tests/unit/modules/dnac/test_pnp_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressed Review comments
  plugins/module_utils/brownfield_helper.py
  plugins/modules/sda_fabric_devices_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

multiple_ip_to_mac_addresses support
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
  tests/unit/modules/dnac/fixtures/sda_fabric_virtual_networks_workflow_manager.json
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed Review Comments
  plugins/module_utils/dnac.py
  plugins/modules/inventory_playbook_config_generator.py
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Update tags structure in tags_workflow_manager module and related tests to support multiple tags
  playbooks/tags_workflow_manager.yml
  plugins/modules/tags_workflow_manager.py
  tests/unit/modules/dnac/fixtures/tags_workflow_manager.json
Due: run-setup=false, continued, run-any

bug fixed
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Enhance tag name update logic to verify 'new_name' presence before updating in configuration
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug Fixed
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Bugs fixed
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, continued, run-any, run-eventsandnotif

Addressed comments
  playbooks/wired_campus_automation_playbook_config_generator.yml
  plugins/modules/wired_campus_automation_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressed comments
  plugins/modules/wired_campus_automation_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Inventory Validation Fixes
  plugins/module_utils/brownfield_helper.py
  plugins/modules/inventory_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/inventory_playbook_config_generator.json
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

doc update: Add a note that duration_in_mins must be between 30 and 480.
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed comments
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
  tests/unit/modules/dnac/fixtures/sda_fabric_virtual_networks_workflow_manager.json
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

IT Updated to test with the current setup
  tests/integration/ccc_tags_workflow_management/vars/vars_tags_workflow_management.yml
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Added Batch Support for device credentials retrieval
  plugins/modules/inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

review comments done
  plugins/modules/pnp_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Addressed Review Comments
  plugins/modules/inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

UT fixed
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed Review Comments
  plugins/module_utils/brownfield_helper.py
  plugins/modules/inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Bug fix in progress
  plugins/modules/user_role_playbook_config_generator.py
  tests/unit/modules/dnac/test_user_role_playbook_config_generator.py
Due: run-setup=false, continued, run-any
