Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

bugs in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

assign device to site bug fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Added the support to update the template_name
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

addressed review comments by rewriting the log message
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fix for Module error: AttributeError: 'dict' object has no attribute 'append'
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Network switch profile with UT and IT added
  tests/integration/ccc_network_switch_profile_workflow_management/defaults/main.yml
  tests/integration/ccc_network_switch_profile_workflow_management/meta/main.yml
  tests/integration/ccc_network_switch_profile_workflow_management/tasks/main.yml
  tests/integration/ccc_network_switch_profile_workflow_management/tests/test_network_switch_profile_workflow_manager.yml
  tests/integration/ccc_network_switch_profile_workflow_management/vars/vars_network_switch_profile_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/network_switch_profile_workflow_manager.json
  tests/unit/modules/dnac/test_network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed the review comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

UT completed
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/fixtures/application_policy_workflow_manager.json
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated for review comments regarding site creation
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

addressed review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Updated changes for review comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

network_wireless_profile UT and IT added
  playbooks/network_wireless_profile_workflow_manager.yml
  tests/integration/ccc_network_wireless_profile_workflow_management/defaults/main.yml
  tests/integration/ccc_network_wireless_profile_workflow_management/meta/main.yml
  tests/integration/ccc_network_wireless_profile_workflow_management/tasks/main.yml
  tests/integration/ccc_network_wireless_profile_workflow_management/tests/test_network_wireless_profile_workflow_manager.yml
  tests/integration/ccc_network_wireless_profile_workflow_management/vars/vars_network_wireless_profile_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/network_wireless_profile_workflow_manager.json
  tests/unit/modules/dnac/test_network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

addressing sanity issues
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

testing is in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Missed the validation for device_roles when the device is present in the fabric
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

update docs for main
  main/_sources/plugins/sda_fabric_virtual_networks_workflow_manager_module.rst.txt
  main/_sources/plugins/sda_host_port_onboarding_workflow_manager_module.rst.txt
  main/_sources/plugins/template_workflow_manager_module.rst.txt
  main/objects.inv
  main/plugins/sda_fabric_virtual_networks_workflow_manager_module.html
  main/plugins/sda_host_port_onboarding_workflow_manager_module.html
  main/plugins/template_workflow_manager_module.html
  main/searchindex.js
Due: run-setup=false, continued

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

in progress
  playbooks/provision_workflow_manager.yml
Due: run-setup=false, continued

addressed review comments
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

removed extra log
  plugins/modules/assurance_healthscore_settings_workflow_manager.py
  tests/unit/modules/dnac/test_assurance_healthscore_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated changes for site_workflow_manager.py
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

SWIM Lack of information from get_site issue fixed
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

tweaked the poll timers for checking device reachability
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

2 swim bugs completed
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

2 swim bugs completed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

provision bugs completed
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

provision bugs completed
  playbooks/provision_workflow_manager.yml
Due: run-setup=false, continued

provision bugs completed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

fixed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

swim_get_site_issue_on_offset addressed the comments
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all
