Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Changes in workflow manager module
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

updating changelogs
  changelogs/changelog.yaml
Due: run-setup=false, continued

Switch profile - bug fixed
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Switch profile - bug fixed
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressing review comments.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Address and optimise the template workflow manager code
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

remove extra check
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

fix indentation
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Improved the error message when TypeError was raised by the validation functions.
  plugins/module_utils/validation.py
Due: run-setup=false, continued, run-any, run-all

Improvement in the log message while printing invalid parameters.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated unit tests for negative testcases due to changes in validation.py
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued

Sanity Fix
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity fix. '\n' can't be a part of f-strings
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Fix
  plugins/module_utils/validation.py
Due: run-setup=false, continued, run-any, run-all

Switch workflow - re factor the delete functionality
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Switch workflow - re factor the delete functionality
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Add UT for sda fabric transits workflow manager module
  tests/unit/modules/dnac/fixtures/sda_fabric_transits_workflow_manager.json
  tests/unit/modules/dnac/test_sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued

fix sanity
  tests/unit/modules/dnac/test_sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued

Switch workflow - UT complated
  tests/unit/modules/dnac/fixtures/network_profile_switching_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_switching_workflow_manager.py
Due: run-setup=false, continued

Template workflow manager - Fixed mergconflict
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Path trace - Delete idempotent issue fixed
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace - Delete idempotent issue fixed
  tests/unit/modules/dnac/test_path_trace_workflow_manager.py
Due: run-setup=false, continued

Assurance Issue workflow - Idempotent issue fixed for resolve and ignore
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance Issue workflow - Idempotent issue fixed for resolve and ignore
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued

Addressed review comments.
  plugins/module_utils/dnac.py
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Added try/except block for deepcopy
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

TypeError: 'NoneType' error encountered during site processing when no sub-sites are present- Bug Fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Added variable for skipped_entries, Fixed the f string and Fixed the compare function,
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Template workflow manager - Code review addressed
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Fix the issue of updating description in device maintenance schedule, delete multiple maintenance schedule for the devices based on device ips and fix the typo in the documentation
  plugins/modules/inventory_workflow_manager.py
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

The parameter ip_pool_name was not required for multicast deletion cases when ASM or SSM configuration is not involved. Keeping it mandatory was causing non-idempotency.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace - Code review addressed
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue workflow - Addressed code review comments
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
