Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Latest modifications for the device_configs_backup_workflow_manager
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

network settings change
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

1st review comments compleated, new feature added and minor bug fix in get_diff_deleted.
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

1st review comments compleated, example added for force provisioning
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

fix resource class
  .circleci/config.yml
Due: run-setup=false

Sanity check for the dnac.py and device backup files
  plugins/module_utils/dnac.py
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any, run-all

Sanity test for the network_compliance_workflow_manager
  tests/unit/modules/dnac/test_network_compliance_workflow_manager.py
Due: run-setup=false

Task details function was changed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Refactor: Use calling object to retrieve get_site value from dnac.py module
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

User and Role comments fixed
  plugins/module_utils/dnac.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any, run-all

Replaced version comparison logic to use integer-based comparison functions
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Changed the pan_address and primary_server_address key value for ISE servers
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Add yamllint
  .circleci/config.yml
  .github/workflows/automerge.yml
  .github/workflows/docs.yml
  .github/workflows/integration_tests.yml
  .github/workflows/main.yml
  .github/workflows/release-prep.yml
  .github/workflows/release.yml
  .github/workflows/sanity_tests.yml
  .github/workflows/sanity_tests_devel.yml
  .yamllint.yml
  meta/runtime.yml
Due: run-setup=false

Disable log to file for debug
  run_tests.sh
Due: run-setup=false

add nl
  .github/workflows/sanity_tests.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Change pr event to devel workflow so it will be run on forks
  .github/workflows/sanity_tests.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Debug circleci
  .circleci/config.yml
Due: run-setup=false

Revert "Debug circleci"
  .circleci/config.yml
Due: run-setup=false

Changes for the site workflow module
  plugins/modules/site_workflow_manager.py
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false, run-any, run-site

changes for the site workflow manager
  tests/unit/modules/dnac/fixtures/site_workflow_manager.json
Due: run-setup=false

warning everything
  .yamllint.yml
Due: run-setup=false

Some fixes
  .circleci/config.yml
  run_tests.sh
Due: run-setup=false

Latest changes for the Site workflow module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Checked the project name for verifying the absence of the template
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

1st Review compleated for inventory changes are done
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Fix loguc
  .circleci/config.yml
Due: run-setup=false

remove module_utils change for tests
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

Fix duplicated rules
  .yamllint.yml
Due: run-setup=false

Fix typos
  .github/workflows/sanity_tests.yml
  .github/workflows/sanity_tests_devel.yml
  .yamllint.yml
Due: run-setup=false

Don't run sanity tests to check yamlliny
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Fix working-dir
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

Fix working-dir
  .github/workflows/sanity_tests.yml
Due: run-setup=false

uncomment sanity tests
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

removed release files and sda module files
  .github/workflows/release-prep.yml
  .github/workflows/release.yml
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

2ed Review comments compleated
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any
