Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

User and Role bug fixed
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

handle none value
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Add family and function name in other exception block as well
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

User and Role comments fixed
  plugins/module_utils/dnac.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any, run-all

Provision workflow comments fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Modifications for the site_enhancement_module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

AP workflow fixed 2 bug
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  playbooks/fabric_devices_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/fabric_devices_workflow_manager.py
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any, run-all

Resolved the sanity errors
  plugins/modules/fabric_devices_workflow_manager.py
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

version based routing
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Updated version based main side
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Changed the minimum version support statements
  plugins/modules/fabric_devices_workflow_manager.py
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Code review comment fixed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Addressed PR comments and added the check for unsupported CatC versions
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, run-any

Addressed documentation and removed extra checks
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, run-any

AP provision 2 bug fixed.
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Replaced f-string with format
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, run-any

Removed extra if link_add, link_delete checks
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, run-any

Code review comment updated
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Fixed the problem while editing AAA server return 'list index out of range' error
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Bug fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Addressed code reveiw comments
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

comments fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Changes in SDA workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false

Code review comments removed op modifies
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

Fetched the fqdn value from the primary node rather than from first element in the collection of nodes config
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

2 bug fixed for include enhancement bug
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

user and role bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
