Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

common changes
  playbooks/assurance_device_health_score_settings_playbook_config_generator.yml
  plugins/modules/assurance_device_health_score_settings_playbook_config_generator.py
  tests/unit/modules/dnac/test_assurance_device_health_score_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

phase 2 common changes in progress
  playbooks/application_policy_playbook_config_generator.yml
  plugins/modules/application_policy_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/application_policy_playbook_config_generator.json
  tests/unit/modules/dnac/test_application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Phase2 common changes in progress
  playbooks/backup_and_restore_playbook_config_generator.yml
  plugins/modules/backup_and_restore_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/backup_and_restore_playbook_config_generator.json
  tests/unit/modules/dnac/test_backup_and_restore_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Changes in Pull request format
  .github/PULL_REQUEST_TEMPLATE.md
Due: run-setup=false, continued

Bug fix in progress
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Phase2 common changes done
  plugins/modules/backup_and_restore_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/backup_and_restore_playbook_config_generator.json
  tests/unit/modules/dnac/test_backup_and_restore_playbook_config_generator.py
Due: run-setup=false, continued, run-any

phase 2 code done
  playbooks/application_policy_playbook_config_generator.yml
  plugins/modules/application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

common changes for discovery playbook config
  playbooks/discovery_playbook_config_generator.yml
  plugins/modules/discovery_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/discovery_playbook_config_generator.json
  tests/unit/modules/dnac/test_discovery_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bug fix: Incorrect IP Address Range Format Generated for discoveryType 'Single'
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, continued, run-any, run-discovery

phase2 common changes in progress
  playbooks/events_and_notifications_playbook_config_generator.yml
  plugins/modules/events_and_notifications_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/events_and_notifications_playbook_config_generator.json
  tests/unit/modules/dnac/test_events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Bug fixed
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, continued, run-any, run-eventsandnotif

code in progress
  playbooks/provision_playbook_config_generator.yml
  plugins/modules/provision_playbook_config_generator.py
  tests/unit/modules/dnac/test_provision_playbook_config_generator.py
Due: run-setup=false, continued, run-any

common changesb updated
  playbooks/assurance_issue_playbook_config_generator.yml
  plugins/modules/assurance_issue_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/assurance_issue_playbook_config_generator.json
  tests/unit/modules/dnac/test_assurance_issue_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Phase2 common changes in progress
  playbooks/user_role_playbook_config_generator.yml
  plugins/modules/user_role_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/user_role_playbook_config_generator.json
  tests/unit/modules/dnac/test_user_role_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Adddressed review comments
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, continued, run-any, run-eventsandnotif

phase 2 code changes done
  playbooks/pnp_playbook_config_generator.yml
  plugins/modules/pnp_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/pnp_playbook_config_generator.json
  tests/unit/modules/dnac/test_pnp_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Phase2 common changes done
  playbooks/backup_and_restore_playbook_config_generator.yml
Due: run-setup=false, continued

Phase2 common changes done
  plugins/modules/backup_and_restore_playbook_config_generator.py
Due: run-setup=false, continued, run-any

lint issue fixed
  playbooks/backup_and_restore_playbook_config_generator.yml
Due: run-setup=false, continued

Enhance tags playbook configuration generator with file path and mode options; streamline component filter validation and auto-population logic. Aligning the module with the updated design.
  playbooks/tags_playbook_config_generator.yml
  plugins/modules/tags_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/tags_playbook_config_generator.json
  tests/unit/modules/dnac/test_tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Ansible lint failure fix
  tags_playbook_config_generator.yml
Due: run-setup=false, continued

Fixed ansible lint
  playbooks/tags_playbook_config_generator.yml
  tags_playbook_config_generator.yml
Due: run-setup=false, continued

Switch Profile CG - Phase 2 common Changes implemented
  playbooks/network_profile_switching_playbook_config_generator.yml
  plugins/modules/network_profile_switching_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/network_profile_switching_playbook_config_generator.json
  tests/unit/modules/dnac/test_network_profile_switching_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Wireless Profile CG - Common Changes Phase 2 implemented
  playbooks/network_profile_wireless_playbook_config_generator.yml
  plugins/modules/network_profile_wireless_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/network_profile_wireless_playbook_config_generator.json
  tests/unit/modules/dnac/test_network_profile_wireless_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Accesspoint location CG - Common Phase 2 changes implemented
  playbooks/accesspoint_location_playbook_config_generator.yml
  plugins/modules/accesspoint_location_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/accesspoint_location_playbook_config_generator.json
  tests/unit/modules/dnac/test_accesspoint_location_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Accesspoint Configuration CG - Common changes Phase 2 implemented
  playbooks/accesspoint_playbook_config_generator.yml
  plugins/modules/accesspoint_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/accesspoint_playbook_config_generator.json
  tests/unit/modules/dnac/test_accesspoint_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Phase2 common changes in progress
  playbooks/events_and_notifications_playbook_config_generator.yml
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Implement auto-populate and validation for components_list in BrownFieldHelper
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Formatting changes
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Addressed review comment & common changes done
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

code completed
  playbooks/provision_playbook_config_generator.yml
Due: run-setup=false, continued

code completed
  tests/unit/modules/dnac/test_provision_playbook_config_generator.py
Due: run-setup=false, continued

phaseII common changes
  playbooks/network_settings_playbook_config_generator.yml
  plugins/modules/network_settings_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/network_settings_playbook_config_generation.json
  tests/unit/modules/dnac/test_network_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/network_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Accesspoint Configuration CG - Common changes Phase 2 implemented
  plugins/modules/accesspoint_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Implement filtering for system tags in TagsPlaybookGenerator to exclude unmanaged tags from YAML configurations
  plugins/modules/tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any

phaseII changes
  playbooks/assurance_device_health_score_settings_playbook_config_generator.yml
  plugins/modules/assurance_device_health_score_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/provision_playbook_config_generator.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/discovery_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Align Template CG module with new design
  playbooks/template_playbook_config_generator.yml
  plugins/modules/template_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/template_playbook_config_generator.json
Due: run-setup=false, continued, run-any
