Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

remove .py from the module name in the playbook
  playbooks/brownfield_sda_fabric_virtual_networks_config_generator.yaml
Due: run-setup=false, continued

Sanity issues
  playbooks/brownfield_sda_fabric_sites_zones_config_generator.yml
  playbooks/brownfield_sda_fabric_transits_config_generator.yaml
  playbooks/brownfield_sda_fabric_virtual_networks_config_generator.yaml
Due: run-setup=false, continued

Bug Fix for template tags
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Accesspoint Location Workflow - comprehensive display message udpated
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Added template_content_file_path option in template_workflow_manager
  plugins/modules/template_workflow_manager.py
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

doc update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed PR commnets
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Fixed UT
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location Workflow - Validation added for idempotent
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location Workflow - Updated the UT
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued

Addressed comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Fixed documentation error
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Sanity Fix
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

addressed review comments
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

ansible-lint fix
  playbooks/brownfield_sda_fabric_transits_config_generator.yaml
  playbooks/brownfield_sda_fabric_virtual_networks_config_generator.yaml
Due: run-setup=false, continued

Ansible-lint fix
  playbooks/brownfield_sda_fabric_transits_config_generator.yaml
Due: run-setup=false, continued

Ansible-lint fix
  playbooks/brownfield_sda_fabric_virtual_networks_config_generator.yaml
Due: run-setup=false, continued

Sanity Fix
  plugins/modules/brownfield_sda_fabric_transits_config_generator.py
Due: run-setup=false, continued, run-any

Addressed Review Comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Added playbook and module to create ise_radius_integration_playbook_generator
  playbooks/brownfield_ise_radius_integration_playbook_generator
  plugins/modules/brownfield_ise_radius_integration_playbook_generator.py
Due: run-setup=false, continued, run-any

document change
  plugins/modules/brownfield_ise_radius_integration_playbook_generator.py
Due: run-setup=false, continued, run-any

Accesspoint Location workflow - Documents examples updates
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed Containing Template Idempotence Issue
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Fixed Indentation Issue
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Sanity Fix
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

time_range update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

code in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Bugs fixed
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fixed
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Accespoint Location workflow - validated float value
  plugins/module_utils/validation.py
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Accespoint Location workflow - validated float value
  plugins/module_utils/validation.py
Due: run-setup=false, continued, run-any, run-all

code in progress
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any
