Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

updated user_role_workflow_feature code
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

check vars
  .circleci/config.yml
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

Creation, Updation, Deletion of SDA Fabric Transits in Cisco Catalyst Center
  playbooks/fabric_transits_workflow_manager.yml
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Resovled the sanity errors
  plugins/modules/fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

CSCwm07436, CSCwm07948, CSCwm26614 - user_role_workflow_manager bugs fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

user_role_workflow_manager bugs fixed - CSCwm07436, CSCwm07948, CSCwm26614
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

rma_workflow_manager bug fixed - CSCwm26351
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

store ansible logs on internal vm
  .circleci/config.yml
  run_tests.sh
Due: run-setup=false

add no_proxy
  .circleci/config.yml
Due: run-setup=false

disable StrictHostKeyCheck
  .circleci/config.yml
Due: run-setup=false

fix permissions
  .circleci/config.yml
Due: run-setup=false

fix
  .circleci/config.yml
Due: run-setup=false

init rc file
  .circleci/config.yml
Due: run-setup=false

don't use context var for ip
  .circleci/config.yml
Due: run-setup=false

Don't run everytime
  .circleci/config.yml
Due: run-setup=false

device configs backup module bug fixes
  plugins/modules/device_configs_backup_workflow_manager.py
  tests/integration/ccc_device_configs_backup_management/defaults/main.yml
  tests/integration/ccc_device_configs_backup_management/meta/main.yml
  tests/integration/ccc_device_configs_backup_management/tasks/main.yml
  tests/integration/ccc_device_configs_backup_management/tests/test_device_configs_backup_management.yml
  tests/integration/ccc_device_configs_backup_management/vars/vars_device_configs_backup_management.yml
Due: run-setup=false, run-any

user_role_workflow_manager bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

device configs backup module bug fixes
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

device configs backup module bug fixes
  plugins/modules/device_configs_backup_workflow_manager.py
  tests/integration/ccc_device_configs_backup_management/vars/vars_device_configs_backup_management.yml
Due: run-setup=false, run-any

Bug raised for the 9 issue was fixed.
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Fixed code review comments
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Sanity issue on the lenth of line
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

AP update V1 to V2 to support clean air
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

user_role_workflow_manager comments fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

remove trailing spae
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

Pass sanity tests when there's nothing to execute
  .circleci/config.yml
Due: run-setup=false

Disable dry-run
  .github/workflows/main.yml
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
