Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Addressed the review comments
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Template wrong variable name bug fix.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Lan_automation documentation mismatch bug fix.
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Addressed
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

UT updates
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

Bug fix: Issue Creation via Playbook Fails Due to Facility Validation, Works via UI
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comemnts
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Update sanity_tests.yml
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

sanity fix
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Add UT for the module sda fabric sites zones workflow manager.
  tests/unit/modules/dnac/fixtures/sda_fabric_virtual_networks_workflow_manager.json
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued

fix sanity errors
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued

fix more sanity error
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued

update copyright year
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued

UT testcases added
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued

UT testcases added
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
Due: run-setup=false, continued

Fixed bugs
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/fixtures/application_policy_workflow_manager.json
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

changelog modification and version
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Enhance CI workflow by adding yamllint checks and a separate sanity job for the devel branch. Implement timeout for sanity tests and improve logging during execution.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Refactor CI workflow by removing redundant steps and simplifying sanity test execution. Add pull request trigger and update Ansible version matrix.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Update sanity test command in CI workflow to remove unnecessary Docker flag for improved execution.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Update CI workflow to use Docker for sanity tests and include coverage reporting.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Update CI workflow to use latest actions versions and add 'devel' to Ansible version matrix.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Enhance CI workflow by updating actions versions, adding detailed logging, and improving memory checks during sanity tests. Introduce structured output for better readability.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Added sda fabric sites zones workflow manager json input file for the UT
  tests/unit/modules/dnac/fixtures/sda_fabric_sites_zones_workflow_manager.json
Due: run-setup=false, continued

Missing Validation for occurrences Field in Playbook When Creating/Updating User Defined Issue
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile Playbook YAML fixed
  playbooks/network_profile_wireless_workflow_manager.yml
Due: run-setup=false, continued
