Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Addressed the review comments
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

addressed review comments
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Handle the invalid input handle for which predefined options are present for SNMP, Syslog and Email destination and also fix the enhanced validation issue of server_address
  plugins/module_utils/dnac.py
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any, run-all

update 2.3.7.6 version
  README.md
  changelogs/changelog.yaml
  playbooks/credentials.template
  plugins/action/site_assign_device.py
  plugins/doc_fragments/module.py
  plugins/doc_fragments/module_info.py
  plugins/plugin_utils/dnac.py
Due: run-setup=false, run-any

network_compliance bug fixes
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

update the regex pattern in webhook destination as it's not accepting ipv6
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

update 2.3.7.6 version
  Pipfile
  README.md
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/disasterrecovery_system_operationstatus_info.py
  plugins/modules/disasterrecovery_system_status_info.py
  plugins/modules/endpoint_analytics_profiling_rules.py
  plugins/modules/endpoint_analytics_profiling_rules_info.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/network_device_with_snmp_v3_des_info.py
  plugins/modules/network_update.py
  plugins/modules/network_v2.py
  plugins/modules/network_v2_info.py
  plugins/modules/nfv_profile.py
  plugins/modules/nfv_profile_info.py
  plugins/modules/nfv_provision.py
  plugins/modules/nfv_provision_detail_info.py
  plugins/modules/nfv_provision_details.py
  plugins/modules/profiling_rules_count_info.py
  plugins/modules/profiling_rules_in_bulk_create.py
  plugins/modules/sda_count_info.py
  plugins/modules/sda_fabric.py
  plugins/modules/sda_fabric_info.py
  plugins/modules/site_assign_device.py
  plugins/modules/site_design_floormap.py
  plugins/modules/site_design_floormap_info.py
  plugins/modules/syslog_config_create.py
  plugins/modules/syslog_config_update.py
  plugins/modules/threat_detail.py
  plugins/modules/threat_detail_count.py
  plugins/modules/threat_summary.py
  requirements.txt
Due: run-setup=false, run-any, run-devicecredential, run-inventory

Added the code for creating/updating/deleting events subscription notification with specified destination and added the playbook and documentation with examples as well
  playbooks/events_and_notifications_workflow_manager.yml
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

chore: Update dnacentersdk requirement to 2.7.1
  README.md
  changelogs/changelog.yaml
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/disasterrecovery_system_operationstatus_info.py
  plugins/modules/disasterrecovery_system_status_info.py
  plugins/modules/endpoint_analytics_profiling_rules.py
  plugins/modules/endpoint_analytics_profiling_rules_info.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/network_device_with_snmp_v3_des_info.py
  plugins/modules/network_update.py
  plugins/modules/network_v2.py
  plugins/modules/network_v2_info.py
  plugins/modules/nfv_profile.py
  plugins/modules/nfv_profile_info.py
  plugins/modules/nfv_provision.py
  plugins/modules/nfv_provision_detail_info.py
  plugins/modules/nfv_provision_details.py
  plugins/modules/profiling_rules_count_info.py
  plugins/modules/profiling_rules_in_bulk_create.py
  plugins/modules/sda_count_info.py
  plugins/modules/sda_fabric.py
  plugins/modules/sda_fabric_info.py
  plugins/modules/site_assign_device.py
  plugins/modules/site_design_floormap.py
  plugins/modules/site_design_floormap_info.py
  plugins/modules/syslog_config_create.py
  plugins/modules/syslog_config_update.py
  plugins/modules/threat_detail.py
  plugins/modules/threat_detail_count.py
  plugins/modules/threat_summary.py
  requirements.txt
Due: run-setup=false, run-any, run-devicecredential, run-inventory

Remove trailing whitespace
  plugins/action/network_devices_interfaces_query.py
  plugins/action/sda_virtual_network_ip_pool.py
  plugins/modules/authentication_policy_servers.py
  plugins/modules/configuration_template_info.py
  plugins/modules/device_replacement_count_info.py
  plugins/modules/device_replacement_info.py
  plugins/modules/discovery_summary_info.py
  plugins/modules/network_device_count_info.py
  plugins/modules/network_device_functional_capability_info.py
  plugins/modules/network_device_info.py
  plugins/modules/network_device_module_count_info.py
  plugins/modules/network_device_module_info.py
  plugins/modules/network_devices_interfaces_query.py
  plugins/modules/pnp_device_count_info.py
  plugins/modules/pnp_device_history_info.py
  plugins/modules/pnp_device_info.py
  plugins/modules/pnp_workflow_count_info.py
  plugins/modules/pnp_workflow_info.py
  plugins/modules/templates_details_info.py
Due: run-setup=false, run-any

Fix inconsistent parameters import and module names -pep8 -pylint -validate-modules
  plugins/action/sda_fabric_devices_layer2_handoffs.py
  plugins/action/sda_virtual_network.py
  plugins/modules/sda_anycast_gateways.py
  plugins/modules/sda_fabric_devices_layer2_handoffs_sda_transits.py
  plugins/modules/sda_fabric_devices_layer2_handoffs_sda_transits_count_info.py
  plugins/modules/sda_fabric_devices_layer2_handoffs_sda_transits_info.py
Due: run-setup=false, run-any

Update docs.yml
  .github/workflows/docs.yml
Due: run-setup=false

chore: Remove network_device_config__info.py action module, duplicates
  plugins/action/network_device_config__info.py
  plugins/modules/network_device_config__info.py
Due: run-setup=false, run-any

Removed the subscriber_name for the ISE server. Made required for minimal params for updation
  changelogs/changelog.yaml
  playbooks/ise_radius_integration_workflow_manager.yml
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Addressed review comments
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  changelogs/changelog.yaml
  playbooks/ise_radius_integration_workflow_manager.yml
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

remove is_valid_ipv4 function as we are validating server address with is_valid_server_address API
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Changed notification_name to name while creating/updating/deleting the notification and make same chnages in playbook as well.
  playbooks/events_and_notifications_workflow_manager.yml
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

Fix module name from network_device_config__info to configuration_archive_details_info.
  README.md
  changelogs/changelog.yaml
  galaxy.yml
  plugins/action/configuration_archive_details_info.py
  plugins/modules/configuration_archive_details_info.py
Due: run-setup=false, run-any

Fix: - pep8 - pylint - validate-modules
  README.md
  changelogs/changelog.yaml
  galaxy.yml
  plugins/action/configuration_archive_details_info.py
  plugins/modules/configuration_archive_details_info.py
Due: run-setup=false, run-any

Removed the params which cannot be updated from the example playbook
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

compliance bug fix - modified error msg
  plugins/modules/network_compliance_workflow_manager.py
Due: run-setup=false, run-any

Delete all the config even a error occurs in the middle
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Verifying the existence of servers in the network_aaa and clientandEndpoint_aaa
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

update provisioning attribute
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

updated changelogs
  changelogs/changelog.yaml
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
