Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

doc update for filters
  plugins/modules/reports_workflow_manager.py
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Bugs fixed
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Bugs fixed
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued

Lan automation workflow manager port channel enhancement code.
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

documentation update
  playbooks/reports_workflow_manager.yml
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

filter validation update
  plugins/modules/reports_workflow_manager.py
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued

Wireless profile - Update feature template not working fixed
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

UT update
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued

deletion_timestamp enhancement added
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

updated validation for deletion
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

updated
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity issue fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

6 bugs done
  plugins/modules/swim_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

6 bugs done
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

documentation update for formate type
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile - Bug fixed for AP zone and integration tests updated
  plugins/modules/network_profile_wireless_workflow_manager.py
  tests/integration/ccc_network_profile_switching_workflow_management/tests/test_network_profile_switching_workflow_manager.yml
  tests/integration/ccc_network_profile_switching_workflow_management/vars/vars_network_profile_switching_workflow_manager.yml
  tests/integration/ccc_network_profile_wireless_workflow_management/tests/test_network_profile_wireless_workflow_management.yml
  tests/integration/ccc_network_profile_wireless_workflow_management/vars/vars_network_profile_wireless_workflow_manager.yml
Due: run-setup=false, continued, run-any

Wireless profile - Sanity fixed.
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Fix
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Bugs fixed
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

addressed review comments
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments done
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Wireless Profile - Addressed Review comments
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
