Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Bug & UT fixed
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug & UT fixed
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued

bug fixed
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Addressed review comment
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

addressed review comments
  plugins/module_utils/dnac.py
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

sanity fix
  plugins/modules/reports_workflow_manager.py
  tests/unit/modules/dnac/fixtures/reports_workflow_manager.json
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/integration/ccc_backup_and_restore_workflow_manager/tests/test_backup_and_restore_workflow_manager.yml
  tests/integration/ccc_backup_and_restore_workflow_manager/vars/vars_backup_and_restore_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Update the documentation for the parameter 'resource_guard_enable' and also fix the issue of enabling wireless flooding without enabling Fabric Enabled Wireless
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  tests/integration/ccc_backup_and_restore_workflow_manager/tests/test_backup_and_restore_workflow_manager.yml
  tests/integration/ccc_backup_and_restore_workflow_manager/vars/vars_backup_and_restore_workflow_manager.yml
Due: run-setup=false, continued, run-any

completed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Rename the no update parameter name for port assignment, port channel and vlan ssids mapping
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

plugins/modules/wired_campus_automation_workflow_manager.py
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

UT
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued

UT fix
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

Inventory Workflow - Fixed the Snapversion param issue
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Path Trace Workflow - Updated the Yaml documentation addressed comments
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

code in progess
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Ut added
  plugins/modules/swim_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Ut added
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
Due: run-setup=false, continued

PNP Workflow Manager - fixed site name and update issue
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP workflow - Fixed the UT added the authorize
  plugins/modules/pnp_workflow_manager.py
  tests/unit/modules/dnac/fixtures/pnp_workflow_manager.json
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

reset feature for aaa and banner setting
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Added the enhancement for the parameter 'native_vlan_id' and 'allowed_vlan_ranges' for creating/updating port assignment and port channel for sda host port onboarding module.
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless Profile Workflow - Fixed the version related bug
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

added the option for Daily recurrance
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location Workflow - Updated for unassign AP and covered UT
  plugins/modules/accesspoint_location_workflow_manager.py
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location Workflow - Updated for unassign AP and covered UT
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Reports Workflow: Improve time_zone documentation
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

UT
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

sanity fix
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

Names changed from backup to backup_job_creation
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/integration/ccc_backup_and_restore_workflow_manager/vars/vars_backup_and_restore_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

remove lines and update parameter values
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comment nfs_portmapper_port
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
  tests/integration/ccc_backup_and_restore_workflow_manager/vars/vars_backup_and_restore_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/backup_and_restore_workflow_manager.json
  tests/unit/modules/dnac/test_backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any
