Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

sync bug: no device available
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

inventory bug fixed
  plugins/modules/inventory_workflow_manager.py
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, run-any, run-inventory

inventory bug fixed
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false

inventory bug fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Provided the bulk input to the add and update fabric devices APIs in a batch of 40
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Bug fix: Sync Device Credentials to Site devices failed
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Telemetry settings bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed Review comment
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

fixed review comments
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Changes in template workflow manager module
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Address review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Address Review comment
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Fixed issues sda_layer3_virtual_networks_v1 PUT instead of POST #221
  changelogs/changelog.yaml
  galaxy.yml
  playbooks/sda_anycast_gateways.yml
  playbooks/sda_layer3_virtual_networks.yml
  plugins/action/sda_anycast_gateways_v1.py
  plugins/action/sda_layer3_virtual_networks_v1.py
Due: run-setup=false, run-any

delete prints
  plugins/action/sda_anycast_gateways_v1.py
  plugins/action/sda_layer3_virtual_networks_v1.py
Due: run-setup=false, run-any

changed the check_type from string to str and integer to int in the validate_input function
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Changes for delete an area bug
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Changes for telemetry settings
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Bug fix: The telemetry update workflow does not align with the API design
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed comments for delete an area bug
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Updated the validate_input function by replacing string with str and integer with int for type validation in device credential
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Add the datatype for the parameter fabric_site_location.
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

address review comment
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

address review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Removed the business APIs from the workflow
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

2 invetory bugs fixed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

minor fix
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Initial commit
  README.md
Due: run-setup=false

removed the nested loops
  temp_site_workflow.yml
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
