Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

update galaxy.yml version
  galaxy.yml
Due: run-setup=false

bug fix: Create a Global Pool with ip_address_space is 'ipv4' or 'IPV4'
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Modifications for deletion changes
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Modifications for update and deletion bugs
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Modifications for update and deletion bugs along with comments
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

sanity check
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

converted yaml syntax errors to warning
  .yamllint.yml
Due: run-setup=false

removed commented code
  .circleci/config.yml
Due: run-setup=false

Update sanity_tests_devel.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

fixed sanity issues
  .circleci/config.yml
Due: run-setup=false

Sanity issue
  plugins/action/accesspoint_configuration_details_by_task_id_info.py
Due: run-setup=false, run-any

Devel error
  playbooks/site_intent.yml
Due: run-setup=false

updated sanity tests to ignore yamllinting on plugins folder
  .yamllint.yml
Due: run-setup=false

Sanity check
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Changes done for bugs
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
