Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

sanity tests only on modified files
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

sanity tests only on modified files
  .github/workflows/sanity_tests.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

trigger circleci on pr creation instead of pr approval
  .github/workflows/main.yml
Due: run-setup=false

test ci
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

test ci
  .github/workflows/main.yml
Due: run-setup=false

test ci
  .circleci/config.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

test ci
  test-requirements.txt
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

test ci
  .circleci/config.yml
  test-requirements.txt
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

test ci
  meta/runtime.yml
Due: run-setup=false

Modifications for balance 5 comments fixed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

bug fix for banner settings
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

review comments addressed
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

minor change done
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

document fixed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Modifications for getfixed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

test ci
  .circleci/config.yml
  meta/runtime.yml
  test-requirements.txt
Due: run-setup=false

test ci
  .circleci/config.yml
Due: run-setup=false

test ci
  run_tests.sh
Due: run-setup=false

test ci
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false

coding done
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

remove duplicates snmpRwCommunity
  changelogs/changelog.yaml
  plugins/modules/discovery.py
Due: run-setup=false, run-any

minor fix in the code
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

update the log message
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

Bug fixed for the AP - PNP devices
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, run-any, run-pnp

review comments completed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

update changelog
  changelogs/changelog.yaml
Due: run-setup=false

Update sanity_tests_devel.yml
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false
