Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Added the sanity validation for export templates
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

Resolved the sanity errors
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, run-any

updated user_role_workflow_manager.yml
  playbooks/user_role_workflow_manager.yml
Due: run-setup=false

Removed dnac.log file
  dnac.log
Due: run-setup=false

Updated user_role_workflow_manager.py file
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Resolved sanity issues
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

Corrected test case
  tests/unit/modules/dnac/test_rma_workflow_manager.py
Due: run-setup=false

Sanity check for unit testing is done
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false

Added user and role workflow manager module
  changelogs/changelog.yaml
Due: run-setup=false

changes in galaxy
  galaxy.yml
Due: run-setup=false

sanity done for test file
  tests/unit/modules/dnac/test_rma_workflow_manager.py
Due: run-setup=false

Add parallelism
  .circleci/config.yml
  run_tests.sh
Due: run-setup=false

test
  plugins/plugin_utils/exceptions.py
Due: run-setup=false, run-any

debug
  .circleci/config.yml
Due: run-setup=false

Revert "test"
  plugins/plugin_utils/exceptions.py
Due: run-setup=false, run-any

Test
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

comment new roles
  .circleci/config.yml
Due: run-setup=false

Revert "Test"
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

new line
  run_tests.sh
Due: run-setup=false

Resolved sanity issues
  plugins/modules/rma_workflow_manager.py
  tests/unit/modules/dnac/test_rma_workflow_manager.py
Due: run-setup=false, run-any

fix shellcheck
  run_tests.sh
Due: run-setup=false

Adding rma workflow manager module
  changelogs/changelog.yaml
Due: run-setup=false

Correcting docstring documentation of get_dev_type function
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature code review comments addressed
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature code review comments addressed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature code sanity for unit test
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false

Fix the typo error in the module.
  plugins/modules/events_and_notifications_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature floor details updated
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature code review 12 comments addressed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature code review 1 comments addressed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature sanity issue comments addressed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature addressed 25 code review comments
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

accesspoint_update_feature addressed sanity error code review comments
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any
