Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Resolve sanity
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued

sanity issues
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued

Inventory Workflow - Fixed In-progress maintenance update
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

resolve merge conflict
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

removed extra blank line for sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

sanity trigger
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

fixed sanity for application policy
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

add dnac log level as DEBUG
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued

Aceespoint Location workflow - Updated assign planned AP
  playbooks/accesspoint_location_workflow_manager.yml
  plugins/modules/accesspoint_location_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_location_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Aceespoint Location workflow - Updated assign planned AP
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location workflow - Addressed review comments
  plugins/modules/accesspoint_location_workflow_manager.py
  tests/integration/ccc_accesspoint_location_workflow_management/tests/test_accesspoint_location_workflow_manager.yml
  tests/integration/ccc_accesspoint_location_workflow_management/vars/vars_accesspoint_location_workflow_manager.yml
Due: run-setup=false, continued, run-any

Accesspoint Location workflow - Addressed review comments
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix port channel number retrieval in LanAutomation class
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

change camelcase to snake case for field param
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location Workflow - Addressed code review comments
  plugins/modules/accesspoint_location_workflow_manager.py
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location Workflow - Addressed code review comments
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Bugs fixed
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint workflow - Verify of admin_status updated
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  plugins/modules/brownfield_assurance_issue_playbook_generator.py
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
Due: run-setup=false, continued, run-any

update
  plugins/modules/brownfield_assurance_issue_playbook_generator.py
Due: run-setup=false, continued, run-any

fixing merge issue
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
Due: run-setup=false, continued

Changes in galaxy
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

fix(lan_automation): resolve interface lookup error when adding links to port channels
  plugins/modules/lan_automation_workflow_manager.py
  tests/unit/modules/dnac/fixtures/lan_automation_workflow_manager.json
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Fix
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Changes in accesspoint manager
  changelogs/changelog.yaml
Due: run-setup=false, continued

fix(lan_automation): enhance logging for IP matching and validation failure in port channel configuration
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

brownfield device credential playbook generator
  playbooks/brownfield_device_credential_playbook_generator.yml
  plugins/modules/brownfield_device_credential_playbook_generator.py
Due: run-setup=false, continued, run-any

update release date for version 6.43.0
  changelogs/changelog.yaml
Due: run-setup=false, continued

fixed sanity issues
  playbooks/brownfield_wired_campus_automation_playbook_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/brownfield_wired_campus_automation_playbook_generator.py
Due: run-setup=false, continued, run-any, run-all

fixed sanity issues
  playbooks/wired_campus_automation_workflow_manager.yml
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

fixed sanity issues
  plugins/modules/brownfield_wired_campus_automation_playbook_generator.py
Due: run-setup=false, continued, run-any

fixed sanity issues and used black formatter
  plugins/module_utils/brownfield_helper.py
  plugins/modules/brownfield_wired_campus_automation_playbook_generator.py
Due: run-setup=false, continued, run-any, run-all

fix the sanity issue.
  plugins/modules/brownfield_sda_fabric_sites_zones_config_generator.py
  plugins/modules/brownfield_sda_fabric_transits_config_generator.py
Due: run-setup=false, continued, run-any

fix sanity error
  tests/unit/modules/dnac/test_brownfield_sda_fabric_virtual_networks_config_generator.py
Due: run-setup=false, continued

bug fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

add some common helper functions
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all
