Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

sanity fix
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile Playbook YAML fixed
  playbooks/network_profile_wireless_workflow_manager.yml
Due: run-setup=false, continued

Update ansible.utils dependency range in galaxy.yml and simplify sanity test command in CI workflow.
  .github/workflows/sanity_tests.yml
  galaxy.yml
Due: run-setup=false, continued

Refactor sanity test execution in CI workflow to streamline command structure and improve readability. Maintain conditional logic for 'devel' branch while removing unnecessary flags.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Refactor indentation in CI workflow for sanity tests to improve readability and maintain structure. Ensure conditional logic for 'devel' branch remains intact.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Refine sanity test command in CI workflow by explicitly specifying test types for improved clarity and execution. Maintain existing conditional logic for 'devel' branch.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Remove outdated Ansible versions from the CI workflow's sanity test matrix to streamline testing and focus on current stable releases.
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Fix the issue of reconfiguring the fabric sites and enhance the console message while updating the authentication profile with Low Impact
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

Updating the task monitoring functions but keeping the response schema same as earlier to not affect other parts of the module. That's why deepcopy of response is used.
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Updating the UT, Removing the 2.3.5.3 Version Ut and adding new version code.
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Addressed review comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Address review comments
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

remove duplicate log message
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

UT
  plugins/modules/network_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

provision enhancement completed
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Refactored DNAC host configuration logic in existing playbooks for better maintainability.
  playbooks/hosts
  playbooks/test_ignore_errors.yml
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any

Refactor code formatting in dnac.py for improved readability by adjusting line breaks and indentation in various functions and argument specifications.
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any

Remove unnecessary blank lines in test_ignore_errors.yml to improve file cleanliness and readability.
  playbooks/test_ignore_errors.yml
Due: run-setup=false, continued

Remove unused import handling for Ansible errors in dnac.py to streamline code and improve readability.
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any

Remove commented-out tasks in test_ignore_errors.yml to enhance clarity and maintainability of the playbook.
  playbooks/test_ignore_errors.yml
Due: run-setup=false, continued

Add YAML front matter to hosts file for improved structure and clarity.
  playbooks/hosts
Due: run-setup=false, continued

Update DNAC server configuration in hosts file for improved clarity and consistency.
  playbooks/hosts
Due: run-setup=false, continued

changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

bug fix: Playbook fails on duplicate user-defined issues instead of skipping with informative message
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix the regression issue of deleting the devices in inventory and also add the Unit Test for the module sda fabric virtual networks workflow manager module.
  plugins/modules/inventory_workflow_manager.py
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

fix sanity
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued

Update the author and docstring of methods
  tests/unit/modules/dnac/test_sda_fabric_sites_zones_workflow_manager.py
  tests/unit/modules/dnac/test_sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued

duplicacy remove
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

reserve_ip_subpool modules issue #266
  changelogs/changelog.yaml
  playbooks/reserve_ip_subpool.yml
  plugins/action/reserve_ip_subpool_v1.py
  plugins/modules/reserve_ip_subpool_v1.py
Due: run-setup=false, continued, run-any

update version
  README.md
  galaxy.yml
Due: run-setup=false, continued

added enhancement to the sda host onboarding module - [SDA Host Onboarding]: Add parameter to skip device collection status check'
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Removing the documentation for batch sizes as requested.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

reversed ci pipeline test changes
  tests/integration/ccc_site_workflow_manager/vars/vars_site_workflow_manager.yml
Due: run-setup=false, continued, run-any

Removing f string, Not required
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
