Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

fix: standardize module naming conventions across various endpoint analytics and security modules
  plugins/modules/discovery.py
  plugins/modules/endpoint_analytics_endpoints_anc_policy_delete.py
  plugins/modules/endpoint_analytics_endpoints_anc_policy_update.py
  plugins/modules/endpoint_analytics_profiling_rules.py
  plugins/modules/endpoint_analytics_profiling_rules_bulk.py
  plugins/modules/endpoint_analytics_profiling_rules_count_info.py
  plugins/modules/endpoint_analytics_profiling_rules_info.py
  plugins/modules/floors_floor_id_planned_access_point_positions_id.py
  plugins/modules/iot_network_devices_network_device_id_mrp_rings_count_info.py
  plugins/modules/iot_network_devices_network_device_id_mrp_rings_id_members_count_info.py
  plugins/modules/iot_network_devices_network_device_id_mrp_rings_id_members_info.py
  plugins/modules/iot_network_devices_network_device_id_mrp_rings_info.py
  plugins/modules/network_devices_network_profiles_for_sites_delete.py
  plugins/modules/security_rogue_wireless_containment_start.py
  plugins/modules/security_rogue_wireless_containment_status_info.py
  plugins/modules/security_rogue_wireless_containment_stop.py
  plugins/modules/security_threats_rogue_allowed_list.py
  plugins/modules/security_threats_rogue_allowed_list_count_info.py
  plugins/modules/security_threats_rogue_allowed_list_info.py
Due: run-setup=false, continued, run-any

fix: correct URL formatting in documentation for network applications modules
  plugins/modules/network_applications_info.py
  plugins/modules/network_applications_trend_analytics.py
Due: run-setup=false, continued, run-any

fix: remove backticks from mandatory parameters in network applications module documentation
  plugins/modules/network_applications_info.py
  plugins/modules/network_applications_trend_analytics.py
Due: run-setup=false, continued, run-any

fix: remove InconsistentParameters from exception imports across multiple modules
  plugins/action/pnp_global_settings.py
  plugins/action/sda_anycast_gateways.py
  plugins/action/sda_authentication_profiles.py
  plugins/action/sda_extranet_policies.py
  plugins/action/sda_fabric_authentication_profile.py
  plugins/action/sda_fabric_border_device.py
  plugins/action/sda_fabric_control_plane_device.py
  plugins/action/sda_fabric_devices.py
  plugins/action/sda_fabric_devices_layer2_handoffs.py
  plugins/action/sda_fabric_devices_layer2_handoffs_ip_transits.py
  plugins/action/sda_fabric_devices_layer2_handoffs_sda_transits.py
  plugins/action/sda_fabric_edge_device.py
  plugins/action/sda_fabric_site.py
  plugins/action/sda_fabric_sites.py
  plugins/action/sda_fabric_zones.py
  plugins/action/sda_fabrics_vlan_to_ssids_fabric_id.py
  plugins/action/sda_layer2_virtual_networks.py
  plugins/action/sda_layer3_virtual_networks.py
  plugins/action/sda_multicast.py
  plugins/action/sda_multicast_v1.py
  plugins/action/sda_multicast_virtual_networks.py
  plugins/action/sda_port_assignment_for_access_point.py
  plugins/action/sda_port_assignment_for_user_device.py
  plugins/action/sda_port_assignments.py
  plugins/action/sda_port_channels.py
  plugins/action/sda_provision_device.py
  plugins/action/sda_provision_devices.py
  plugins/action/sda_transit_networks.py
  plugins/action/sda_virtual_network.py
  plugins/action/sda_virtual_network_ip_pool.py
  plugins/action/sda_virtual_network_v2.py
Due: run-setup=false, continued, run-any

fix: remove unused get_dict_result import from multiple action modules
  plugins/action/event_subscription.py
  plugins/action/path_trace.py
  plugins/action/pnp_global_settings.py
  plugins/action/wireless_profile.py
Due: run-setup=false, continued, run-any

fix: correct syntax error in exception import across multiple action modules
  plugins/action/sda_anycast_gateways.py
  plugins/action/sda_authentication_profiles.py
  plugins/action/sda_extranet_policies.py
  plugins/action/sda_fabric_authentication_profile.py
  plugins/action/sda_fabric_border_device.py
  plugins/action/sda_fabric_control_plane_device.py
  plugins/action/sda_fabric_devices.py
  plugins/action/sda_fabric_devices_layer2_handoffs.py
  plugins/action/sda_fabric_devices_layer2_handoffs_ip_transits.py
  plugins/action/sda_fabric_devices_layer2_handoffs_sda_transits.py
  plugins/action/sda_fabric_edge_device.py
  plugins/action/sda_fabric_site.py
  plugins/action/sda_fabric_sites.py
  plugins/action/sda_fabric_zones.py
  plugins/action/sda_fabrics_vlan_to_ssids_fabric_id.py
  plugins/action/sda_layer2_virtual_networks.py
  plugins/action/sda_layer3_virtual_networks.py
  plugins/action/sda_multicast.py
  plugins/action/sda_multicast_v1.py
  plugins/action/sda_multicast_virtual_networks.py
  plugins/action/sda_port_assignment_for_access_point.py
  plugins/action/sda_port_assignment_for_user_device.py
  plugins/action/sda_port_assignments.py
  plugins/action/sda_port_channels.py
  plugins/action/sda_provision_device.py
  plugins/action/sda_provision_devices.py
  plugins/action/sda_transit_networks.py
  plugins/action/sda_virtual_network.py
  plugins/action/sda_virtual_network_ip_pool.py
  plugins/action/sda_virtual_network_v2.py
Due: run-setup=false, continued, run-any

fix: standardize quotation marks in documentation across multiple modules
  plugins/modules/authentication_policy_servers.py
  plugins/modules/integrate_ise.py
  plugins/modules/lan_automation_v2.py
  plugins/modules/sites_site_id_wireless_settings_ssids_id_update.py
  plugins/modules/sites_wireless_settings_ssids.py
  plugins/modules/transit_network_health_summaries_id_trend_analytics_info.py
  plugins/modules/virtual_network_health_summaries_count_info.py
  plugins/modules/virtual_network_health_summaries_id_trend_analytics_info.py
  plugins/modules/virtual_network_health_summaries_info.py
  plugins/modules/wireless_profiles.py
  plugins/modules/wireless_settings_dot11be_profiles.py
Due: run-setup=false, continued, run-any

fix: remove site_name_hierarchy parameter from SdaVirtualNetworkIpPool initialization
  plugins/action/sda_virtual_network_ip_pool.py
Due: run-setup=false, continued, run-any

fix: improve sanity test execution by filtering existing files and running in batch mode
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false, continued

fix: ensure proper working directory for yamllint execution
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false, continued

fix: streamline sanity test execution and improve file handling
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false, continued

fix: enhance documentation workflow with version tag validation and cleanup
  .github/workflows/docs.yml
Due: run-setup=false, continued

feat: add network_device_config_archive_info module for retrieving device configuration details
  plugins/action/network_device_config_archive_info.py
  plugins/modules/network_device_config_archive_info.py
Due: run-setup=false, continued, run-any

fix: streamline version folder removal logic in docs workflow
  .github/workflows/docs.yml
Due: run-setup=false, continued

feat: update version to 6.47.0 and align changelog with Red Hat standards
  README.md
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Fix sanity_tests_devel workflow: only process YAML files that exist
  .github/workflows/sanity_tests_devel.yml
Due: run-setup=false, continued

Site Workflow manager - issue 312 for clear error message
  plugins/module_utils/dnac.py
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all, run-site

Updated config structure and added File Mode support
  playbooks/template_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/template_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/template_playbook_config_generator.json
  tests/unit/modules/dnac/test_template_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

name changes
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

bugs completed
  plugins/modules/pnp_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/pnp_playbook_config_generator.json
Due: run-setup=false, continued, run-any

updated the common changes
  playbooks/pnp_playbook_config_generator.yml
  plugins/modules/pnp_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/pnp_playbook_config_generator.json
Due: run-setup=false, continued, run-any

site type change
  plugins/modules/site_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Added UDF
  playbooks/inventory_playbook_config_generator.yml
  plugins/modules/inventory_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/inventory_playbook_config_generator_fixtures.json
  tests/unit/modules/dnac/test_inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Revert "Merge branch 'mridul-brownfield-inventory' of https://github.com/msaurabh12/catalyst-center-ansible-dev-evpn into mridul-brownfield-inventory"
  playbooks/brownfield_device_credential_playbook_generator.yml
  playbooks/brownfield_sda_extranet_policies_playbook_generator.yml
  playbooks/device_credential_playbook_config_generator.yml
  playbooks/site_playbook_config_generator.yml
  playbooks/template_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/accesspoint_location_playbook_config_generator.py
  plugins/modules/brownfield_device_credential_playbook_generator.py
  plugins/modules/brownfield_sda_extranet_policies_playbook_generator.py
  plugins/modules/discovery_playbook_config_generator.py
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
  plugins/modules/site_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/brownfield_device_credential_playbook_generator.json
  tests/unit/modules/dnac/fixtures/brownfield_sda_extranet_policies_playbook_generator.json
  tests/unit/modules/dnac/fixtures/sda_host_port_onboarding_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/site_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/template_playbook_config_generator.json
  tests/unit/modules/dnac/test_brownfield_device_credential_playbook_generator.py
  tests/unit/modules/dnac/test_brownfield_sda_extranet_policies_playbook_generator.py
  tests/unit/modules/dnac/test_sda_host_port_onboarding_playbook_config_generator.py
  tests/unit/modules/dnac/test_site_playbook_config_generator.py
  tests/unit/modules/dnac/test_template_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

Reapply "Merge branch 'mridul-brownfield-inventory' of https://github.com/msaurabh12/catalyst-center-ansible-dev-evpn into mridul-brownfield-inventory"
  playbooks/device_credential_playbook_config_generator.yml
  playbooks/sda_extranet_policies_playbook_config_generator.yml
  playbooks/sda_host_port_onboarding_playbook_config_generator.yml
  playbooks/site_playbook_config_generator.yml
  playbooks/template_playbook_config_generator.yml
  plugins/module_utils/brownfield_helper.py
  plugins/modules/accesspoint_location_playbook_config_generator.py
  plugins/modules/device_credential_playbook_config_generator.py
  plugins/modules/discovery_playbook_config_generator.py
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
  plugins/modules/site_playbook_config_generator.py
  plugins/modules/template_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/device_credential_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_extranet_policies_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/sda_host_port_onboarding_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/site_playbook_config_generator.json
  tests/unit/modules/dnac/fixtures/template_playbook_config_generator.json
  tests/unit/modules/dnac/test_device_credential_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_extranet_policies_playbook_config_generator.py
  tests/unit/modules/dnac/test_sda_host_port_onboarding_playbook_config_generator.py
  tests/unit/modules/dnac/test_site_playbook_config_generator.py
  tests/unit/modules/dnac/test_template_playbook_config_generator.py
Due: run-setup=false, continued, run-any, run-all

common fix
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Update inventory_playbook_config_generator.py
  plugins/modules/inventory_playbook_config_generator.py
Due: run-setup=false, continued, run-any

sanity fix
  playbooks/inventory_playbook_config_generator.yml
Due: run-setup=false, continued

Common changes in progress
  playbooks/backup_and_restore_playbook_config_generator.yml
  plugins/modules/backup_and_restore_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/backup_and_restore_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Date format changed
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
