Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

2 bug fixed for include enhancement bug
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

user and role bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Changes for the Site_enhancement module
  plugins/module_utils/dnac.py
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-site

Changes for the Site_enhancement module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Changes for the Site_enhancement_workflow module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site

Addressed the review comments
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Provision comments addressed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Bug fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

Provision comment addressed
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

review comments fixed
  plugins/modules/rma_workflow_manager.py
Due: run-setup=false, run-any

changes in file names
  changelogs/changelog.yaml
Due: run-setup=false

Rename the fabric modules to sda_fabric for devices, sites and transits
  playbooks/sda_fabric_devices_workflow_manager.yml
  playbooks/sda_fabric_sites_zones_workflow_manager.yml
  playbooks/sda_fabric_transits_workflow_manager.yml
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Changing file names
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

changes in module names
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, run-any

Changes in module names
  playbooks/sda_fabric_devices_workflow_manager.yml
  playbooks/sda_fabric_sites_zones_workflow_manager.yml
  playbooks/sda_fabric_transits_workflow_manager.yml
Due: run-setup=false

changes in playbook module names
  playbooks/sda_fabric_devices_workflow_manager.yml
  playbooks/sda_fabric_sites_zones_workflow_manager.yml
  playbooks/sda_fabric_transits_workflow_manager.yml
Due: run-setup=false

addressed code review comments and fixed 2 more bug
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Changes in changelogs
  changelogs/changelog.yaml
Due: run-setup=false

Tested the code for fabric devices and L3 Handoff with IP Transit
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, run-any

bug fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Update the documentation and examples for the mimatch parameter site_name, add the version check in the main function.
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, run-any

remove commented code
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

Implemented the idempotence for the Cisco ISE server updation
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Collection not compatible with ansible.utils 5.x.y #192
  galaxy.yml
Due: run-setup=false

Changelog updated
  changelogs/changelog.yaml
Due: run-setup=false

Update docs.yml
  .github/workflows/docs.yml
Due: run-setup=false

User and role bug fixed
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Modifications for site_enhancement_module
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, run-any, run-site
