Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Changes in documentation
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Minor mistakes
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Site module - Duplicate floor check failed was fixed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

minor documentation changes in accesspoint module
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

list of view grp updated
  playbooks/flexible_reports_workflow_manager.yml
  plugins/modules/flexible_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

update_global_credentials_v2
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

update
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Addressed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

removed _v2 api call from get_all_global_credentials. As per the recent dnacentersdk changes, _v1, _v2 functions are removed and can be called without _version.
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, continued, run-any, run-discovery

Doc changes for Device Config Backup Module
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

update
  playbooks/flexible_reports_workflow_manager.yml
  plugins/modules/flexible_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Removed _v1 API calls as the SDKs have changes.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Access point workflow - Idempotent message updated.
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Onboarding_info coding and UT completed
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Onboarding_info coding and UT completed
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Module for the automatic generation of playbook for sda fabric virtual networks workflow manager module
  plugins/modules/sda_fabric_virtual_networks_playbook_generator.py
Due: run-setup=false, continued, run-any

Revert "Module for the automatic generation of playbook for sda fabric virtual networks workflow manager module"
  plugins/modules/sda_fabric_virtual_networks_playbook_generator.py
Due: run-setup=false, continued, run-any

Document changes for Device Config Backup Module
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

Changes in workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

Access Point workflow - UT fixed
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, continued

Access Point workflow - UT fixed
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fix
  plugins/modules/assurance_icap_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/assurance_icap_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

bugs compleated
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Fixed the issue of module failure when fabric zone is involved. Now wireless controller settings are only limited to devices assigned to fabric site.
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Enhanced API with new Fabric VLAN and Anycast Gateway params; fix L3 site dissociation bugs
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix the sanity
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless Profile Workflow - UT updated.
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued

Updated inventory workflow documentation
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Changes in documentation
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Changing copyright
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Alignment in inventory module
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

changes in docstring
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Changes in notes section
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
