Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

UT added
  playbooks/network_devices_info_workflow_manager.yml
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fix
  .coverage
  dnac.log
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Clean pr base with the wireless design
  plugins/modules/wireless_design_workflow_manager.py
  tests/unit/modules/dnac/fixtures/wireless_design_workflow_manager_intent.json
  tests/unit/modules/dnac/test_wireless_design_module_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressing review comments, changed port_channel_number documentation.
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

ansible lint done
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

update for reset aaa
  plugins/modules/network_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Added timeouts for backup and restore
  playbooks/backup_and_restore_workflow_manager.yml
  plugins/modules/backup_and_restore_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed Bugs
  playbooks/network_devices_info_workflow_manager.yml
  plugins/modules/network_devices_info_workflow_manager.py
  tests/integration/ccc_network_devices_info_workflow_manager/tests/test_network_devices_info_workflow_manager.yml
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location workflow - Changed location to Postion
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint Location workflow - Changed location to Postion
  tests/unit/modules/dnac/fixtures/accesspoint_location_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued

Accesspoint Location workflow - Changed location to Postion
  tests/unit/modules/dnac/test_accesspoint_location_workflow_manager.py
Due: run-setup=false, continued

Fixed bugs
  dnac.log
  playbooks/fabric_devices_info_workflow_manager.yml
Due: run-setup=false, continued

bugs compleated
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

addressed review comment
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review c omments
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint location workflow - Real AP Position updation added
  playbooks/accesspoint_location_workflow_manager.yml
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint location workflow - Real AP Position updation added
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix incorrect IPv4 host adjustment logic for subpool total_hosts calculation
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

bug fix
  plugins/modules/network_settings_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_settings_workflow_manager.json
  tests/unit/modules/dnac/test_network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Addressed review comments. Mostly validation and logging changes. No logic change.
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Updating the UT based on the changes in module during review.
  tests/unit/modules/dnac/test_lan_automation_workflow_manager.py
Due: run-setup=false, continued

Bug Fix for SDA Fabric Sites Zone Wokrflow Manager
  plugins/module_utils/dnac.py
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

reviewed code comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Addressed review comments
  .coverage
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile workflow - Addressed code review comments
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity fix on the application_policy_workflow_manager
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Changed statte from merged to gathered
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/integration/ccc_fabric_devices_info_workflow_manager/tests/test_fabric_devices_info_workflow_manager.yml
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity fix
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint workflow - Fixed bug for Controller Name issue
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/module_utils/dnac.py
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Addressed review comments
  playbooks/network_devices_info_workflow_manager.yml
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
