Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

lint issue fix
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Update sanity_tests.yml
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

addressed 2 wireless design module bugs
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed wireless design module bug - TypeError due to missing 'wpa_encryption' in mutually dependent parameters.
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed Review Comments
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP workflow provisioned issue and mode fixed
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP type and provisioned changed
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

assurance_issue_workflow_manager: Review fixes
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

UT fix
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued

PNP workflow code review addressed
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

revert doc change for system defined issue name list
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

revert md file version change
  README.md
Due: run-setup=false, continued

fix sanity for inventory workflow manager json file
  tests/unit/modules/dnac/fixtures/inventory_workflow_manager.json
Due: run-setup=false, continued

Addressing Review Comments. Minor logging change.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Addressed.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Updated wireless profile spelling correction.
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix some UT for inventory module
  tests/unit/modules/dnac/test_inventory_workflow_manager.py
Due: run-setup=false, continued

Wireless profile added documentation
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch Profile OB template need to be blocked
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Added UT update for the OB template change
  tests/unit/modules/dnac/fixtures/network_profile_switching_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_switching_workflow_manager.py
Due: run-setup=false, continued

assurance_icap_settings_workflow_manager: Spelling fixes
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

assurance_icap_settings_workflow_manager: document/schema fixes
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Resolved the sanity issues
  playbooks/sda_fabric_multicast_workflow_manager.yml
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Resolved the sanity issues
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Resolved the sanity issues
  playbooks/sda_fabric_multicast_workflow_manager.yml
Due: run-setup=false, continued

Fix the typo errors in the fabric sites module and fix the issue of update enable_bpu_guard in 'Closed Authentication'
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
Due: run-setup=false, continued, run-any

swim bugs compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

added UT cases for multiple devices
  plugins/modules/swim_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Addressed the review comments
  playbooks/sda_fabric_multicast_workflow_manager.yml
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed the review comments
  playbooks/sda_fabric_multicast_workflow_manager.yml
Due: run-setup=false, continued

Addressed the review comments
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Wireless profile addressed code review comments
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Bulk Delete wireless profile
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

changes in change logs
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued
