Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Added the assign site to device
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Device credentials enhancement day
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

checked one sanity issue
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Fix circleci config yamllint errors
  .circleci/config.yml
Due: run-setup=false

comments almost compleated
  plugins/module_utils/dnac.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-swim

comments almost compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

delete provisioned device and delete device compleated testing
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

unwanted line removed also added new function for ap required update
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Provision version based updated
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

User amd Role bug fixed
  playbooks/user_role_workflow_manager.yml
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

Corrected the documentation of reserve_pool_details
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

SWIM UT compleated and comments also compleated
  plugins/module_utils/dnac.py
  plugins/modules/swim_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-swim

Modification done
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

sanity check
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Revised per review feedback
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

Added the try catch block for all the SDK calls
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

Added a missing increment statement while deleing the authentication and policy server
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

3 bug fixed"
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

sanity check for the UT file"
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false

sanity check for the UT file
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false

Fixing merge conflict
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

Added a new check to verify whether the Cisco ISE is ready to accept the certificate or not
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Swim UT, IT, comments compleated
  plugins/modules/swim_workflow_manager.py
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, run-any, run-swim

Test(device_credential): UT and IT
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/unit/modules/dnac/fixtures/device_credential_workflow_manager.json
  tests/unit/modules/dnac/test_device_credential_workflow_manager.py
Due: run-setup=false, run-any, run-devicecredential

JSON sanity compleated
  plugins/modules/swim_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
Due: run-setup=false, run-any, run-swim

6GHz XOR band width added with new api document change channel width
  plugins/modules/accesspoint_workflow_manager.py
  tests/unit/modules/dnac/fixtures/accesspoint_workflow_manager.json
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false, run-any

sanity issue for UT python file
  tests/unit/modules/dnac/test_accesspoint_workflow_manager.py
Due: run-setup=false

Inventory testing done
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

Provision code change
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Addressed the review comments
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: run-setup=false, run-any

Fix for the infinte loop in the module
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Addressed the review comments
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Changed single quote to double quote and document added
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any

provision and inventory code 60 % compleated
  plugins/module_utils/dnac.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-inventory

inventory provision new code added
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, run-any, run-inventory

get_site is added in dnac.py
  plugins/module_utils/dnac.py
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, run-any, run-all, run-swim

Lint and runner config
  .circleci/config.yml
  .github/workflows/integration_tests.yml
Due: run-setup=false

Addressed 14 comments
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, run-any
