Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

addressed sanity issue
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed sanity issues
  tests/unit/modules/dnac/test_wireless_design_module_workflow_manager.py
Due: run-setup=false, continued

code is in progress
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Added Integration Tests for the wirless design module
  tests/integration/ccc_wireless_design_management/defaults/main.yml
  tests/integration/ccc_wireless_design_management/meta/main.yml
  tests/integration/ccc_wireless_design_management/tasks/main.yml
  tests/integration/ccc_wireless_design_management/tests/test_wireless_design_management.yml
  tests/integration/ccc_wireless_design_management/vars/vars_wireless_design_management.yml
Due: run-setup=false, continued, run-any

Added Integration Tests for the wirless design module
  tests/integration/ccc_wireless_design_management/vars/vars_wireless_design_management.yml
Due: run-setup=false, continued, run-any

format update code
  plugins/modules/accesspoint_workflow_manager.py
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
  plugins/modules/events_and_notifications_workflow_manager.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/lan_automation_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/network_settings_intent.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/pnp_intent.py
  plugins/modules/pnp_workflow_manager.py
  plugins/modules/provision_intent.py
  plugins/modules/provision_workflow_manager.py
  plugins/modules/rma_workflow_manager.py
  plugins/modules/sda_extranet_policies_workflow_manager.py
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_fabric_sites_zones_workflow_manager.py
  plugins/modules/sda_fabric_transits_workflow_manager.py
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

address review comments
  playbooks/assurance_icap_settings_workflow_manager.yml
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

delete ’ in modules
  plugins/modules/lan_automation.py
  plugins/modules/lan_automation_v2.py
  plugins/modules/sites_image_distribution_settings.py
  plugins/modules/sites_image_distribution_settings_v1.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

activatio coding compleated
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

addresses playbook review comments
  playbooks/assurance_icap_settings_workflow_manager.yml
Due: run-setup=false, continued

Fixing one small error(Function name was wrong) while creating interface. Also updated the doc strings at missing places.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

3 minor fixes
  playbooks/application_policy_workflow_manager.yml
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/fixtures/application_policy_workflow_manager.json
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

3 minor fixes
  playbooks/application_policy_workflow_manager.yml
Due: run-setup=false, continued

Network profiles related file renamed
  playbooks/network_profile_switching_workflow_manager.yml
  playbooks/network_profile_wireless_workflow_manager.yml
  playbooks/network_wireless_profile_workflow_manager.yml
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
  plugins/modules/network_profile_wireless_workflow_manager.py
  tests/integration/ccc_network_profile_switching_workflow_management/defaults/main.yml
  tests/integration/ccc_network_profile_switching_workflow_management/meta/main.yml
  tests/integration/ccc_network_profile_switching_workflow_management/tasks/main.yml
  tests/integration/ccc_network_profile_switching_workflow_management/tests/test_network_profile_switching_workflow_manager.yml
  tests/integration/ccc_network_profile_switching_workflow_management/vars/vars_network_profile_switching_workflow_manager.yml
  tests/integration/ccc_network_profile_wireless_workflow_management/defaults/main.yml
  tests/integration/ccc_network_profile_wireless_workflow_management/meta/main.yml
  tests/integration/ccc_network_profile_wireless_workflow_management/tasks/main.yml
  tests/integration/ccc_network_profile_wireless_workflow_management/tests/test_network_profile_wireless_workflow_management.yml
  tests/integration/ccc_network_profile_wireless_workflow_management/vars/vars_network_profile_wireless_workflow_manager.yml
  tests/integration/ccc_network_switch_profile_workflow_management/vars/vars_network_switch_profile_workflow_manager.yml
  tests/integration/ccc_network_wireless_profile_workflow_management/vars/vars_network_wireless_profile_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/network_profile_switching_workflow_manager.json
  tests/unit/modules/dnac/fixtures/network_profile_wireless_workflow_manager.json
  tests/unit/modules/dnac/test_network_profile_switching_workflow_manager.py
  tests/unit/modules/dnac/test_network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Network profiles related file renamed
  playbooks/network_profile_switching_workflow_manager.yml
  playbooks/network_profile_wireless_workflow_manager.yml
Due: run-setup=false, continued

download
  plugins/modules/assurance_icap_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Network profiles related file renamed
  plugins/modules/network_profile_switching_workflow_manager.py
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

user bug fixed
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, continued

add Supported states missing in the init function
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued, run-any, run-serverintegrations

Network profile addressed the code review
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Network profile addressed the code review
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

delete smart quotes
  plugins/modules/sites_image_distribution_settings.py
  plugins/modules/sites_image_distribution_settings_v1.py
Due: run-setup=false, continued, run-any

updated documentation
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Network profile addressed the code review
  plugins/modules/network_profile_switching_workflow_manager.py
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace addressed code reveiw comments
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

update description sites_image_distribution_settings module
  plugins/modules/sites_image_distribution_settings.py
  plugins/modules/sites_image_distribution_settings_v1.py
Due: run-setup=false, continued, run-any

wireless design module bug fixes and cosmetic changes
  playbooks/wireless_design_workflow_manager.yml
  plugins/modules/wireless_design_workflow_manager.py
  tests/integration/ccc_wireless_design_management/vars/vars_wireless_design_management.yml
Due: run-setup=false, continued, run-any

addressed sanity issues
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

add image_details.yml
  playbooks/image_details.yml
Due: run-setup=false, continued

Path trace addressed code reveiw comments
  playbooks/path_trace_workflow_manager.yml
Due: run-setup=false, continued

Added supported states.
  plugins/modules/discovery_workflow_manager.py
Due: run-setup=false, continued, run-any, run-discovery

PNP device minor bug fixed
  playbooks/pnp_workflow_manager.yml
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

fix for CatC version validation missing & supported states missing
  tests/unit/modules/dnac/fixtures/device_credential_workflow_manager.json
  tests/unit/modules/dnac/test_device_credential_workflow_manager.py
Due: run-setup=false, continued

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
