Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

fix: delete_network_settings_playbook, release a reserved pool shall fail if the pools is associated in Fabic.
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Refactor Ansible playbooks to standardize module names by removing version suffixes for anycast gateways and layer 3 virtual networks.
  playbooks/sda_anycast_gateways.yml
  playbooks/sda_layer3_virtual_networks.yml
Due: run-setup=false, continued

Remove unused parameter from SdaVirtualNetworkIpPool and clean up ImagesSiteWiseProductNames by eliminating redundant update call for productNameOrdinal.
  plugins/action/images_site_wise_product_names.py
  plugins/action/network_devices_network_profiles_for_sites.py
  plugins/action/sda_virtual_network_ip_pool.py
Due: run-setup=false, continued, run-any

Standardize spacing in example configurations across multiple modules for improved readability.
  plugins/modules/assurance_device_health_score_settings_workflow_manager.py
  plugins/modules/assurance_icap_settings_workflow_manager.py
  plugins/modules/assurance_issue_workflow_manager.py
  plugins/modules/path_trace_workflow_manager.py
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Standardize spacing in example configurations across various workflow manager modules for improved readability.
  plugins/modules/application_policy_workflow_manager.py
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/events_and_notifications_workflow_manager.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/sda_extranet_policies_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory, run-eventsandnotif, run-configbackups, run-networkcompliance

Standardize spacing in example configurations across multiple workflow manager modules for improved readability.
  plugins/modules/application_policy_workflow_manager.py
  plugins/modules/device_configs_backup_workflow_manager.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/event_snmp_config_info.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/network_compliance_workflow_manager.py
  plugins/modules/sda_fabric_devices_workflow_manager.py
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential, run-inventory, run-configbackups, run-networkcompliance

Standardize spacing in example configurations for improved readability in accesspoint_workflow_manager.py.
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Remove unused exception import from business_sda_hostonboarding_ssid_ippool.py to streamline the code and enhance maintainability.
  plugins/action/business_sda_hostonboarding_ssid_ippool.py
Due: run-setup=false, continued, run-any

Remove unused exception import 'InconsistentParameters' from multiple SDA action modules to streamline the code and enhance maintainability.
  plugins/action/event_snmp_config.py
  plugins/action/path_trace.py
  plugins/action/pnp_global_settings.py
  plugins/action/sda_anycast_gateways.py
  plugins/action/sda_authentication_profiles.py
  plugins/action/sda_extranet_policies.py
  plugins/action/sda_fabric_authentication_profile.py
  plugins/action/sda_fabric_border_device.py
  plugins/action/sda_fabric_control_plane_device.py
  plugins/action/sda_fabric_devices.py
  plugins/action/sda_fabric_devices_layer2_handoffs.py
  plugins/action/sda_fabric_devices_layer2_handoffs_ip_transits.py
  plugins/action/sda_fabric_devices_layer2_handoffs_sda_transits.py
  plugins/action/sda_fabric_edge_device.py
  plugins/action/sda_fabric_site.py
  plugins/action/sda_fabric_sites.py
  plugins/action/sda_fabric_zones.py
  plugins/action/sda_fabrics_vlan_to_ssids_fabric_id.py
  plugins/action/sda_layer2_virtual_networks.py
  plugins/action/sda_layer3_virtual_networks.py
  plugins/action/sda_multicast.py
  plugins/action/sda_multicast_virtual_networks.py
  plugins/action/sda_port_assignment_for_access_point.py
  plugins/action/sda_port_assignment_for_user_device.py
  plugins/action/sda_port_assignments.py
  plugins/action/sda_port_channels.py
  plugins/action/sda_provision_device.py
  plugins/action/sda_provision_devices.py
  plugins/action/sda_transit_networks.py
  plugins/action/sda_virtual_network.py
  plugins/action/sda_virtual_network_ip_pool.py
  plugins/action/sda_virtual_network_v2.py
Due: run-setup=false, continued, run-any

Fix the Unit Test for the template module.
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

Remove unused network_device_config__info.py module to streamline the codebase and enhance maintainability.
  plugins/action/network_device_config__info.py
Due: run-setup=false, continued, run-any

Refactor discovery.py to remove unused SNMP community parameters and improve code readability. Adjust formatting for consistency in parameter specifications across the module.
  plugins/action/discovery.py
  plugins/modules/wired_network_devices_id_config_features_intended_layer2_feature.py
Due: run-setup=false, continued, run-any

Remove deprecated ignore files for Python 2.7 compatibility in the sanity tests. These files contained skip instructions for modules not supported by the DNA Center SDK, streamlining the test suite.
  tests/sanity/ignore-2.16.txt
  tests/sanity/ignore-2.17.txt
  tests/sanity/ignore-2.18.txt
Due: run-setup=false, continued

Fix missing newline at end of file in accesspoint_workflow_manager.py to adhere to PEP 8 standards.
  plugins/modules/accesspoint_workflow_manager.py
Due: run-setup=false, continued, run-any

Invaid error msg for negative threshold_value for Unified_AP
  plugins/modules/assurance_device_health_score_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

bug fix:Playbook Fails to Disable System-Defined Issue Despite It Being Enabled in UI
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Enhance the template/project creation/updation or commit message on the console
  plugins/modules/template_workflow_manager.py
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

fix the sanity errors
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Enhanced the module to add support for updating tag names.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Added Integration tests for updating tag name.
  tests/integration/ccc_tags_workflow_management/tests/test_tags_workflow_management.yml
  tests/integration/ccc_tags_workflow_management/vars/vars_tags_workflow_management.yml
Due: run-setup=false, continued, run-any

Added Unit tests for updating tag name.
  tests/unit/modules/dnac/fixtures/tags_workflow_manager.json
  tests/unit/modules/dnac/test_tags_workflow_manager.py
Due: run-setup=false, continued

Updating the tags playbook to remove batch parameters to avoid confusion among customers, The functionality is still active for debugging purposes.
  playbooks/tags_workflow_manager.yml
Due: run-setup=false, continued

Update README and changelog to reflect compatibility with Cisco version 3.1.3.0. Adjusted version requirements in README and summarized module additions and removals in changelog for clarity.
  README.md
  changelogs/changelog.yaml
Due: run-setup=false, continued

bug fix:Deleting non-existent user-defined issue incorrectly returns changed=true
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

update docs for main
  main/_sources/plugins/assurance_issue_workflow_manager_module.rst.txt
  main/_sources/plugins/sda_host_port_onboarding_workflow_manager_module.rst.txt
  main/objects.inv
  main/plugins/assurance_issue_workflow_manager_module.html
  main/plugins/sda_host_port_onboarding_workflow_manager_module.html
  main/searchindex.js
Due: run-setup=false, continued

Path trace code conflict fixed.
  plugins/modules/path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

resolve merge conflict
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressing review comments: Changed new_tag_name to tag_name and corrected the UTs and ITs.
  plugins/modules/tags_workflow_manager.py
  tests/integration/ccc_tags_workflow_management/vars/vars_tags_workflow_management.yml
  tests/unit/modules/dnac/fixtures/tags_workflow_manager.json
Due: run-setup=false, continued, run-any

Adding regex pattern validations for IP address, Mac Address, Serial Number and Hostname by using commonly used regex patterns for these identifiers.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Improving log message for tag name update case.
  plugins/modules/tags_workflow_manager.py
Due: run-setup=false, continued, run-any

Changes in workflow manager modules
  changelogs/changelog.yaml
Due: run-setup=false, continued

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
