Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

coding in progress
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

coding in progress
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

coding in progress
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

coding in progress
  playbooks/dnac.log
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

coding in progress
  playbooks/dnac.log
Due: run-setup=false, continued

Changes the default value of creating/updating the fabric vlans from 50 to 20 in a single request
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

documentation update for global_credential_details
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

documentation update
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

Refactored the code for get_want, get_diff_merged_and get_diff_deleted to ensure deletion and updation workflows are working properly.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP Workflow - Set authorize flag enhancement
  playbooks/pnp_workflow_manager.yml
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP Workflow - Set authorize flag enhancement
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP Workflow - Set authorize flag enhancement
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued

Wireless profile - Function name change to alias
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

bugs fixed
  plugins/modules/application_policy_workflow_manager.py
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

UT testcases added
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued

PNP Workflow - Validate duplicate serial number in playbook config
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

fix the issue of getting error messgae of 'Device IPs should be a list, but got: NoneType' when deploy template for device
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

PNP Workflow - Addressed code review comments
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

Template workflow manager - Function name changed to alias name
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Site workflow manager - Duplicate site name validation added
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

Site workflow manager - UT modified
  tests/unit/modules/dnac/fixtures/site_workflow_manager.json
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false, continued

replacing Alias Function usage
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

addressing review comments
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/application_policy_workflow_manager.py
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Fixed function name from download_unmaskedraw_device_configuration_as_z_ip to download_unmaskedraw_device_configuration_as_zip
  plugins/action/network_device_config_files_id_download_unmasked.py
  plugins/action/sites_telemetry_settings.py
  plugins/modules/network_device_config_files_id_download_unmasked.py
Due: run-setup=false, continued, run-any

Refactor family parameter from "userand_roles" to "user_and_roles" in multiple files for consistency
  plugins/action/role_permissions_info.py
  plugins/action/roles.py
  plugins/action/roles_info.py
  plugins/action/user.py
  plugins/action/user_info.py
  plugins/action/users_external_authentication.py
  plugins/action/users_external_authentication_info.py
  plugins/action/users_external_servers_aaa_attribute.py
  plugins/action/users_external_servers_aaa_attribute_info.py
  plugins/action/users_external_servers_info.py
  plugins/modules/role_permissions_info.py
  plugins/modules/roles.py
  plugins/modules/roles_info.py
  plugins/modules/user.py
  plugins/modules/user_info.py
  plugins/modules/users_external_authentication.py
  plugins/modules/users_external_authentication_info.py
  plugins/modules/users_external_servers_aaa_attribute.py
  plugins/modules/users_external_servers_aaa_attribute_info.py
  plugins/modules/users_external_servers_info.py
Due: run-setup=false, continued, run-any

Add stable-2.19 to Ansible matrix in sanity tests workflow #256
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

Add CLI credential management functionality to the Ansible action plugin
  plugins/action/cli_credential.py
Due: run-setup=false, continued, run-any

Add create method and parameters to ConfigurationTemplate class #153
  plugins/action/configuration_template.py
  plugins/modules/configuration_template.py
Due: run-setup=false, continued, run-any

Transform payload in get_object method to merge dictionaries from list input #150
  plugins/action/lan_automation_create.py
  plugins/action/lan_automation_v2.py
Due: run-setup=false, continued, run-any

Refactor get_object_by_name method and update dnac_compare_equality usage in SitesTelemetrySettings class #273
  plugins/action/sites_telemetry_settings.py
Due: run-setup=false, continued, run-any

Update dnacentersdk requirement to version 2.10.1
  Pipfile
Due: run-setup=false, continued

Add changelog entry for version 6.36.0 with bug fixes and minor changes
  changelogs/changelog.yaml
Due: run-setup=false, continued

Update version to 6.36.0 in README and galaxy.yml for compatibility with Cisco DNA Center 3.1.3.0
  README.md
  galaxy.yml
Due: run-setup=false, continued

Remove unused import get_dict_result from sites_telemetry_settings.py
  plugins/action/sites_telemetry_settings.py
Due: run-setup=false, continued, run-any
