Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Refactor playbook config filename patterns for consistency across modules
  plugins/modules/accesspoint_location_playbook_config_generator.py
  plugins/modules/accesspoint_playbook_config_generator.py
  plugins/modules/application_policy_playbook_config_generator.py
  plugins/modules/assurance_device_health_score_settings_playbook_config_generator.py
  plugins/modules/assurance_issue_playbook_config_generator.py
  plugins/modules/backup_and_restore_playbook_config_generator.py
  plugins/modules/device_credential_playbook_config_generator.py
  plugins/modules/discovery_playbook_config_generator.py
  plugins/modules/events_and_notifications_playbook_config_generator.py
  plugins/modules/ise_radius_integration_playbook_config_generator.py
  plugins/modules/network_profile_switching_playbook_config_generator.py
  plugins/modules/network_profile_wireless_playbook_config_generator.py
  plugins/modules/network_settings_playbook_config_generator.py
  plugins/modules/pnp_playbook_config_generator.py
  plugins/modules/provision_playbook_config_generator.py
  plugins/modules/rma_playbook_config_generator.py
  plugins/modules/sda_extranet_policies_playbook_config_generator.py
  plugins/modules/sda_fabric_devices_playbook_config_generator.py
  plugins/modules/sda_fabric_multicast_playbook_config_generator.py
  plugins/modules/sda_host_port_onboarding_playbook_config_generator.py
  plugins/modules/user_role_playbook_config_generator.py
  plugins/modules/wired_campus_automation_playbook_config_generator.py
Due: run-setup=false, continued, run-any

4 bugs completed and common changes done
  playbooks/provision_playbook_config_generator.yml
  plugins/modules/provision_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/provision_playbook_config_generator.json
  tests/unit/modules/dnac/test_provision_playbook_config_generator.py
Due: run-setup=false, continued, run-any

common fix done
  plugins/modules/pnp_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Common changes done
  plugins/modules/backup_and_restore_playbook_config_generator.py
Due: run-setup=false, continued, run-any

common fix done
  playbooks/pnp_playbook_config_generator.yml
  plugins/modules/pnp_playbook_config_generator.py
Due: run-setup=false, continued, run-any

common changes incorporated
  playbooks/assurance_device_health_score_settings_playbook_config_generator.yml
  plugins/modules/assurance_device_health_score_settings_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/assurance_device_health_score_settings_playbook_config_generator.json
  tests/unit/modules/dnac/test_assurance_device_health_score_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

add common code changes
  playbooks/network_settings_playbook_config_generator.yml
  plugins/modules/network_settings_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/network_settings_playbook_config_generation.json
  tests/unit/modules/dnac/test_network_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

in progress
  playbooks/events_and_notifications_playbook_config_generator.yml
  plugins/modules/events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

incorporated common changes
  playbooks/assurance_issue_playbook_config_generator.yml
  plugins/modules/assurance_issue_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/assurance_issue_playbook_config_generator.json
  tests/unit/modules/dnac/test_assurance_issue_playbook_config_generator.py
Due: run-setup=false, continued, run-any

sanity fix
  playbooks/assurance_issue_playbook_config_generator.yml
Due: run-setup=false, continued

Common changes in progress
  playbooks/dnac.log
  playbooks/events_and_notifications_playbook_config_generator.yml
  plugins/modules/events_and_notifications_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/events_and_notifications_playbook_config_generator.json
Due: run-setup=false, continued, run-any

common changes done
  playbooks/application_policy_playbook_config_generator.yml
  plugins/modules/application_policy_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/application_policy_playbook_config_generator.json
Due: run-setup=false, continued, run-any

common changes done
  plugins/modules/application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Common changes done
  playbooks/user_role_playbook_config_generator.yml
  plugins/modules/user_role_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/user_role_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Add header comments to generated playbook
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

Addressed comments
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

added default file mode
  plugins/modules/user_role_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Sanity fixed
  plugins/modules/user_role_playbook_config_generator.py
Due: run-setup=false, continued, run-any

update
  playbooks/network_settings_playbook_config_generator.yml
  plugins/modules/network_settings_playbook_config_generator.py
  tests/unit/modules/dnac/test_network_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Fix config entry from list to dict
  plugins/module_utils/brownfield_helper.py
Due: run-setup=false, continued, run-any, run-all

sanity fixed
  plugins/modules/application_policy_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Site Workflow manager - addressed code review comments
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

chore: deprecate cisco.dnac collection in favor of cisco.catalystcenter and update related documentation
  .github/workflows/sanity_tests_devel.yml
  README.md
  changelogs/changelog.yaml
  galaxy.yml
  plugins/module_utils/dnac.py
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

chore: update deprecation message for cisco.dnac collection to include version 7.0.0
  plugins/module_utils/dnac.py
  plugins/plugin_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

chore: update actions/checkout and actions/setup-python to latest versions
  .github/workflows/sanity_tests.yml
Due: run-setup=false, continued

update
  playbooks/discovery_playbook_config_generator.yml
  plugins/modules/discovery_playbook_config_generator.py
  tests/unit/modules/dnac/test_discovery_playbook_config_generator.py
Due: run-setup=false, continued, run-any

sanity fix
  playbooks/network_settings_playbook_config_generator.yml
Due: run-setup=false, continued

Add YAML document start marker for append output
  plugins/modules/assurance_device_health_score_settings_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Common changes done
  playbooks/events_and_notifications_playbook_config_generator.yml
  plugins/modules/events_and_notifications_playbook_config_generator.py
  tests/unit/modules/dnac/test_events_and_notifications_playbook_config_generator.py
Due: run-setup=false, continued, run-any

lint fixed
  playbooks/provision_playbook_config_generator.yml
Due: run-setup=false, continued

Common changes done
  playbooks/events_and_notifications_playbook_config_generator.yml
Due: run-setup=false, continued

Switch profile config generator - Common code changes file mode and config dict fixed.
  playbooks/network_profile_switching_playbook_config_generator.yml
  plugins/modules/network_profile_switching_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/network_profile_switching_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Switch profile config generator - Common code changes file mode and config dict fixed
  plugins/modules/network_profile_switching_playbook_config_generator.py
Due: run-setup=false, continued, run-any

Wireless Profile CG - Common Changes of file mode and config dict fixed
  playbooks/network_profile_wireless_playbook_config_generator.yml
  plugins/modules/network_profile_wireless_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/network_profile_wireless_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Accesspoint location CG - Common changes file mode and config dict fixed
  playbooks/accesspoint_location_playbook_config_generator.yml
  plugins/modules/accesspoint_location_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/accesspoint_location_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Accesspoint config generator - Common changes of file mode and config dict fixed
  playbooks/accesspoint_playbook_config_generator.yml
  plugins/modules/accesspoint_playbook_config_generator.py
  tests/unit/modules/dnac/fixtures/accesspoint_playbook_config_generator.json
Due: run-setup=false, continued, run-any

Fix NoneType errors in device serial number retrieval
  plugins/modules/lan_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Implemented Fallback logic when the requested device identifier is not available.
  plugins/modules/tags_playbook_config_generator.py
Due: run-setup=false, continued, run-any
