Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

address review comments
  plugins/module_utils/dnac.py
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all, run-networksettings

testing is in progress
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

new branch for application policy
  playbooks/application_policy_workflow_manager.yml
  plugins/modules/application_policy_workflow_manager.py
  tests/integration/ccc_application_policy_workflow_manager/defaults/main.yml
  tests/integration/ccc_application_policy_workflow_manager/meta/main.yml
  tests/integration/ccc_application_policy_workflow_manager/tasks/main.yml
  tests/integration/ccc_application_policy_workflow_manager/tests/test_application_policy_workflow_manager.yml
  tests/integration/ccc_application_policy_workflow_manager/vars/vars_application_policy_workflow_manager.yml
Due: run-setup=false, continued, run-any

assurance healthscore workflow manager
  playbooks/assurance_healthscore_settings_workflow_manager.yml
  plugins/modules/assurance_healthscore_settings_workflow_manager.py
  tests/integration/ccc_assurance_healthscore_settings_management/defaults/main.yml
  tests/integration/ccc_assurance_healthscore_settings_management/meta/main.yml
  tests/integration/ccc_assurance_healthscore_settings_management/tasks/main.yml
  tests/integration/ccc_assurance_healthscore_settings_management/tests/test_assurance_healthscore_settings_management.yml
  tests/integration/ccc_assurance_healthscore_settings_management/vars/vars_assurance_healthscore_settings_management.yml
  tests/unit/modules/dnac/fixtures/assurance_healthscore_settings_workflow_manager.json
  tests/unit/modules/dnac/test_assurance_healthscore_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

remove commented code
  plugins/modules/assurance_healthscore_settings_workflow_manager.py
  tests/integration/ccc_assurance_healthscore_settings_management/tests/test_assurance_healthscore_settings_management.yml
Due: run-setup=false, continued, run-any

Assurance workflow manager
  tests/unit/modules/dnac/test_assurance_issue_settings_workflow_manager.py
Due: run-setup=false, continued

Fix the issue of skipping deleting INFRA and DEFAULT VN, sequence of deletion of anycast gateway, virtual network when anchored VN is used
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

Provision bug for assign site to device fixed
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

bulk provision for version 2.3.7.6 done
  plugins/modules/provision_workflow_manager.py
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued, run-any, run-provision

bulk provision for version 2.3.7.6 done
  tests/output/bot/ansible-test-sanity-pep8.json
  tests/output/bot/ansible-test-sanity-pylint.json
Due: run-setup=false, continued

Pull req move to dev repo
  playbooks/pathtrace_settings_workflow_manager.yml
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Network switch profile workflow manager
  playbooks/network_switch_profile_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/network_switch_profile_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

minor change in site assignment
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Bug fix for the provision assign to device
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

Network wireless profile workflow code completed
  playbooks/network_wireless_profile_workflow_manager.yml
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Network wireless profile workflow code completed
  plugins/modules/network_wireless_profile_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace workflow minor code changes in comments
  plugins/modules/pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

Path trace UT cases added
  tests/integration/ccc_pathtrace_settings_workflow_manager/defaults/main.yml
  tests/integration/ccc_pathtrace_settings_workflow_manager/meta/main.yml
  tests/integration/ccc_pathtrace_settings_workflow_manager/tasks/main.yml
  tests/integration/ccc_pathtrace_settings_workflow_manager/tests/test_pathtrace_settings_workflow_manager.yml
  tests/integration/ccc_pathtrace_settings_workflow_manager/vars/vars_pathtrace_settings_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/pathtrace_settings_workflow_manager.json
  tests/unit/modules/dnac/test_pathtrace_settings_workflow_manager.py
Due: run-setup=false, continued, run-any

force_provision applicable for both device type
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Added the docstring for the method fetch_site_id_from_fabric_id
  plugins/modules/sda_fabric_virtual_networks_workflow_manager.py
Due: run-setup=false, continued, run-any

bulk provision code done
  playbooks/dnac.log
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

The 'ntp.servers' attribute is required to have a value of either IPv4 or IPv6 in CC-2.3.7.6
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Provided success message eventhough the transits are wrong when the state is deleted.
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed the review comments
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

address review comment
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

backward compatibility was added
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

fixed the review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Provision assign device to site code review addressed
  plugins/module_utils/dnac.py
Due: run-setup=false, continued, run-any, run-all

code is in progress
  playbooks/swim_workflow_manager.yml
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

bulk provision code addded
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

minor changes
  playbooks/dnac.log
  playbooks/provision_workflow_manager.yml
Due: run-setup=false, continued

minor changes
  playbooks/provision_workflow_manager.yml
Due: run-setup=false, continued

Update in changelog
  changelogs/changelog.yaml
Due: run-setup=false, continued

updated README
  README.md
Due: run-setup=false, continued

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
