Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Template workflow - Profile assignment and unassignment
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Template workflow - Validation added
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Template workflow - updated UT
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

Template workflow - updated UT
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

Template workflow - updated UT
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
Due: run-setup=false, continued

Template workflow - updated UT
  playbooks/template_workflow_manager.yml
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued

Inventry Workflow - Added Sleep statement
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

New parameter 'site_name_hierarchy' added as part of creating/updating the sda transits networks and this starts supporting from 3.1.3.0 release onwards
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued, run-any

fix the lint indentation issue
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued, run-any

update
  tests/integration/ccc_reports_workflow_management/defaults/main.yml
  tests/integration/ccc_reports_workflow_management/meta/main.yml
  tests/integration/ccc_reports_workflow_management/tasks/main.yml
  tests/integration/ccc_reports_workflow_management/tests/test_reports_management.yml
  tests/integration/ccc_reports_workflow_management/vars/vars_reports_management.yml
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

update in playbook
  playbooks/backup_and_restore_workflow_manager.yml
Due: run-setup=false, continued

test in progress
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Accesspoint Location workflow - Initial Changes
  playbooks/accesspoint_location_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/module_utils/network_profiles.py
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Inventory Workflow - Added the Sleep log message
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

Addressed review comments and rename the parameter name
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued, run-any

bug fix
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/network_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Add extra line after each play
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued, run-any

Add '|' in the description
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued, run-any

fix sanity error
  plugins/modules/sda_fabric_transits_workflow_manager.py
Due: run-setup=false, continued, run-any

IT test cases
  plugins/modules/reports_workflow_manager.py
  tests/integration/ccc_reports_workflow_management/tests/test_reports_management.yml
  tests/integration/ccc_reports_workflow_management/vars/vars_reports_management.yml
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

sanity fix
  tests/unit/modules/dnac/test_reports_workflow_manager.py
Due: run-setup=false, continued

version based routing updated
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

addressed review comments
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

bug fix: should be more flexible with splitting total_hosts
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

wired campus automation module
  playbooks/wired_campus_automation_workflow_manager.yml
  plugins/modules/wired_campus_automation_workflow_manager.py
  tests/integration/ccc_wired_campus_automation_management/defaults/main.yml
  tests/integration/ccc_wired_campus_automation_management/meta/main.yml
  tests/integration/ccc_wired_campus_automation_management/tasks/main.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_authentication.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_cdp.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_dhcp_snooping.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_igmp_snooping.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_lldp.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_logical_ports.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_mld_snooping.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_port_configurations.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_stp.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_vlans.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_vtp.yml
  tests/integration/ccc_wired_campus_automation_management/tests/test_wired_campus_automation_workflow_management.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_authentication.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_cdp.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_dhcp_snooping.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_igmp_snooping.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_lldp.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_logical_ports.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_mld_snooping.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_port_configuration.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_stp.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_vlans.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wca_test_feature_vtp.yml
  tests/integration/ccc_wired_campus_automation_management/vars/vars_wired_campus_automation_workflow_management.yml
Due: run-setup=false, continued, run-any

sanity fix
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed sanity issues
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed sanity issues
  playbooks/wired_campus_automation_workflow_manager.yml
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

Add the missing feature of idempotenancy of creating/updating/deleting the port assignments, port channel and vlan and ssid mappings
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix the UT for the sda host port onboarding module.
  tests/unit/modules/dnac/test_sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued
