Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Inventory Workflow - Added the compare fields of netconf
  playbooks/inventory_workflow_manager.yml
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory

coding is in progress
  playbooks/network_devices_info_workflow_manager.yml
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Includes 2 bug fixes for the wireless design module - None type error when creating anchor groups and ap profiles
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, continued, run-any

Fix the issue of 'str' object has no attribute 'get' When creating new templates
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

code in progress
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

bugs compleated
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

UT completed
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/fixtures/provision_workflow_manager.json
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

UT completed
  plugins/modules/provision_workflow_manager.py
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

UT completed
  tests/unit/modules/dnac/test_provision_workflow_manager.py
Due: run-setup=false, continued

Added the UT for the complete 'events_and_notifications_workflow_manager' module
  tests/unit/modules/dnac/fixtures/events_and_notifications_workflow_manager.json
  tests/unit/modules/dnac/test_events_and_notifications_workflow_manager.py
Due: run-setup=false, continued

Fix the sanity errors
  tests/unit/modules/dnac/test_events_and_notifications_workflow_manager.py
Due: run-setup=false, continued

code compleated
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

addressed comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Wireless profile - Feature template updated
  playbooks/network_profile_wireless_workflow_manager.yml
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

UT and IT compleated
  playbooks/network_devices_info_workflow_manager.yml
  plugins/modules/network_devices_info_workflow_manager.py
  tests/integration/ccc_network_devices_info_workflow_manager/defaults/main.yml
  tests/integration/ccc_network_devices_info_workflow_manager/meta/main.yml
  tests/integration/ccc_network_devices_info_workflow_manager/tasks/main.yml
  tests/integration/ccc_network_devices_info_workflow_manager/tests/test_network_devices_info_workflow_manager.yml
  tests/integration/ccc_network_devices_info_workflow_manager/vars/vars_network_devices_info_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/network_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

UT and IT compleated
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/integration/ccc_fabric_devices_info_workflow_manager/defaults/main.yml
  tests/integration/ccc_fabric_devices_info_workflow_manager/meta/main.yml
  tests/integration/ccc_fabric_devices_info_workflow_manager/tasks/main.yml
  tests/integration/ccc_fabric_devices_info_workflow_manager/tests/test_fabric_devices_info_workflow_manager.yml
  tests/integration/ccc_fabric_devices_info_workflow_manager/vars/vars_fabric_devices_info_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fixed
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

UT and IT in progress
  plugins/modules/swim_workflow_manager.py
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

UT and IT in progress
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

UT and IT completed
  playbooks/fabric_devices_info_workflow_manager.yml
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/fixtures/fabric_devices_info_workflow_manager.json
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

UT & IT Completed
  playbooks/network_devices_info_workflow_manager.yml
  plugins/modules/network_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

UT & IT Completed
  plugins/modules/network_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

PNP workflow - Authorization Set based on claimed device
  plugins/modules/pnp_workflow_manager.py
  tests/unit/modules/dnac/test_pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

PNP workflow - Authorization Set based on claimed device
  plugins/modules/pnp_workflow_manager.py
Due: run-setup=false, continued, run-any, run-pnp

start flexible report
  playbooks/flexible_reports_workflow_manager.yml
  plugins/modules/flexible_reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue workflow - Change status to success in case no data
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue workflow - Change status to success in case no data
  tests/unit/modules/dnac/test_assurance_issue_workflow_manager.py
Due: run-setup=false, continued

test is in progress
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

addressed review comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Assurance issue workflow - Change status to success in case no data
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue workflow - Change status to success in case no data
  playbooks/network_profile_wireless_workflow_manager.yml
Due: run-setup=false, continued

bugs fixed
  playbooks/provision_workflow_manager.yml
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Removing the provisioning check for deleted state.
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Site Workflow - Duplicate check function failed
  plugins/modules/site_workflow_manager.py
Due: run-setup=false, continued, run-any, run-site

Spelling mistakes and update log messages
  plugins/modules/accesspoint_workflow_manager.py
  plugins/modules/inventory_workflow_manager.py
Due: run-setup=false, continued, run-any, run-inventory
