Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Update accesspoint_workflow_manager.yml
  playbooks/accesspoint_workflow_manager.yml
Due: run-setup=false

Workflow module for Access Point configuration
  changelogs/changelog.yaml
Due: run-setup=false

accesspoint_update_feature adding integration test code for accesspoint manager
  tests/integration/ccc_accesspoint_workflow_management/defaults/main.yml
  tests/integration/ccc_accesspoint_workflow_management/meta/main.yml
  tests/integration/ccc_accesspoint_workflow_management/tasks/main.yml
  tests/integration/ccc_accesspoint_workflow_management/tests/test_accesspoint_workflow_manager.yml
  tests/integration/ccc_accesspoint_workflow_management/vars/vars_accesspoint_workflow_manager.yml
Due: run-setup=false, run-any

accesspoint_update_feature modified integration test code for accesspoint manager
  tests/integration/ccc_accesspoint_workflow_management/vars/vars_accesspoint_workflow_manager.yml
Due: run-setup=false, run-any

accesspoint_update_feature new modified integration test code for accesspoint manager
  playbooks/ansible.cfg
  tests/integration/ccc_accesspoint_workflow_management/tests/test_accesspoint_workflow_manager.yml
  tests/integration/ccc_accesspoint_workflow_management/vars/vars_accesspoint_workflow_manager.yml
Due: run-setup=false, run-any

Add default code review template
  .github/PULL_REQUEST_TEMPLATE.md
Due: run-setup=false

Update ansible.cfg
  playbooks/ansible.cfg
Due: run-setup=false

have add the code for version routing in the dnac.py
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Fix for unreacable revices, ap devices and unmanaged devices backup
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

Code Review template
  .github/PULL_REQUEST_TEMPLATE.md
Due: run-setup=false

Fix for unreachable devices, ap devices and unmanaged devices backup
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

sanity error solved
  plugins/module_utils/dnac.py
Due: run-setup=false, run-any, run-all

Adding fix for the issues related to typographical error, unused variables, error message clarity and un-rpovisioning example
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, run-any

Delete playbooks/ansible.cfg
  playbooks/ansible.cfg
Due: run-setup=false

Adding log message
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

minor bugs and enhancement fixed
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, run-any

Bugs Fixed
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, run-any

swim UT test cases and fixtures started
  playbooks/swim_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false

demo test commit
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

Added the limitation of the module in the notes section of documentation
  plugins/modules/fabric_sites_zones_workflow_manager.py
Due: run-setup=false, run-any

added sda_extranet_policies_workflow_manager
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

Added sample playbook for sda_extranet_policies_workflow_manager
  playbooks/sda_extranet_policies_workflow_manager.yml
Due: run-setup=false

sanity bug fixes'
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

sanity bug fixes
  plugins/modules/sda_extranet_policies_workflow_manager.py
Due: run-setup=false, run-any

UT code for site workflow manager
  tests/unit/modules/dnac/fixtures/site_workflow_manager.json
  tests/unit/modules/dnac/test_site_workflow_manager.py
Due: run-setup=false

Updated user and role workflow feature
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false, run-any

2 test cases added
  playbooks/swim_workflow_manager.yml
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false

Updated user and role workflow feature
  plugins/modules/user_role_workflow_manager.py
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/fixtures/user_role_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
  tests/unit/modules/dnac/test_user_role_workflow_manager.py
Due: run-setup=false, run-any

Updated user and role workflow feature
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, run-any

untag test case compleated
  tests/unit/modules/dnac/fixtures/swim_workflow_manager.json
  tests/unit/modules/dnac/test_swim_workflow_manager.py
Due: run-setup=false

Adding site as a paramter for device configs backup
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, run-any

Optimized the code for the reserving the subpool
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, run-any

demo commit
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site
