Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)

Device config backup workflow module enhancement changes
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

Device config backup workflow module enhancement changes
  plugins/modules/device_credential_workflow_manager.py
Due: run-setup=false, continued, run-any, run-devicecredential

rename parameter 'is_copy_the_config' to 'copy_config'
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Fixed the issue faced while creating/updating multiple multicast at once resulting in faliure (due to multiple replication modes for the same fabric in the API pauyload)
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug fixed
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Switch profile Workflow - Duplicate, changed bug fixed
  plugins/module_utils/network_profiles.py
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all

Switch profile Workflow - Duplicate, changed bug fixed
  plugins/module_utils/network_profiles.py
Due: run-setup=false, continued, run-any, run-all

Addressed review comments.
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressing review comments.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressing sanity errors.
  plugins/modules/sda_fabric_devices_workflow_manager.py
Due: run-setup=false, continued, run-any

review comments finished
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Addressed review comments and optimise code
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

remove blank line
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressed code reveiw comments
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance issue workflow Manager - updated document
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Changes in template workflow manager module
  changelogs/changelog.yaml
  galaxy.yml
Due: run-setup=false, continued

network setting workflow manager enhancement
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Removed documentation for application and application sets
  plugins/modules/application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Assurance Issue Workflow - Command execution filter issue fixed
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Device configs backup module github issue 244 fix
  plugins/modules/device_configs_backup_workflow_manager.py
Due: run-setup=false, continued, run-any, run-configbackups

addressed review comments and added example to the documentation for the new param - device_collection_status_check
  plugins/modules/sda_host_port_onboarding_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed the bug with retain_ccc_values, The input format was different in some cases which caused the same value to repeat if it's already available in CCC.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

Sanity Addressing.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any

API uplist for IP pools
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

resolve merge conflict
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

update
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

sanity fix
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Assurance Workflow manager - Addressed Code review comments
  plugins/modules/assurance_issue_workflow_manager.py
Due: run-setup=false, continued, run-any

Review comments fixed
  plugins/modules/application_policy_workflow_manager.py
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued, run-any

Review comments fixed
  tests/unit/modules/dnac/test_application_policy_workflow_manager.py
Due: run-setup=false, continued

Template Workflow - Addressed code review comments
  playbooks/template_workflow_manager.yml
  plugins/modules/template_workflow_manager.py
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
  tests/unit/modules/dnac/test_template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Path Trace Workflow - control path field removed
  playbooks/path_trace_workflow_manager.yml
  plugins/modules/path_trace_workflow_manager.py
  tests/unit/modules/dnac/fixtures/path_trace_workflow_manager.json
  tests/unit/modules/dnac/test_path_trace_workflow_manager.py
Due: run-setup=false, continued, run-any

Bug Fixed - Role does not have valid permissions to access the API when changing role
  plugins/modules/user_role_workflow_manager.py
Due: run-setup=false, continued, run-any

Fixed the verify diff merged issue caused when creating a new multicast.
  plugins/modules/sda_fabric_multicast_workflow_manager.py
Due: run-setup=false, continued, run-any
