Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, continued, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp, run-networksettings, run-serverintegrations, run-template, run-eventsandnotif, run-configbackups, run-provision, run-networkcompliance

fixed sanity issues
  plugins/modules/wired_campus_automation_workflow_manager.py
Due: run-setup=false, continued, run-any

addressed review comments
  plugins/modules/provision_workflow_manager.py
Due: run-setup=false, continued, run-any, run-provision

Bug Fix
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Access point location workflow: Coverd 7 scenario
  playbooks/accesspoint_location_workflow_manager.yml
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Module Returns OK Instead of Fail on Negative Case
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

addressed comments
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

fixed sanity
  plugins/modules/swim_workflow_manager.py
Due: run-setup=false, continued, run-any, run-swim

Template workflow - Changed to profile_names and removed detach_profile
  playbooks/template_workflow_manager.yml
  plugins/module_utils/network_profiles.py
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-all, run-template

Template workflow - Changed to profile_names and removed detach_profile
  tests/unit/modules/dnac/fixtures/template_workflow_manager.json
Due: run-setup=false, continued

Template workflow - Changed to profile_names and removed detach_profile
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Documentation changes in network profile switching module
  plugins/modules/network_profile_switching_workflow_manager.py
Due: run-setup=false, continued, run-any

Switch Profile - Addressed code review comments
  plugins/modules/network_profile_wireless_workflow_manager.py
Due: run-setup=false, continued, run-any

Accesspoint location Workflow - Added sanity
  plugins/modules/accesspoint_location_workflow_manager.py
Due: run-setup=false, continued, run-any

Template workflow - updated the export_projects and removed version control
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Addressed Review Comments
  plugins/modules/fabric_devices_info_workflow_manager.py
  tests/unit/modules/dnac/test_fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

doc update
  plugins/modules/reports_workflow_manager.py
Due: run-setup=false, continued, run-any

Template workflow - added 4 more examples
  plugins/modules/template_workflow_manager.py
Due: run-setup=false, continued, run-any, run-template

Added logs
  plugins/modules/fabric_devices_info_workflow_manager.py
Due: run-setup=false, continued, run-any

fixed sanity issues
  tests/integration/ccc_wired_campus_automation_management/tests/test_wca_feature_port_configurations.yml
Due: run-setup=false, continued, run-any

added reset feature for dhcp
  plugins/modules/network_settings_workflow_manager.py
Due: run-setup=false, continued, run-any, run-networksettings

Path conditions:
  run-setup=false: any of: .*
  continued: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
  run-networksettings: (any of: plugins/modules/network_settings_workflow_manager.py) or (any of: tests/integration/ccc_network_settings_management/.*)
  run-serverintegrations: (any of: plugins/modules/ise_radius_integration_workflow_manager.py) or (any of: tests/integration/ccc_aaa_server_management/.*)
  run-template: (any of: plugins/modules/template_workflow_manager.py) or (any of: tests/integration/ccc_template_management/.*)
  run-eventsandnotif: (any of: plugins/modules/events_and_notifications_workflow_manager.py) or (any of: tests/integration/ccc_events_and_notification_management/.*)
  run-configbackups: any of: plugins/modules/device_configs_backup_workflow_manager.py
  run-provision: any of: plugins/modules/provision_workflow_manager.py
  run-networkcompliance: (any of: plugins/modules/network_compliance_workflow_manager.py) or (any of: tests/integration/ccc_network_compliance_management/.*)
